.admin-detail.row
  #contentModal.reveal-modal.small{'data-reveal': None}
  %div.submit-area
    %a{:class => "button radius small", :href => "/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/discover/create", :data-reveal-id => 'contentModal', :data-reveal-ajax =>'true'}
      New item
      %i{'class': "fa fa-plus"}
  %br
  .large-12.large.columns
  -if discovery_items
    %table{style:"table-layout: fixed; width: 100%"}
      %thead
        %tr
          %th= _("Title")
          %th= _("Link")
          %th= _("Author")
          %th= _("Edit")
          %th= _("Delete")
      %tbody#sort-discovery
        - for content in discovery_items
          %tr{id: "#{content.id}"}
            %td{style: "word-wrap: break-word"}= content.title
            %td{style: "word-wrap: break-word"}= content.link
            %td{style: "word-wrap: break-word"}= content.author
            %td
              %a{:href => "/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/discover/edit/#{content.id}", :data-reveal-id => 'contentModal', :data-reveal-ajax =>'true'}
                %i{'style': "color:green", 'class': "fa fa-pencil-square-o"}
            %td
              %a{class: "confirm", href: "/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/discover/delete/#{content.id}"}
                %i{'style': "color:red", 'class': "fa fa-times"}
  -else
    This learner dashboard has no discover content!

  %a{id: "saveSort", class: "button radius small", style: "display:none"}
      Save list order
      %i{'class': "fa fa-save"}

  %div{id: "savedSort", class: "button radius small disabled", style: "display:none"}
    Saved
      %i{'class': "fa fa-check", style: "color:green"}
