- if discovery_id
  %section
    %h1 Edit Discover Item
- else 
  %section
    %h1 Create Discover Item
%hr
.close-reveal-modal
  %i.fa.fa-times-circle
%form.modal_form{action: "#{url}", method: "POST"}
  - csrf_token
  .row
    .small-3.columns
    .small-9.columns= form.link.errors
  .row
    .small-3.columns= form.link.label_tag
    .small-9.columns= form.link
  .row
    .small-3.columns
    .small-9.columns= form.title.errors
  .row
    .small-3.columns= form.title.label_tag
    .small-9.columns= form.title
  .row
    .small-3.columns
    .small-9.columns= form.author.errors
  .row
    .small-3.columns= form.author.label_tag
    .small-9.columns= form.author
  %input{'type': 'hidden', 'name': 'learner_dashboard', 'value': '#{learner_dashboard}'}
  .error
    - if error
      = error
  %input#formSubmit.button.radius.small{type: "submit", value: "Save", disabled: "True"}

  %script{src: "/static/js/admin_learner_dashboard/form_changed_check.js"}
