- load i18n
.row
  .large-12.columns
    %a.button.radius.small{:href => "/admin/courses/#{course_id}/learner_dashboard/discover/create", :data-reveal-id => 'discoverModal', :data-reveal-ajax =>'true', style: "margin-bottom: 15px"}
      New discovery item
      %i.fa.fa-plus
    -if discovery_items
      %table{style:"table-layout: fixed; width: 100%"}
        %thead
          %tr
            %th
              {% trans "Title" %}
            %th
              {% trans "Link" %}
            %th
              {% trans "Author" %}
            %th
              {% trans "Edit" %}
            %th
              {% trans "Delete" %}
        %tbody#discover-body
          - for discover in discovery_items
            %tr{id: "#{discover.id}"}
              %td{style: "word-wrap: break-word"}= discover.title
              %td{style: "word-wrap: break-word"}= discover.link
              %td{style: "word-wrap: break-word"}= discover.author
              %td
                %a{:href => "/admin/courses/#{course_id}/learner_dashboard/discover/edit/#{discover.id}", :data-reveal-id => 'discoverModal', :data-reveal-ajax =>'true'}
                  %i.fa.fa-pencil-square-o{'style': "color:green"}
              %td
                %a.confirm{OnClick: 'deleteDiscover(#{discover.id}, #{learner_dashboard_id})'}
                    %i.fa.fa-times{'style': "color:red"}
    -if discovery_items
      %a#saveSortDiscover.button.radius.small{style: "display:none"}
        {% trans "Save list order" %}
          %i.fa.fa-save

      %div#savedSortDiscover.button.radius.small.disabled{style: "display:none"}
        {% trans "Saved" %}
          %i.fa.fa-check{style: "color:green"}
