- if tile_id
  %section
    %h1 Edit Element
- else 
  %section
    %h1 Create Element
%hr
.close-reveal-modal
  %i.fa.fa-times-circle
%form.modal_form{action: '/admin/courses/#{course_id}/learner_dashboard/#{learner_dashboard_id}/tile/#{tile_id}', method: 'POST', enctype: 'multipart/form-data'}
  - csrf_token
  .row
    .small-3.columns
    .small-9.columns= form.tile_type.errors
  .row
    .small-3.columns= "Element type:"
    .small-9.columns= form.tile_type

  .row
    .small-3.columns
    .small-9.columns= form.show_in_dashboard.errors
  .row
    .small-3.columns= "Tile view:"
    .small-9.columns= form.show_in_dashboard

  .row
    .small-3.columns
    .small-9.columns= form.show_in_calendar.errors
  .row
    .small-3.columns= "Calendar view:"
    .small-9.columns= form.show_in_calendar

  .row
    .small-3.columns
    .small-9.columns= form.publish_date.errors
  .row
    .small-3.columns= "Access date:"
    .small-9.columns= form.publish_date

  .row
    .small-3.columns
    .small-9.columns= form.label.errors
  .row
    .small-3.columns= form.label.label_tag
    .small-9.columns= form.label

  .row
    .small-3.columns
    .small-9.columns= form.title.errors
  .row
    .small-3.columns= form.title.label_tag
    .small-9.columns= form.title

  .row
    .small-3.columns
    .small-9.columns= form.link.errors
  .row
    .small-3.columns= form.link.label_tag
    .small-9.columns= form.link

  .row
    .small-3.columns
    .small-9.columns= form.note.errors
  .row
    .small-3.columns= form.note.label_tag
    .small-9.columns= form.note

  .calendar_fields
    .row
      .small-3.columns
      .small-9.columns= form.row.errors
    .row
      .small-3.columns= form.row.label_tag
      .small-9.columns= form.row

    .start_date
      .row
        .small-3.columns
        .small-9.columns= form.start_date.errors
      .row
        .small-3.columns= "Calendar start date:"
        .small-9.columns= form.start_date
    .end_date
      .row
        .small-3.columns
        .small-9.columns= form.end_date.errors
      .row
        .small-3.columns= "Calendar end date:"
        .small-9.columns= form.end_date

    .fa_icon
      .row
        .small-3.columns
        .small-9.columns= form.fa_icon.errors
      .row
        .small-3.columns= "Font Awesome Icon:"
        .small-9.columns= form.fa_icon

    .row
      .small-3.columns
      .small-9.columns= form.track_progress.errors
    .row
      .small-3.columns= "Track progress:"
      .small-9.columns= form.track_progress

  .tile_fields
    .row
      .small-3.columns
      .small-9.columns= form.background_image.errors
    .row
      .small-3.columns= form.background_image.label_tag
      .small-9.columns= form.background_image

    .row
      - if form.background_image.value
        .small-3.columns Current image:
        .small-9.columns
          %img{src: "/company_images/#{form.background_image.value}", width:'100px'}
    %br
    %div#colorInputs
      .row
        .small-3.columns
        .small-9.columns= form.label_color.errors
      .row
        .small-3.columns= form.label_color.label_tag
        .small-9.columns.tile-input
          %input#id_label_color{'type': 'color', 'name': 'label_color', 'value': "#{form.label_color.value}", 'data-default-value': "#{default_colors.label}"}

      .row
        .small-3.columns
        .small-9.columns= form.title_color.errors
      .row
        .small-3.columns= form.title_color.label_tag
        .small-9.columns.tile-input
          %input#id_title_color{'type': 'color', 'name': 'title_color', 'value': "#{form.title_color.value}", 'data-default-value': "#{default_colors.title}"}

      .row
        .small-3.columns
        .small-9.columns= form.note_color.errors
      .row
        .small-3.columns= form.note_color.label_tag
        .small-9.columns.tile-input
          %input#id_note_color{'type': 'color', 'name': 'note_color', 'value': "#{form.note_color.value}", 'data-default-value': "#{default_colors.note}"}

      .row
        .small-3.columns
        .small-9.columns= form.tile_background_color.errors
      .row
        .small-3.columns= form.tile_background_color.label_tag
        .small-9.columns.tile-input
          %input#id_tile_background_color{'type': 'color', 'name': 'tile_background_color', 'value': "#{form.tile_background_color.value}", 'data-default-value': "#{default_colors.background}"}

  %input{'type': 'hidden', 'name': 'learner_dashboard', 'value': '#{learner_dashboard_id}'}
  .error
    - if error
      = error

  - if tile_id
    %input#resetColors.tile_fields.button.radius.small.left{type: "submit", value: "Reset tile colors"}
  - else
    %input#resetColors.tile_fields.button.radius.small.left{type: "submit", value: "Reset tile colors", disabled: "True"}
  %input#formSubmit.button.radius.small.right{type: "submit", value: "Save", disabled: "True"}

  %script{src: "/static/js/admin_learner_dashboard/form_changed_check.js"}
  %script{src: "/static/js/admin_learner_dashboard/element_modal.js"}
  %script{src: "/static/js/vendor/flatpickr.min.js"}

  %script
    var startDate = document.getElementById("id_start_date").flatpickr({
      enableTime: true,
      dateFormat: "m/d/Y H:i",
    });
    var endDate = document.getElementById("id_end_date").flatpickr({
      enableTime: true,
      dateFormat: "m/d/Y H:i",
    });

    var publishDate = document.getElementById("id_publish_date").flatpickr({
      enableTime: true,
      dateFormat: "m/d/Y H:i",
    });

    startDate.config.onChange = dateObj => endDate.set("minDate", dateObj.fp_incr(0));
    endDate.config.onChange = dateObj => startDate.set("maxDate", dateObj.fp_incr(0));

    $('.flatpickr-calendar').css('z-index','10000000');

    $('#colorInputs :input').change(function() {
      $('#resetColors').attr('disabled',false);
    });

    $("#id_link").prop('required',true);
    $("#id_tile_type").prop('required',true);

    $("form").submit(function(event) {
      var headers = {
        'X-CSRFToken': $.cookie('apros_csrftoken')
      }
      event.preventDefault();
      
      var form = $(this).first();
      var options = {
        headers: headers,
        method: 'POST',
        contentType: false,
        url: form.attr('action'),
        success: function(data, status, xhr) {
          var contentType = xhr.getResponseHeader('content-type') || '';
          if (contentType.indexOf('json') > -1 && data.redirect) {
            window.location.href = data.redirect;
          }
          else {
            form.parent().html(data);
            if (callback !== undefined) {
              callback();
            }
          }
        }
      }

      form.ajaxSubmit(options);

    });
    var background = $('#id_tile_background_color');
    var label = $('#id_label_color');
    var note = $('#id_note_color');
    var title = $('#id_title_color');

    $('#resetColors').on('click', function(event){
      event.preventDefault();
      background.val(background.data('default-value'));
      label.val(label.data('default-value'));
      note.val(note.data('default-value'));
      title.val(title.data('default-value'));
      $('#formSubmit').attr('disabled',false);
      $('#resetColors').attr('disabled',true);
    });
