- load i18n

.row
  .large-12.columns
    %p.strong
      {% trans "Source course:" %} #{course_id}
    %table{style:"table-layout: fixed; width: 100%"}
      %thead
        %tr
          %th
            {% trans "Destination course:" %}
          %th
      %tbody
        - for course in courses
          %tr{id: "#{course.pk}"}
            %td{style: "word-wrap: break-word"}= course.course_id
            %td
              %a{href: '#', :OnClick => 'confirmAndCopy(\"#{course_id}\", \"#{learner_dashboard_id}\", \"#{course.course_id}\", #{course.pk})'}
                %i.fa.fa-copy{'style': "color:green; float: right;"}

%script
  function confirmAndCopy(source, learner_dashboard_id, destination, id){
      var values = {'source': source, 'destination': destination};
      var copyDashboardString = gettext("You are about to copy dashboard %(source)s to %(destination)s");
      if (window.confirm(interpolate(copyDashboardString, values, true)) {
        var url = "/admin/courses/" + source + "/learner_dashboard/" + learner_dashboard_id + "/duplicate/" + destination;
        var element = $("#" + id);
        var hrefElement = element.find('a');
        $.ajax({
          headers: {
            'X-CSRFToken': $.cookie('apros_csrftoken')
          },
          type: 'POST',
          url: url,
          beforeSend: function(){
            element.find('.fa').removeClass('fa-copy').addClass('fa-spin fa-spinner');
          },
          success: function(){
            var newUrl = "/admin/courses/" + destination + "/learner_dashboard";
            element.find('.fa').removeClass('fa-spin fa-spinner').addClass('fa-check');
            hrefElement.prop("onclick", null);
            hrefElement.attr("href", newUrl);
          },
          error: function(xhr, status, error) {
            element.find('.fa').removeClass('fa-spin fa-spinner').addClass('fa-times');
            hrefElement.prop("onclick", null);
            hrefElement.attr("href", "#");
            alert(interpolate(gettext('Something went wrong: %s'), [xhr.responseText]));
          }
        });
      }
    }
