- extends "layout.haml"

- block content
  #home-landing
    - for cell in cells
      - if cell.type == 'tagline'
        .cell.col-2.tagline
          %span= cell.content
      - elif cell.type == 'entry-point'
        %a.cell.entry-point{href: '/experience'}
          .icon-circled{class: "#{cell.icon_color}"}
            %i{class: "mk-icon-#{cell.icon}"}
          .nav-1= cell.title
          .subtitle= cell.subtitle
          .label-2= cell.content
          %i.fa.fa-arrow-circle-right
      - elif cell.type == 'distinctive-feature'
        %a.cell.distinctive-feature{href: '/experience', class: "#{cell.background}"}
          .nav-1 Distinctive Features:
          .title= cell.title
          .content= cell.content
          %i.fa.fa-arrow-right
      - elif cell.type == 'quote'
        .cell.quote
          %blockquote= cell.quote
          .label-2= cell.name
          .title= cell.title
      - elif cell.type == 'stock-image'
        .cell.stock-image
          %img{src: "/static/image/home-grid/#{cell.image}.jpg", srcset: "/static/image/home-grid/#{cell.image}@2x.jpg 2x"}
      - elif cell.type == 'video'
        .cell.video
          %a{"data-reveal-id": 'mckinsey_video', 'data-video': "#{cell.url}"}
            %i.fa.fa-play-circle
