- load i18n

- if show_app_link_popup
  #mobileAppLinkModal.reveal-modal.small{"data-reveal" => "true", :style => "background: url(#{company_mobile_app_map.background_image}) no-repeat center top"}
    .mobile-container
      .logo
        %img{:alt => "", :src => "#{company_mobile_app_map.logo_image}.png", :srcset => "#{company_mobile_app_map.logo_image}.png 1x, #{company_mobile_app_map.logo_image}@2x.png 2x, #{company_mobile_app_map.logo_image}@3x.png 3x"}
      %p.tagline
        = company_mobile_app_map.tagline
      .downlaods
        .store.apple
          %a#ios_download_link{:href => "#{company_mobile_app_map.ios}", 'data-username': "#{request.GET.username}"}
            %img{:alt => "", :src => "/static/image/mobile_popup/#{company_mobile_app_map.download_banner_image}.png", :srcset => "/static/image/mobile_popup/#{company_mobile_app_map.download_banner_image}.png 1x, /static/image/mobile_popup/#{company_mobile_app_map.download_banner_image}@2x.png 2x, /static/image/mobile_popup/#{company_mobile_app_map.download_banner_image}@3x.png 3x"}
        %p.close-popup-tagline
          %a.close-reveal-modal{"aria-label" => "Close"}
            {% trans "Continue to web" %}
      .mobile-screen
        %img{:alt => "", :src => "#{company_mobile_app_map.mobile_image}.png", :srcset => "#{company_mobile_app_map.mobile_image}.png 1x, #{company_mobile_app_map.mobile_image}@2x.png 2x, #{company_mobile_app_map.mobile_image}@3x.png 3x"}

    %a.close-reveal-modal{"aria-label" => "Close"} ×
