- extends 'admin/program/detail.haml'
- load i18n
- load static
- block admin_detail
  %h1
    %span
      {% trans "Program: " %}
    %span= program.display_name
  %hr
  %section
    #course-list.large-7.columns
      %table.course-list
    .large-5.columns.course-selection
      %a#course-program-action.button.radius.tiny{href: "/admin/programs/#{program.id}/add_courses/"}
        %span
          {% trans "Update course(s) in this program" %}
      .select-program-box
        .name
          = program.display_name
          (
          %span><
            = program.name
          )
        .prog-info
          %span
            {% trans "Program Run:" %}
          %span= program.date_range
        .prog-info
          %span
            {% trans "Number of Courses:" %}
          %span= course_count
