- load i18n
%header
  %h1
    {% trans "Edit Program details" %}
  %p.description
    {% trans "Edit Program details using this form" %}

.close-reveal-modal
  %i.fa.fa-times-circle

%form.admin-form{action: "/admin/programs/#{program_id}/edit", method: "POST"}
  .error
    - if error
      = error
  - csrf_token
  %fieldset
    - for field in form
      .row
        .small-3.columns
        .small-9.columns= field.errors
      .row
        .small-3.columns= field.label_tag
        .small-9.columns= field

  .submit-area
    %input.button.radius.small{type: "submit", value: "#{submit_label}"}
