%header= _("Create New Program")
.subhead= _("Add a program")
.description
  Add a program using this form

.close-reveal-modal
  %i.fa.fa-remove
.admin-form
  %form{action: "/admin/programs/program_new", method: "POST"}
    .error
      - if error
        = error
    - csrf_token
    = form
    %input.button.radius.small{type: "submit", value: "#{submit_label}"}
