- extends "layout.haml"
- load i18n

- block header
  - include 'accounts/login_header.haml'
- block content
  .row
    .reset-password-form.large-10.medium-10.large-centered.medium-centered.columns
      .row
          %form.large-7.medium-7.columns{action: "", method: "post"}
            - csrf_token
            - if validlink
              %h1 {% trans "Reset Your Password" %}
              %p {% blocktrans %} Please enter your new password twice so we can verify you typed it in correctly. Your password must be at least 8 characters and include upper and lowercase letters - plus numbers OR special characters. Required fields are noted by an asterisk (
                %span.required-field><
                %span ). {% endblocktrans %}
              %br
              %br
              = form.new_password1.errors
              %label{for: "id_new_password1"} {% trans "Your New Password" %}
                %span.required-field
                %span
              = form.new_password1
              %br
              = form.new_password2.errors
              %label{for: "id_new_password2"} {% trans "Your New Password Again" %}
                %span.required-field
                %span
              = form.new_password2
              %br
              {% trans "Change My Password" as submit_button_text %}
              %input.radius.small.button{type: "submit", value: "#{submit_button_text}"}
            - else
              %h1 {% trans "Password Reset Unsuccessful" %}
              %p {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}