You're receiving this email because you requested enrollment for #{course} at McKinsey Academy.

Please go to the following page to access your course:

#{protocol}://#{domain}#{url}

Your username, in case you've forgotten:
    = user.username

Thanks for using our site!

The McKinsey Academy team.
