%ul.course-tabs
  %li
    %a.nav-1{class: "{% ifequal request.resolver_match.url_name 'navigate_to_lesson_module' %}selected{% endifequal %}", href: "/courses/#{course.id}/lessons", "data-dropdown": "lessons-content", "data-tooltip": "Lessons"}
      %i.mk-icon-lessonsnav
    #lessons-content.course-tab-dropdown{"data-dropdown-content": True}
      - include "courses/content_page/lesson_menu.haml"
  %li
    %a{class: "nav-1 {% ifequal request.resolver_match.url_name 'course_discussion' %}selected{% endifequal %}", href: "/courses/#{course.id}/discussion", "data-tooltip": "Discussion"}
      %i.fa.fa-comments-o
  %li
    %a{class: "nav-1 {% ifequal request.resolver_match.url_name 'course_group_work' %}selected{% endifequal %}", href: "/courses/#{course.id}/group_work", "data-tooltip": "Group Work"}
      %i.mk-icon-groupworknav
  %li
    %a{class: "nav-1 {% ifequal request.resolver_match.url_name 'course_cohort' %}selected{% endifequal %}", href: "/courses/#{course.id}/cohort", "data-tooltip": "Cohort"}
      %i.fa.fa-globe
  %li
    %a{class: "nav-1 {% ifequal request.resolver_match.url_name 'course_progress' %}selected{% endifequal %}", href: "/courses/#{course.id}/progress", "data-tooltip": "Progress"}
      %i.fa.fa-bar-chart-o
  %li
    %a{class: "nav-1 {% ifequal request.resolver_match.url_name 'course_news' %}selected{% endifequal %}", href: "/courses/#{course.id}/announcements", "data-dropdown": "announcements-content", "data-tooltip": "Course Materials"}
      %i.fa.fa-file-text-o
    #announcements-content.course-tab-dropdown{"data-dropdown-content": True}
      %a{class: "{% ifequal request.resolver_match.url_name 'course_news' %}selected{% endifequal %}", href: "/courses/#{course.id}/announcements"}= _("Announcements")
      %a{class: "{% ifequal request.resolver_match.url_name 'course_overview' %}selected{% endifequal %}", href: "/courses/#{course.id}/overview"}= _("Course Overview")
      %a{class: "{% ifequal request.resolver_match.url_name 'course_resources' %}selected{% endifequal %}", href: "/courses/#{course.id}/resources"}= _("Resources")
