- load i18n
%ul.course-tabs
  - if request.session.last_visited_course
    %li
      %a{"class": "nav-1", "href": "/courses/#{request.session.last_visited_course}", "data-tooltip": '{% trans "Learner Dashboard" %}',"style": "{% if client_customization and client_customization.hex_navigation_icons %}color:#{client_customization.hex_navigation_icons};{% endif %}"}
        %i.fa.fa-map-marker
  %li
    %a.nav-1{"class": "{% ifequal request.resolver_match.url_name 'navigate_to_lesson_module' %}selected{% endifequal %}", "href": "/courses/#{course.id}/lessons", "data-dropdown": "lessons-content", "data-tooltip": '{% trans "Lessons" %}', "style": "{% if client_customization and client_customization.hex_navigation_icons %}color:#{client_customization.hex_navigation_icons};{% endif %}"}
      %i.mk-icon-lessonsnav
    #lessons-content.course-tab-dropdown{"data-dropdown-content": "true"}
      - include "courses/content_page/lesson_menu.haml"
  - if feature_flags.discussions
    %li
      %a{"class": "nav-1 {% ifequal request.resolver_match.url_name 'course_discussion' %}selected{% endifequal %}", "href": "/courses/#{course.id}/discussion", "data-tooltip": '{% trans "Discussion" %}', "style": "{% if client_customization and client_customization.hex_navigation_icons %}color:#{client_customization.hex_navigation_icons};{% endif %}"}
        %i.fa.fa-comments-o
  - if feature_flags.group_work
    %li
      %a{"class": "nav-1 {% ifequal request.resolver_match.url_name 'course_group_work' %}selected{% endifequal %}", "href": "/courses/#{course.id}/group_work", "data-tooltip": '{% trans "Group Work" %}', "style": "{% if client_customization and client_customization.hex_navigation_icons %}color:#{client_customization.hex_navigation_icons};{% endif %}"}
        %i.mk-icon-groupworknav
  - if feature_flags.cohort_map
    %li
      %a{"class": "nav-1 {% ifequal request.resolver_match.url_name 'course_cohort' %}selected{% endifequal %}", "href": "/courses/#{course.id}/cohort", "data-tooltip": '{% trans "Cohort" %}', "style": "{% if client_customization and client_customization.hex_navigation_icons %}color:#{client_customization.hex_navigation_icons};{% endif %}"}
        %i.fa.fa-globe
  - if feature_flags.progress_page
    %li
      %a{"class": "nav-1 {% ifequal request.resolver_match.url_name 'course_progress' %}selected{% endifequal %}", "href": "/courses/#{course.id}/progress", "data-tooltip": '{% trans "Progress" %}', "style": "{% if client_customization and client_customization.hex_navigation_icons %}color:#{client_customization.hex_navigation_icons};{% endif %}"}
        %i.old-fa-bar-chart
  %li
    %a{"class": "nav-1 {% ifequal request.resolver_match.url_name 'course_news' %}selected{% endifequal %}", "href": "/courses/#{course.id}/announcements", "data-dropdown": "announcements-content", "data-tooltip": '{% trans "Course Materials" %}', "style": "{% if client_customization and client_customization.hex_navigation_icons %}color:#{client_customization.hex_navigation_icons};{% endif %}"}
      %i.fa.fa-file-text-o
    #announcements-content.course-tab-dropdown{"data-dropdown-content": "true"}
      %a{"class": "{% ifequal request.resolver_match.url_name 'course_news' %}selected{% endifequal %}", "href": "/courses/#{course.id}/announcements"}
        {% trans "Announcements" %}
      %a{"class": "{% ifequal request.resolver_match.url_name 'course_overview' %}selected{% endifequal %}", "href": "/courses/#{course.id}/overview"}
        {% trans "Course Overview" %}
      - if feature_flags.resources
        %a{"class": "{% ifequal request.resolver_match.url_name 'course_resources' %}selected{% endifequal %}", "href": "/courses/#{course.id}/resources"}
          {% trans "Resources" %}
  - if feature_flags.notifications
    %li
      %a.xns-icon{"class":"nav-1", "data-tooltip": '{% trans "Notifications" %}', "style": "{% if client_customization and client_customization.hex_navigation_icons %}color:#{client_customization.hex_navigation_icons};{% endif %}"}
        %i.fa.fa.fa-exclamation-circle
        %span.xns-counter{"style": "{% if client_customization %}{% if client_customization.hex_notification %}background-color:#{client_customization.hex_notification};{% endif %}{% if client_customization.hex_notification_text %}color:#{client_customization.hex_notification_text};{% else %}color:#fff;{% endif %}{% endif %}"}

%div.xns-pane
- if feature_flags.notifications
  - include "django/notifications_widget.html"
