%ul.course-tabs
  %li
    %a{class: "nav-1 {% ifequal current_view 'overview' %}selected{% endifequal %}", href: "/courses/#{course.id}/view/overview"}= _("Overview")
  %li
    %a{class: "nav-1 {% ifequal current_view 'lessons' %}selected{% endifequal %}", href: "/courses/#{course.id}/lessons"}= _("Lessons")
  %li
    %a{class: "nav-1 {% ifequal current_view 'news' %}selected{% endifequal %}", href: "/courses/#{course.id}/view/news"}= _("News")
  %li
    %a{class: "nav-1 {% ifequal current_view 'discussion' %}selected{% endifequal %}", href: "/courses/#{course.id}/view/discussion"}= _("Discussion")
  %li
    %a{class: "nav-1 {% ifequal current_view 'progress' %}selected{% endifequal %}", href: "/courses/#{course.id}/view/progress"}= _("Progress")
  %li
    %a{class: "nav-1 {% ifequal current_view 'cohort' %}selected{% endifequal %}", href: "/courses/#{course.id}/view/cohort"}= _("Cohort")
  %li
    %a{class: "nav-1 {% ifequal current_view 'syllabus' %}selected{% endifequal %}", href: "/courses/#{course.id}/view/syllabus"}= _("Syllabus")
  %li
    %a{class: "nav-1 {% ifequal current_view 'resources' %}selected{% endifequal %}", href: "/courses/#{course.id}/view/resources"}= _("Resources")
  %li
    %a{class: "nav-1 {% ifequal current_view 'group_work' %}selected{% endifequal %}", href: "/courses/#{course.id}/view/group_work"}= _("Group Work")
%hr
