%article#course-statistics
  %section.course-proficiency.no-progress
    .sub-2
      Proficiency:
      %a{href: '#'}
        %i.fa.fa-arrow-circle-right
    .visualization
      .total= proficiency
      .inner-circle
      .progress-radial{'class': "progress-#{proficiency_graph}"}
    .label-4 cohort average = ={cohort_proficiency_average}
    %a.info{href: '#'}
      %i.fa.fa-info-circle
  %section.course-progress
    .sub-2
      Progress:
      %a{href: '#'}
        %i.fa.fa-arrow-circle-right
    .visualization
      .total{style: "left:#{completion_percent}%;"}
        ={completion_percent}%
      .bar{class: "{% if course_avg_percent > completion_percent %}trailing{% endif %}", style: "width:#{completion_percent}%;"}
      .triangle{style: "left:#{course_avg_percent}%"}
    .label-4 cohort average = ={course_avg_percent}%
    %a.info{href: '#'}
      %i.fa.fa-info-circle
  %section.course-engagement{class: "{% if social_total == 0 %}no-progress{% endif %}" }
    .sub-2
      Engagement:
      %a{href: '#'}
        %i.fa.fa-arrow-circle-right
    .visualization{class: "{% if social_total >= 90 %}filled{% endif %}"}
      .band-1{class: "{% if social_total >= 30 %}filled{% endif %}"}
      .band-2{class: "{% if social_total >= 60 %}filled{% endif %}"}
      .total= social_total
    .label-4 cohort average = ={cohort_social_average} points
    %a.info{href: '#'}
      %i.fa.fa-info-circle
