%ul.course-tabs
  %li
    %a{class: "nav-1 {% ifequal request.resolver_match.url_name 'course_overview' %}selected{% endifequal %}", href: "/courses/#{course.id}/overview"}= _("Overview")
  %li
    %a{class: "nav-1 {% ifequal request.resolver_match.url_name 'navigate_to_lesson_module' %}selected{% endifequal %}", href: "/courses/#{course.id}/lessons"}= _("Lessons")
  %li
    %a{class: "nav-1 {% ifequal request.resolver_match.url_name 'course_news' %}selected{% endifequal %}", href: "/courses/#{course.id}/news"}= _("News")
  %li
    -# Temporary until discussion page is out
    -# %a{class: "nav-1 {% ifequal request.resolver_match.url_name 'course_discussion' %}selected{% endifequal %}", href: "/courses/#{course.id}/discussion"}= _("Discussion")
    %a.nav-1{'data-reveal-id': "course_discussion_modal"}= _("Discussion")
  %li
    %a{class: "nav-1 {% ifequal request.resolver_match.url_name 'course_progress' %}selected{% endifequal %}", href: "/courses/#{course.id}/progress"}= _("Progress")
  %li
    %a{class: "nav-1 {% ifequal request.resolver_match.url_name 'course_cohort' %}selected{% endifequal %}", href: "/courses/#{course.id}/cohort"}= _("Cohort")
  %li
    %a{class: "nav-1 {% ifequal request.resolver_match.url_name 'course_syllabus' %}selected{% endifequal %}", href: "/courses/#{course.id}/syllabus"}= _("Syllabus")
  %li
    %a{class: "nav-1 {% ifequal request.resolver_match.url_name 'course_resources' %}selected{% endifequal %}", href: "/courses/#{course.id}/resources"}= _("Resources")
  %li
    %a{class: "nav-1 {% ifequal request.resolver_match.url_name 'course_group_work' %}selected{% endifequal %}", href: "/courses/#{course.id}/group_work"}= _("Group Work")
%hr
