- load i18n

- get_current_language_bidi as LANGUAGE_BIDI

%article#course-menu
  - if lessons_custom_label
    = lessons_custom_label
  - else
    .sub-2 {% trans "LESSONS:" %}

  .rotator
    - if LANGUAGE_BIDI
      .nav-left
        %i.fa.fa-chevron-left
      .nav-right.disabled
        %i.fa.fa-chevron-right
    - else
      .nav-left.disabled
        %i.fa.fa-chevron-left
      .nav-right
        %i.fa.fa-chevron-right


    .frame
      .slides
        %ul
          - for lesson in course.chapters
            %li{"class": "lesson-card {% if lesson.is_started %}active{% else %}future{% endif %}"}
              %a.card-flip{"href": "{% if lesson.is_started %}#{lesson.navigation_url}{% else %}\#{% endif %}", "onClick": "{% if not lesson.is_started %}return false;{% endif %}"}
                .front.background-white
                  - if not lesson.is_started
                    .bookmark
                      %i.fa.fa-lock
                  - if lesson.bookmark
                    .bookmark
                      %i.fa.fa-bookmark
                  - if lesson_custom_label
                    .label-5.index {% blocktrans with lesson_index=lesson.index %} {{lesson_custom_label}} {{lesson_index}}:{% endblocktrans %}
                  - else
                    .label-5.index {% trans "LESSON" %} {{lesson.index}}:
                  %h2.name= lesson.name
                  - if lesson.estimated_time
                    %p.estimated-time.style-6= lesson.estimated_time
                  - if lesson.progress > 0
                    - if lesson.progress == 100
                      .lesson-progress.complete {% trans "Completed" %}
                    - else
                      .lesson-progress
                        #{lesson.progress}% {% trans "complete" %}
                .back.background-alt-blue
                  .label-2.description
                    - autoescape off
                     {% if not lesson.is_started %}
                        {% if lesson_custom_label %}
                           {% blocktrans with start_date=lesson.start_upon %} This {{lesson_custom_label}} will be available on {{ start_date }} {% endblocktrans %}
                        {% else %}
                           {% blocktrans with start_date=lesson.start_upon %} This lesson will be available on {{ start_date }} {% endblocktrans %}
                        {% endif %}
                     {% else %}
                        = lesson.description
                     {% endif %}
                     