- load i18n

%article#course-menu
  .sub-2 {% trans "LESSONS:" %}
  .rotator
    .nav-left.disabled
      %i.fa.fa-chevron-left
    .nav-right
      %i.fa.fa-chevron-right

    .frame
      .slides
        %ul
          - for lesson in course.chapters
            %li{"class": "lesson-card {% if lesson.is_started %}active{% else %}future{% endif %}"}
              %a.card-flip{"href": "{% if lesson.is_started %}#{lesson.navigation_url}{% else %}{% endif %}"}
                .front.background-white
                  - if not lesson.is_started
                    .bookmark
                      %i.fa.fa-lock
                  - if lesson.bookmark
                    .bookmark
                      %i.fa.fa-bookmark
                  .label-5.index {% trans "LESSON" %} {{lesson.index}}:
                  %h2.name= lesson.name
                  - if lesson.estimated_time
                    %p.estimated-time.style-6= lesson.estimated_time
                  - if lesson.progress > 0
                    - if lesson.progress == 100
                      .lesson-progress.complete {% trans "Completed" %}
                    - else
                      .lesson-progress
                        #{lesson.progress}% {% trans "complete" %}
                .back.background-alt-blue
                  .label-2.description
                    - autoescape off
                     {% if not lesson.is_started %}
                        {% blocktrans with start_date=lesson.start_upon %} This lesson will be available on {{ start_date }} {% endblocktrans %}
                     {% else %}
                        = lesson.description
                     {% endif %}
                     