%article#course-statistics
  %section.course-proficiency
    - if proficiency == 0
      .zero
        %div
          %span= _("Your course proficiency will be displayed here.")
    .sub-2
      Proficiency:
      %a{href: "/courses/#{course.id}/cohort"}
        %i.fa.fa-arrow-circle-right
    .visualization
      .total= proficiency
      .inner-circle
      .progress-radial{'class': "progress-#{proficiency_graph}"}
    .label-4 cohort average = ={cohort_proficiency_average}
    %a.info{'data-reveal-id': 'mckinsey_proficiency_help'}
      %i.fa.fa-info-circle
    #mckinsey_proficiency_help.reveal-modal.small{'data-reveal': None}
      .close-reveal-modal
        %i.fa.fa-times-circle
      %p This visualization displays your proficiency against a total possible score of 100. The average proficiency of your cohort is displayed as well. Note that your proficiency is based on graded assessments and group work performance.
  - include "courses/visualizations/course_progress.haml"
  %section.course-engagement
    - if social_total == 0
      .zero
        %div
          %span= _("Your social engagement will be displayed here.")
    .sub-2
      Engagement:
      %a{href: "/courses/#{course.id}/cohort"}
        %i.fa.fa-arrow-circle-right
    .visualization{class: "{% if social_total >= 90 %}filled{% endif %}"}
      .band-1{class: "{% if social_total >= 30 %}filled{% endif %}"}
      .band-2{class: "{% if social_total >= 60 %}filled{% endif %}"}
      .total= social_total
    .label-4 cohort average = ={cohort_social_average} points
    %a.info{'data-reveal-id': 'mckinsey_social_help'}
      %i.fa.fa-info-circle
    #mckinsey_social_help.reveal-modal.small{'data-reveal': None}
      .close-reveal-modal
        %i.fa.fa-times-circle
      %p This visualization displays your social engagement within the course. The average engagement of your cohort is displayed as well. You accrue engagement points for interactions on discussion forums.
