-if tile_type = 'lesson'
  -if course.current_lesson.index == course.current_lesson.previous_module.lesson_index
    - if course.current_lesson.previous_module
      %a.page-to.previous{href: '/learnerdashboard#{course.current_lesson.previous_module.navigation_url}/lesson/#{tile_id}/#{learner_dashboard.id}'}
        %i.fa.fa-chevron-left
        .mcka-tooltip
          %p.style-4
            ={course.current_lesson.name}:
            {% trans "Module" %} ={course.current_lesson.previous_module.index} of ={course.current_lesson.previous_module.lesson_count}
          .vertical-index= course.current_lesson.previous_module.name
    - else
      %a.page-to.previous
        %i.fa.fa-chevron-left
  -if course.current_lesson.index == course.current_lesson.next_module.lesson_index
    - if course.current_lesson.next_module
      %a.page-to.next{href: '/learnerdashboard#{course.current_lesson.next_module.navigation_url}/lesson/#{tile_id}/#{learner_dashboard.id}'}
        %i.fa.fa-chevron-right
        .mcka-tooltip
          %p.style-4
            ={course.current_lesson.name}:
            {% trans "Module" %} ={course.current_lesson.next_module.index} of ={course.current_lesson.next_module.lesson_count}
          .vertical-index= course.current_lesson.next_module.name
    - else
      %a.page-to.next
        %i.fa.fa-chevron-right
