- if course.current_lesson.previous_url
  %a.page-to.previous{href: "#{course.current_lesson.previous_url}"}
    %i.fa.fa-chevron-left
    .tooltip{class: "{% if course.current_module.index == 1 %}lesson-page{% endif %}"}
      - if course.current_module.index == 1
        .vertical-index= _("Return to previous lesson")
      - else
        %p.style-4
          Lesson ={course.current_lesson.index}:
          Module ={course.current_module.previous_module_index} of ={course.current_lesson.module_count}
        .vertical-index= course.current_module.previous_module_name
- else
  %a.page-to.previous
    %i.fa.fa-chevron-left
- if course.current_lesson.next_url
  %a.page-to.next{href: "#{course.current_lesson.next_url}"}
    %i.fa.fa-chevron-right
    .tooltip{class: "{% if course.current_module.index == course.current_lesson.module_count %}lesson-page{% endif %}"}
      - if course.current_module.index == course.current_lesson.module_count
        .vertical-index= _("Go to next lesson")
      - else
        %p.style-4
          Lesson ={course.current_lesson.index}:
          Module ={course.current_module.next_module_index} of ={course.current_lesson.module_count}
        .vertical-index= course.current_module.next_module_name
- else
  %a.page-to.next
    %i.fa.fa-chevron-right
