- extends "admin/admin_layout.haml"
- load i18n

- load staticfiles
- block custom_js
  %script{src: "{% static 'js/vendor/tinymce/tinymce.min.js' %}"}

- block content
    #mainCourseDetailsWrapper
        .courseDetailsNavigationButton
          - if companyCourseDetailsPage
            %a{:href => '/admin/companies/#{companyId}', :target => '_self'}>
              < {% trans "Back to" %} #{companyName}
          - else
            %a{:href => '/admin/courses/', :target => '_self'}> <
              {% trans "Back to All Courses" %}
        #courseDetailsDataWrapper{:data-id => '#{id}', :data-name => '#{name}', :admin-flag => '#{companyAdminFlag}', :company-page => '#{companyCourseDetailsPage}', :company-id => '#{companyId}', :internal-flag => '#{internalAdminFlag}'}

                .courseDetailsHeader
                  .container.mainTopHeader
                    .row
                      .col
                        .courseMainHeader
                          %h1
                            #courseDetailsTopContainer
                              .courseDetailsNameAndId
                                = name
                      .courseDetailsTags
                        - if not user.is_company_admin
                          - for tag in tags
                            .courseDetailsTagsList.button.small.radius{:data-id => '#{tag.id}'}
                              %span= tag.name
                              %i.fa.fa-times.courseTagsDeleteIcon
                          %i.fa.fa-pencil.courseTagsIcon

                -# Progress Cards
                .container
                  .row
                    .col
                      #courseMainDetailsContainerView
                        .courseDetailsMenuButtons
                          - if cohorts_available
                            .courseCohortsButton.large-2.columns
                              %a.ome.dome-c{href: "{% url 'cohorts_course_details' id %}"}
                                {% trans "COHORTS" %}
                          %span.courseParticipantsButton.large-2.columns
                            %a.course-tab-link.participants.ome.dome-c.active{:href => '#', :target => '_self', :data-target => 'courseParticipants', :data-container => '#courseDetailsMainContainer', :onclick => 'Apros.Router.HashPageChanger(this)'}>
                              {% trans "PARTICIPANTS" %}
                          %span.courseStatsButton.large-2.columns
                            %a.course-tab-link.stats.ome.dome-c{:href => '#', :target => '_self', :data-target => 'courseStats', :data-container => '#courseDetailsMainContainer', :onclick => 'Apros.Router.HashPageChanger(this)'}>
                              {% trans "STATS" %}
                          - if user.is_mcka_subadmin or user.is_mcka_admin
                            .courseResponsesButton.large-2.columns
                              %a.ome.dome-c{:href => '#', :target => '_self', :data-target => 'courseBlocks', :data-container => '#courseDetailsMainContainer', :onclick => 'Apros.Router.HashPageChanger(this)'}>
                                {% trans "RESPONSES" %}
                          - if request.resolver_match.url_name == 'course_details'
                            .courseStatsButton.large-4.columns
                              %a.ome.dome-c{:href => 'learner_dashboard'}>
                                {% trans "LEARNER DASHBOARD" %}

                            .courseStatsButton.large-4.columns
                              - if certificates_status == certificates_statuses.available
                                %form#generate-certificate-form{action: "{% url 'generate_course_certificates' id %}", method: 'POST'}
                                  - csrf_token
                                  %input{type: 'hidden', name: 'course_end', value: '{{end}}'}
                                  %button.generateCourseCertButton{type: 'submit'}>
                                    {% trans "Generate Certificates" %}
                              - elif certificates_status == certificates_statuses.generating
                                 %button.generateCourseCertButton.disabled
                                   {% trans "Generating Certificates" %}
                              - elif certificates_status == certificates_statuses.generated
                                 %button.generateCourseCertButton.disabled
                                   {% trans "Certificates Generated" %}
                        .courseDetailsBlocks
                          .contentCard.progressWidgets.admin.clearfix
                            .row
                              %div.col.widget.progress-average
                                .holder
                                  .widgetTitle.clearfix
                                    %span {% trans "Participants" %}
                                  .averageTitle
                                    #{users_enrolled}
                                 %small
                                   - if start == '-' or end == '-'
                                    #{start}
                                   - else
                                    #{start} - #{end}

                              %div.col.widget.progress-average
                                .holder
                                  .widgetTitle.clearfix
                                    %span {% trans "Completed" %}
                                  .averageTitle
                                    #{completed}%
                                 %small
                                   {% trans "Average Progress:" %} #{average_progress}%

                              %div.col.widget.progress-average
                                .holder
                                  .widgetTitle.clearfix
                                    %span {% trans "Passed" %}
                                  .averageTitle
                                    #{passed}%
                                 %small
                                   {% trans "Average Proficiency:" %} #{proficiency}
                        .contentCardWrap
                          .contentCard
                            .headerArea.customWidth
                              %h2
                                %span.course-participants-tab {% trans "Participants" %}
                                %span.course-stats-tab.d-none {% trans "Stats" %}

                              #courseDetailsParticipantsSearchWrapper.bbGrid-search-bar
                                .input-group
                                  %input{:placeholder => '{% trans "Search by Keywords" %}', :type => 'text', :name => 'course_participants', :class => 'bbGrid-pager  form-control'}


                                #coursesDownloadStatsButton.d-none
                                  - if companyCourseDetailsPage
                                    %a.btn.btn-primary.ome.dome-bc.button.small{:href => '/admin/courses/#{id}/download_course_stats/?company_id=#{companyId}', :target => '_self'}>
                                      {% trans "Export Stats" %}
                                  - else
                                    %a.btn.btn-primary.ome.dome-bc.button.small{:href => '/admin/courses/#{id}/download_course_stats/', :target => '_self'}>
                                      {% trans "Export Stats" %}

                                -#  Company Admin stats Button
                                - if user.is_company_admin
                                  #courseBulkActionsMainContainer.bulkActionsButtonContainer.disabled
                                    .bulkButtonWrapper
                                      %a.btn.btn-primary.ome.dome-bc.button.radius.small.bulkExportStats.bulkButton.disabled{:href => "#"}
                                        {% trans "Export Stats" %}
                                - else
                                  #courseBulkActionsMainContainer.bulkActionsButtonContainer.disabled
                                    .bulkButtonWrapper
                                      .hiddenButtonSplitModifier.bulkButton.disabled
                                      - if user.is_internal_admin
                                        %a.radius.small.bulkEmailSelectedParticipantsInternal.button.disabled{:href => "#"}
                                          {% trans "Email Selected Participants" %}
                                      - else
                                        %a.radius.small.bulkEmailSelectedParticipants.button.bulkButton.disabled{:href => "#"}
                                          {% trans "Email Selected Participants" %}
                                      %a.button.radius.small.bulkDropdownIcon.bulkButton.disabled
                                        .fa.fa-chevron-down
                                    #dropBulkCourse.f-dropdown{:style => 'display: none',:aria-hidden => "true"}
                                      %a.button.radius.small.submenuButtons.bulkChangeStatus.bulkButton.disabled{:href => "#"}
                                        {% trans "Change status" %}
                                      %a.button.radius.small.submenuButtons.bulkUnenrollFromCourse.bulkButton.disabled{:href => "#"}
                                        {% trans "Unenroll from course" %}
                                      %a.button.radius.small.submenuButtons.bulkEnrollInNewCourse.bulkButton.disabled{:href => "#"}
                                        {% trans "Enroll in new course" %}
                                      %a.button.radius.small.submenuButtons.bulkExportStats.bulkButton.disabled{:href => "#"}
                                        {% trans "Export stats" %}
                                      %a.button.radius.small.submenuButtons.bulkExportNotifData.bulkButton.disabled{:href => "#"}
                                        {% trans "Download CSV For Notifications" %}

                            -#Breadcrums
                            %ul.breadcurm
                              %li
                                %a.ome.dome-c{:href => '/admin/company_dashboard', :target => '_self'}
                                  {% trans "Company Dashboard" %}
                              %li
                                %a.ome.dome-c{:href => '/admin/companies/#{companyId}', :target => '_self'}
                                  =companyName
                              %li= name
                              %li.course-participants-tab {% trans "Participants" %}
                              %li.course-stats-tab.d-none {% trans "Stats" %}

                            #courseDetailsMainContainer
                              .courseParticipants.contentNavigationContainer

                                #courseDetailsParticipantsGridWrapper

                                  #courseDetailsParticipantsGrid.large-12.columns.spinnerContainer

                              .courseStats.contentNavigationContainer

                                %h5#courseDetailsEngagementTopic.courseDetailsTopic
                                  {% trans "Engagement Summary" %}
                                #courseDetailsEngagementViewGrid.courseDetailsViewGrid.large-12.columns

                                %input#discussionFeature{type: 'hidden', name: 'discussion_feature', value: '{{discussion_feature}}'}
                                - if discussion_feature
                                  %h5#courseDetailsStatsTopic.courseDetailsTopic
                                    {% trans "Social Engagement" %}
                                  #courseDetailsStatsViewGrid.half-table.courseDetailsViewGrid.large-12.columns
                              .courseBlocks.contentNavigationContainer
                                #courseBlocksButtonsContainer.blockButtonsContainer
                                  .blockButtonWrapper
                                    %a#downloadResponses.button.radius.small.disabled{:href => "#"}
                                      {% trans "Download Responses" %}
                                    %a#downloadReportsHistory.button.radius.small{:href => "#"}
                                      {% trans "View Download History" %}
                                #courseBlocksGridWrapper
                                  .errorMessage
                                  #courseBlocksGrid.large-12.columns.spinnerContainer.gridContainer
                                  #courseProblemResponseReportsGrid.large-12.columns.spinnerContainer.gridContainer


  #companyAdminCourseExportStatsModal.modal{:role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label": "Close", "data-dismiss": "modal", :type => "button"}
            %span{"aria-hidden": "true"} ×
          %h5.modal-title {% trans "Exporting Stats for All Users" %}
        .modal-body
          %p.error
          %p {% trans "We'll e-mail you when your report is ready to download." %}
          %div
            %input.progress-check-box{:name => "include_lesson_progress", :style => "margin: 0px;", :type => "checkbox"}
            %label{:style => "font-size: 12px; display: inline;"} {% trans "Include breakdown of progress for each lesson (Note: the export will take more time)" %}

        .modal-footer
          %button.btn.btn-primary.saveChanges{"data-dismiss": "modal", :type => "button"} Export Stats
          %button.btn.btn-secondary.ome.dome-c{"data-dismiss": "modal", :type => "button"} Close

  - include "admin/fragments/hidden_image_upload_form.haml"
- block js_snippets
  :javascript

    var course_details_count_all_users = '{{count}}';
    var course_details_cohorts_available = '{{cohorts_available}}';
    var course_details_cohorts_enabled = '{{cohorts_enabled}}';

    $('.new-theme .course-tab-link').on('click', function(e) {
      if ($(e.target).hasClass('participants')) {
        $(".course-participants-tab").removeClass('d-none');
        $(".course-stats-tab").addClass('d-none');
        $("#coursesDownloadStatsButton").addClass('d-none');
        $(".bbGrid-search-bar .input-group, .bbGrid-search-bar .bulkActionsButtonContainer").removeClass('d-none');
      } else if ($(e.target).hasClass('stats')) {
        $(".course-participants-tab").addClass('d-none');
        $(".course-stats-tab").removeClass('d-none');
        $("#coursesDownloadStatsButton").removeClass('d-none');
        $(".bbGrid-search-bar .input-group, .bbGrid-search-bar .bulkActionsButtonContainer").addClass('d-none');
      }
    });