- load i18n

.contentCardWrap.socialWidgets
  .head
    %h5
      {% trans "Discover" %}
  .contentCard
    .row
      .widget.articlesArea.col-lg-4.col-md-12
        %h5
          {% trans "ARTICLES" %}
        .holder
          %ul
            - for article in articles
              %li
                %a.articleTitle{"href": "#{article.url}", 'target': '_blank'}
                  - if article.title
                    = article.title
                - if article.byline
                  .label= article.byline

      .widget.infographicArea.col-lg-4.col-md-12
        %h5
          {% trans "INFOGRAPHIC" %}
        .holder
          %a{"href": "#{infographic.url}", 'target': '_blank'}
            %img.img-fluid{"src": "#{infographic.thumbnail_url}", "alt": "#{infographic.title}"}

      .widget.socialArea.col-lg-4.col-md-12
        %h5
          {% trans "ON TWITTER" %}
        .holder
          - if tweet.body
            .tweet
              %a{"href": "https://twitter.com/#{tweet.twitter_username}", 'target': '_blank'}
                - if tweet.thumbnail_url
                  %img{"src": "#{tweet.thumbnail_url}"}
              .content
                .head
                  - if tweet.twitter_username
                    %span.name= tweet.twitter_username
                    %a{"href": "https://twitter.com/#{tweet.twitter_username}", 'target': '_blank'}
                      @{{tweet.twitter_username}}

                .tweet-body.label-2= tweet.body|safe

          .videosWidget
            %h5
              {% trans "VIDEOS" %}
            %ul.list-unstyled
              - for video in videos
                %li
                  - if video.thumbnail_url
                    .videoWrap
                      %a{"href":"#{video.url}", :target => "_blank"}
                        %img.img-fluid{:src => "{{ video.thumbnail_url }}"}
                  .content
                    - if video.title
                      %a.title{"href": "#{video.url}", :target => "_blank"}= video.title
                    - if video.byline
                      .name= video.byline
