- load i18n

- get_current_language_bidi as LANGUAGE_BIDI

.contentCardWrap
  .head
    - if lessons_custom_label
      = course.chapters|length
      = lessons_custom_label
    - else
      %h5
        = course.chapters|length
        {% trans "LESSONS" %}
  .contentCard
    %ul.allCoursesList
      - for lesson in course.chapters
        %li{"class": "courseRow clearfix {% if lesson.is_started %}active{% else %}locked{% endif %}  {% if lesson.progress == 100 %}complete{% else %}{% endif %}"}
          %a.holder{"href": "{% if lesson.is_started %}#{lesson.navigation_url}{% else %}\#{% endif %}", "onClick": "{% if not lesson.is_started %}return false;{% endif %}"}
            .data.serial
              {% trans "Lesson" %}
              %span {{lesson.index}}:
            .data.title
              %span= lesson.name
                - if not lesson.is_started
                  %i.material-icons.locked{:data-container => "body", :data-content => "{% trans 'This lesson will be available on '%} {{lesson.start_upon}}", :data-original-title => "", :data-placement => "bottom", :data-toggle => "popover", :data-trigger => "hover", :title => ""} lock
            .data.time
              %i.material-icons
                access_time
              - if lesson.estimated_time
                = lesson.estimated_time
            .data.status
              %i.material-icons
              - if lesson.progress == 100
                %i.material-icons check_circle
                {% trans "Complete" %}
              - elif lesson.progress == 0
                %i.material-icons panorama_fish_eye
                {% trans "Not Started" %}
              - else
                %i.material-icons tonality
                {% trans "In Progress" %}
            .data.progressBar
              %span.figure
                {{lesson.progress}}%
              .statusBar
                .progress-counter{:style => "width:{{lesson.progress}}%"}
          %a.description{"href": "{% if lesson.is_started %}#{lesson.navigation_url}{% else %}\#{% endif %}", "onClick": "{% if not lesson.is_started %}return false;{% endif %}"}
            - autoescape off
              - if not lesson.is_started
                - if lesson_custom_label
                  {% blocktrans with start_date=lesson.start_upon %} This {{lesson_custom_label}} will be available on {{ start_date }} {% endblocktrans %}
                - else
                  {% blocktrans with start_date=lesson.start_upon %} This lesson will be available on {{ start_date }} {% endblocktrans %}
              - else
                = lesson.description
          - if lesson.bookmark
            %img.bookmark{:src => "static/image/bookmark.svg"}
