- load i18n
- load staticfiles

- get_current_language_bidi as LANGUAGE_BIDI

.contentCardWrap
  .head
    - if lessons_custom_label
      %h5
        = course.chapters|length
        = lessons_custom_label
    - else
      %h5
        = course.chapters|length
        {% trans "Lessons" %}
  .contentCard
    %ul.allCoursesList.onPage
      - for lesson in course.chapters
        %li{"class": "courseRow clearfix {% if lesson.is_started %}active{% else %}locked{% endif %}  {% if lesson.progress == 100 %}complete{% else %}{% endif %}", :oncontextmenu => "return false;"}
          %a.holder{"href": "{% if lesson.is_started %}#{lesson.navigation_url}{% else %}\#{% endif %}", "onClick": "{% if not lesson.is_started %}return false;{% endif %}", :oncontextmenu => "return false;"}
            .data.serial
              - if lesson_custom_label
                {{lesson_custom_label}}
                - if lesson_index
                  %span {{lesson_index}}
                - else
                  %span {{lesson.index}}
              - else
                {% trans "Lesson" %}
                %span {{lesson.index}}
            .data.title
              %span= lesson.name
                - if not lesson.is_started
                  %i.material-icons.locked.longTapPopover{:oncontextmenu => "return false;", :data-content => "{% if lesson_custom_label %}{% blocktrans with start_date=lesson.start_upon %} This {{lesson_custom_label}} will be available on {{ start_date }} {% endblocktrans %}{% else %}{% blocktrans with start_date=lesson.start_upon %} This lesson will be available on {{ start_date }} {% endblocktrans %}{% endif %}", :data-original-title => "", :data-placement => "bottom", :data-toggle => "popover", :title => ""} lock
            .data.time
              - if lesson.estimated_time
                %i.material-icons
                  access_time
                = lesson.estimated_time
            .data.progressBar
              %span.figure
                {{lesson.progress}}%
              .statusBar
                .progress-counter{:style => "width:{{lesson.progress}}%"}
          %a.description{:class => "{% if not lesson.description%}no-data{% endif %}", "href": "{% if lesson.is_started %}#{lesson.navigation_url}{% else %}\#{% endif %}", "onClick": "{% if not lesson.is_started %}return false;{% endif %}", :oncontextmenu => "return false;"}
            - autoescape off
              - if not lesson.is_started
                - if lesson_custom_label
                  {% blocktrans with start_date=lesson.start_upon %} This {{lesson_custom_label}} will be available on {{ start_date }} {% endblocktrans %}
                - else
                  {% blocktrans with start_date=lesson.start_upon %} This lesson will be available on {{ start_date }} {% endblocktrans %}
              - else
                = lesson.description
          - if lesson.bookmark
            %span.bookmark.secondary
              %svg{:height => "100%", :preserveaspectratio => "none", :viewbox => "0 0 20 100", :width => "100%"}
                %path{:d => "M5.90639e-13 0L10 0L20 50L10 100L5.90639e-13 100L5.90639e-13 0Z", :vector-effect => "non-scaling-stroke"}
