- load i18n
- if zoomed_in_lesson_navigators
  %script
    $('body').addClass("moduleArrow");

%div.controls.nextPreviousWrap
  .holder
    - if left_lesson_module_navigator
      - if left_lesson_module_navigator.is_started
        %a.arrowPin.left{"href": "#{left_lesson_module_navigator.navigation_url}", :aria-label=>"previous", "data-html":"true", :data-content => "{% if lesson_custom_label %} {% blocktrans with lesson_index=left_lesson_module_navigator.lesson_index %} {{lesson_custom_label}} {{lesson_index}}: {% endblocktrans %}{% else %}{% trans 'Lesson' %} #{left_lesson_module_navigator.lesson_index}: {% endif %}{% if module_custom_label %}{% blocktrans with index=left_lesson_module_navigator.index lesson_count=left_lesson_module_navigator.lesson_count %} {{module_custom_label}} {{index}} of {{lesson_count}}{% endblocktrans %}{% else %}{% trans 'Module' %} #{left_lesson_module_navigator.index} {% trans 'of' %} #{left_lesson_module_navigator.lesson_count}{% endif %} <br/> <span>{{ left_lesson_module_navigator.name }}</span>", :data-original-title => "", :data-placement => "right", :data-toggle => "popover", :data-trigger => "focus hover", :title => "", :tabindex => "0"}
          %span
            %i.material-icons keyboard_arrow_left
      - else
        %a.arrowPin.left.disable{"href": "#", :aria-label=>"previous", :data-container => "body","data-html":"true", :data-content => "<i class=material-icons locked>lock</i><b>{% if lesson_custom_label %}{% blocktrans with start_date=left_lesson_module_navigator.start_upon %}This {{lesson_custom_label}} will unlock on {{ start_date }}{% endblocktrans %}{% else %}{% blocktrans with start_date=left_lesson_module_navigator.start_upon %}This lesson will unlock on {{ start_date }}{% endblocktrans %}{% endif %}.</b><br/>{% if lesson_custom_label %} {% blocktrans with lesson_index=left_lesson_module_navigator.lesson_index %} {{lesson_custom_label}} {{lesson_index}}: {% endblocktrans %}{% else %}{% trans 'Lesson' %} #{left_lesson_module_navigator.lesson_index}: {% endif %}{% if module_custom_label %}{% blocktrans with index=left_lesson_module_navigator.index lesson_count=left_lesson_module_navigator.lesson_count %} {{module_custom_label}} {{index}} of {{lesson_count}}{% endblocktrans %}{% else %}{% trans 'Module' %} #{left_lesson_module_navigator.index} {% trans 'of' %} #{left_lesson_module_navigator.lesson_count}{% endif %} <br/> <span>{{ left_lesson_module_navigator.name }}</span>", :data-original-title => "", :data-placement => "right", :data-toggle => "popover", :data-trigger => "focus hover", :title => "", :tabindex => "0"}
          %span
            %i.material-icons keyboard_arrow_left
    - else
      %a.arrowPin.left.disable{"href": "#", :aria-label=>"previous", :data-content => "", :data-original-title => "", :data-placement => "right", :data-toggle => "popover", :data-trigger => "focus hover", :title => "", :tabindex => "0"}
        %span
          %i.material-icons keyboard_arrow_left

    - if right_lesson_module_navigator
      - if right_lesson_module_navigator.is_started
        %a.arrowPin.right{:href => "#{right_lesson_module_navigator.navigation_url}", :aria-label=>"next", "data-html":"true", :data-content => "{% if lesson_custom_label %}{% blocktrans with lesson_index=right_lesson_module_navigator.lesson_index %} {{lesson_custom_label}} {{lesson_index}}: {% endblocktrans %}{% else %}{% trans 'Lesson' %} #{right_lesson_module_navigator.lesson_index}: {% endif %}{% if module_custom_label %}{% blocktrans with index=right_lesson_module_navigator.index lesson_count=right_lesson_module_navigator.lesson_count%} {{module_custom_label}} {{index}} of {{lesson_count}}{% endblocktrans %}{% else %}{% trans 'Module' %} #{right_lesson_module_navigator.index} {% trans 'of' %} #{right_lesson_module_navigator.lesson_count} {% endif %} <br/> <span>{{ right_lesson_module_navigator.name }}</span>", :data-original-title => "", :data-placement => "left", :data-toggle => "popover", :data-trigger => "focus hover", :title => "", :tabindex => "0"}
          %span
            %i.material-icons keyboard_arrow_right
      - else
        %a.arrowPin.right.disable{:href => "#", "data-html":"true", :aria-label=>"next", :data-content => "<i class=material-icons locked>lock</i><b>{% if lesson_custom_label %}{% blocktrans with start_date=right_lesson_module_navigator.start_upon %}This {{lesson_custom_label}} will unlock on {{ start_date }}{% endblocktrans %}{% else %}{% blocktrans with start_date=right_lesson_module_navigator.start_upon %}This lesson will unlock on {{ start_date }}{% endblocktrans %}{% endif %}.</b><br/>{% if lesson_custom_label %}{% blocktrans with lesson_index=right_lesson_module_navigator.lesson_index %} {{lesson_custom_label}} {{lesson_index}}: {% endblocktrans %}{% else %}{% trans 'Lesson' %} #{right_lesson_module_navigator.lesson_index}: {% endif %}{% if module_custom_label %}{% blocktrans with index=right_lesson_module_navigator.index lesson_count=right_lesson_module_navigator.lesson_count%} {{module_custom_label}} {{index}} of {{lesson_count}}{% endblocktrans %}{% else %}{% trans 'Module' %} #{right_lesson_module_navigator.index} {% trans 'of' %} #{right_lesson_module_navigator.lesson_count} {% endif %} <br/> <span>{{ right_lesson_module_navigator.name }}</span>", :data-original-title => "", :data-placement => "left", :data-toggle => "popover", :data-trigger => "focus hover", :title => "", :tabindex => "0"}
          %span
            %i.material-icons keyboard_arrow_right

    - else
      %a.arrowPin.right.disable{:href => "#", :data-content => "", :aria-label=>"next", :data-original-title => "", :data-placement => "left", :data-toggle => "popover", :data-trigger => "focus hover", :title => "", :tabindex => "0"}
        %span
          %i.material-icons keyboard_arrow_right
  %script
    $(function() {
      if(isTouchDevice()) {
        $('a.arrowPin span[data-toggle="popover"]').popover("disable");
      }
    });
