- load i18n
%header
  %h1= title

.close-reveal-modal
  %i.fa.fa-times-circle

%form{action: "#{request.path}", method: "POST"}
  - if error
    .error
      = error
  - csrf_token
  = form.as_p
  .submit-area
    %input.button.radius.small{type: "submit", value: "#{submit_label}"}
