- extends "layout.haml"

- block page_title
  %title= _("Demo registration | McKinsey Academy")
  %meta{property: "og:title", content: "McKinsey Academy"}

- block header
  - include 'accounts/login_header.haml'

- load staticfiles
- block content
  #confirmation_registration.reveal-modal.small{'data-reveal': None}
    .close-reveal-modal
      %i.fa.fa-times-circle
    %h2 Request Successfull!
    %p
      Thank you for your request. We will send you an email shortly with instructions on how to access McKinsey Academy.

  #error_registration.reveal-modal.small{'data-reveal': None}
    .close-reveal-modal
      %i.fa.fa-times-circle
    %h2 Registration Error!
    %p
      Sorry, there seems to be a problem with registering your account, please contact info@mckinseyacademy.com

  #course_closed_registration.reveal-modal.small{'data-reveal': None}
    .close-reveal-modal
      %i.fa.fa-times-circle
    %h2 Thank you for your request
    %p
      We will send you an email shortly.

  .row
    .login-form.large-12.medium-12.large-centered.medium-centered.columns{style:"min-height:940px"}
      - if request.is_IE8
        %br
        .outdated_browser
          = _("We're sorry, McKinsey Academy is not compatible with your browser. You will not be able to access course content without updating your browser. We recommend the latest versions of Google Chrome, Mozilla Firefox, and Apple Safari for an optimal experience.")
      - else
        .row{style:"height:100%;"}
          .large-8.medium-8.columns{style:"height: 100%;border-right: 1px solid #ccc;"}
            %h1 Welcome to McKinsey Academy
            .description{style:"height:auto;"}
              %h4 REGISTER FOR ACCESS TO THE DEMO BUSINESS STRATEGY COURSE
              %span Take your strategic thinking to the next level -- assess the robustness of a strategy and apply Mckinsey's Strategy Method to develop strategies that can help your businesses gain a sustainable advantage in the market.
              %br
              %br
              %span Complete the fields below. Required fields are noted by an asterisk (
              %span.required-field><
              %span ).
              %form{action: "/registration/#{course_run_name}/", method: "POST"}
                .error
                  - if error
                    = error
                - csrf_token
                - for field in form
                  - if field.id_for_label != "id_current_role_other"
                    <label for="#{field.id_for_label}">#{field.label}</label>
                  - if field.help_text and "options" in field.help_text
                    = field.help_text|safe
                  = field.errors
                  = field
                  - if field.help_text and "email" in field.help_text
                    = field.help_text|safe

                %input.button.radius.small.registration_submit{type: "submit", value: "Register", disabled: "True"}

          .large-4.medium-4.columns{style:"border-left: none;"}
            %h4 WELCOME
            .sidebar
              %p Registering gives you access to course content and ensures that you recieve updates and notifications from McKinsey Academy.
              %br
              %p Following successful registration, you will recieve an email granting access to the course.
            %hr
            %h4 Need Help?
            .sidebar
              %a{href: "/faq"} View our FAQ for answers to commonly asked questions.

- block js_snippets
  :javascript
    $('form, select, input').on('keyup change', function(e) {
      $('.registration_submit').attr('disabled',false);
    });
    var $current_role_other = $("#id_current_role_other");
    $(window).on( "load", function() {
      toggle_field();
      show_popup_on_registration("{{registration_status}}");
      adjust_messages();
    });
    $("#id_current_role").change(function(e){
      toggle_field();
    });
    function toggle_field(){
      if($('input[name=current_role]:checked').val() == 'Other') {
          $current_role_other.prop('disabled', false);
        } else {
          $current_role_other.val("");
          $current_role_other.prop('disabled', true);
        }
    }
    function show_popup_on_registration(status_text){
      if (status_text==="Registered")
      {
        $(document).on('close.fndtn.reveal', '#confirmation_registration', function(){
          window.location.replace("{{home_url}}")
        });
        $("#confirmation_registration").foundation('reveal', 'open');
      }
      else if (status_text==="Error")
      {
        $(document).on('close.fndtn.reveal', '#error_registration', function(){
          window.location.replace("{{home_url}}")
        });
        $("#error_registration").foundation('reveal', 'open');
      }
      else if (status_text==="Course Closed")
      {
        $(document).on('close.fndtn.reveal', '#course_closed_registration', function(){
          window.location.replace("{{home_url}}")
        });
        $("#course_closed_registration").foundation('reveal', 'open');
      }
    }
    function adjust_messages(){
      if ($("#id_current_role + .errorlist")){
        var error_message = $("#id_current_role + .errorlist").detach();
        $("ul#id_current_role").before(error_message);
      }
    }
