-load staticfiles
.user-profile
  .user-image
    %img{src: "#{user_image_url}"}
    %a#edit-user-image{"data-reveal-id": "edit-user-image-modal", "data-reveal-ajax": "true", 'href': "/accounts/user/#{user.id}/change_profile_image"}
      change photo
  .user-detail
    .username
      = user.username
    .fullname
      %i.fa.fa-user
      .field-group
        .fieldtitle
          = _("Full Name")
          %a.editfield{data-reveal-id: "edit_field_modal", data-reveal-ajax: "true", href: "/accounts/edit_fullname/"}
            = _("edit")
        .fieldcontent
          = user.formatted_name
    .title
      %i.fa.fa-info
      .field-group
        .fieldtitle
          = _("Title")
          %a.editfield{data-reveal-id: "edit_field_modal", data-reveal-ajax: "true", href: "/accounts/edit_title/"}
            = _("edit")
        .fieldcontent
          = user.title
    .email
      %i.fa.fa-envelope
      .field-group
        .fieldtitle
          = _("Email")
        .fieldcontent
          = user.email
    .logout
      %a.button.small.radius{href: "/accounts/logout"}
        = _("Log Out")

-# Jquery Cropper
- block cropper_jquery
  %script{src: "{% static 'js/vendor/cropper.min.js' %}"}
  %script{src: "{% static 'js/vendor/jquery.ui.widget.js' %}"}
  %script{src: "{% static 'js/vendor/jquery.iframe-transport.js' %}"}
  %script{src: "{% static 'js/vendor/jquery.fileupload.js' %}"}
  %script{src: "{% static 'js/user_profile_edit.js' %}"}

