- load i18n
-load static
.user-profile
  .user-image
    %img{src: "#{user_image_url}"}
    %a#edit-user-image{"data-reveal-id": "edit-user-image-modal", "data-reveal-ajax": "true", 'href': "/accounts/user/#{user.id}/change_profile_image"}
       {% trans "change photo" %}
  .user-detail
    .username
      = user.username
    .fullname
      %i.fa.fa-user
      .field-group
        .fieldtitle
          {% trans "Full name" %}
          %a.editfield{data-reveal-id: "edit_field_modal", data-reveal-ajax: "true", href: "/accounts/edit_fullname/"}
            {% trans "edit" %}
        .fieldcontent
          = user.formatted_name
    .title
      %i.fa.fa-info
      .field-group
        .fieldtitle
          {% trans "Title" %}
          %a.editfield{data-reveal-id: "edit_field_modal", data-reveal-ajax: "true", href: "/accounts/edit_title/"}
            {% trans "edit" %}
        .fieldcontent
          = user.title
    .email
      %i.fa.fa-envelope
      .field-group
        .fieldtitle
          {% trans "Email" %}
        .fieldcontent
          = user.email
    .notification-digest
      .profile-icon-pane
        %i.fa.fa-exclamation-circle
      .field-group
        .xns-preference-pane-container
    .logout
      %a.button.small.radius{href: "/accounts/logout"}
        {% trans "Log out" %}

-# Jquery Cropper
- block cropper_jquery
  %script{src: "{% static 'js/vendor/cropper.min.js' %}"}
  %script{src: "{% static 'js/vendor/jquery.form.js' %}"}
  %script{src: "{% static 'js/image_editor.js' %}"}
  %script{src: "{% static 'js/user_profile_edit.js' %}"}

- include "django/notifications_widget_preferences_header.html"
- include "django/notifications_widget_preferences_body.html"
