.user-profile
  .user-image
    %img{src: "#{user_image_url}"}
  .user-detail
    .username
      = user.username
    .fullname
      %i.fa.fa-user
      .field-group
        .fieldtitle
          = _("Full Name")
          %a.editfield
            = _("edit")
        .fieldcontent
          = user_formatted_name
    .title
      %i.fa.fa-info
      .field-group
        .fieldtitle
          = _("Title")
          %a.editfield
            = _("edit")
        .fieldcontent Academy Superstar
    .email
      %i.fa.fa-envelope
      .field-group      
        .fieldtitle
          = _("Email")
        .fieldcontent
          = user_email
    .logout
      %a.button.small.radius{href: "/accounts/logout"}
        = _("Log Out")
