- extends 'admin/admin_layout.haml'
- load staticfiles
- block content
  .admin-list
    .row
      .large-10.large-centered.columns
        %header
          %h1.principal-title {{principal_name_plural}}: {{course.name}}
          .sub-1.add= _("Create Groups")
          .add-message
            - block principal_message
              %p= _("Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore")
        %hr
          %section
            %input#course_id{'type': 'hidden', 'value': '#{course.id}'}
            .large-7.columns#student-list
              - include 'admin/workgroup/student_table.haml'
            .large-5.columns.group-selection
              %h2= _("Group Students:")
              %div= _("Select a program below to move students into.")
              %a#student-group-action.button.radius.tiny{href: "/admin/workgroup/group/create/#{course.id}"}
                %span= _("Create Group of Selected Students")
              - for group in groups
                .select-group-box{id: "#{group.id}"}
                  .name= group.display_name
                    %span= _("Members:")
                    %span.student-count= group.students_count 
                    %i.caret.fa.fa-caret-down 
                  .group-info.students
                    %span= _("Students:")
                    .students-list
                      - for student in group.students 
                        %div.student{'name': '#{student.id}'}
                          %span= student.username
                          %span= student.email
                          %span= student.client_id
                          %a{href: '/admin/workgroup/group/#{group.id}/remove'}
                            %i.remove-student-icon.remove-icon.fa.fa-times{'name': '#{student.id}'}
- block js_snippets
  %script{src: "{% static 'js/select_and_assign.js' %}"}
  %script{src: "{% static 'js/course_drag_drop.js' %}"}