- extends 'admin/admin_layout.haml'
- load staticfiles
- block content
  .admin-dashboard
    .row
      .large-12.large-centered
        %header
          .large-12
            .large-10.columns
              %h1.principal-title= _("Group Work Status")
              %a{href: '#{return_url}'}= _("< Back to Group Work V2 Dashboard")
          .row
          .add-message.detail-message
            = _("Detailed status by team and individual participants are below. Only graded stages are listed within the activity, though more stages may exist in the project. Filter by status (not yet started, started, complete).")
        %hr
        %section
          .large-12.medium-12
            .sub-2= _("Filter by:")

            .dashboard_filters
              -#.small-4.columns
              -#  %select#select-status
              -#    %option{value: ''}= _("All")
              -#    %option{value: 'not_started'}= _("Not started")
              -#    %option{value: 'started'}= _("Started")
              -#    %option{value: 'complete'}= _("Complete")
              .small-4.columns
                %select#company_filter{'{% if client_filter_options|length == 1 %}disabled{%endif%}': None}
                  - for client in client_filter_options
                    %option{'value': '{{client.id}}'}
                      = client.name


              .small-8.columns
                %input{type: 'text', placeholder: 'Search participants', id:'user_search'}

          .large-12.dashboard_outline_wrapper
            %span.dashboard_outline_label= _("Displaying:")
            %span.dashboard_outline.program= program.name
            |
            %span.dashboard_outline.course= course.name
            |
            %span.dashboard_outline.project= project.name
            |
            %span.dashboard_outline.company= client_filter_options.0.name
          %hr
        %section
          .columns.large-12.group_project_placeholder

- block js_snippets
  :javascript
    var user_search_parameters = {
      timeout: 1000, // ms
      timeout_handle: null
    };

    function make_group_project_element(course_id, project_id){
      var lesson_content = $('.group_project_placeholder');
      var lesson_data = {
        courseId: course_id,
        usageId: project_id,
        sessionId: '{{ remote_session_key }}',
        baseDomain: '{{ lms_base_domain }}',
        lmsSubDomain: '{{ lms_sub_domain }}',
        jumpLinkRewriter: Apros.jumpLinkRewriter,
        block_view: 'dashboard_detail_view',
        data: {
            activate_block_id: Apros.getParameterByName('activate_block_id'),
            client_filter_id: $('#company_filter').find(':selected').val()
        },
        {% if use_current_host %}
        useCurrentHost: true,
        {% endif %}
      };

      lesson_content.xblock(lesson_data);
    }

    function trigger_search_event(){
      var search_criteria = $("#user_search").val();
      $(document).trigger('group_project_v2.details_view.search', search_criteria);
    }

    function trigger_search_clear_event() {
      $(document).trigger('group_project_v2.details_view.search_clear');
    }

    make_group_project_element('{{course.id}}', '{{project.id}}');

    $(document).ready(function() {
      $('#company_filter').on('change', function(){
        $('.group_project_placeholder').html('');
        make_group_project_element('{{course.id}}', '{{project.id}}');
        $('.dashboard_outline_wrapper span.dashboard_outline.company').html(
          $('#company_filter').find(':selected').html()
         );
         $("#user_search").val('');
      });
      $("#user_search").keyup(function() {
        if (user_search_parameters.timeout_handle) {
          clearTimeout(user_search_parameters.timeout_handle);
        }
        if ($("#user_search").val().length > 2) {
          user_search_parameters.timeout_handle = setTimeout(trigger_search_event, user_search_parameters.timeout);
        }
        else {
          trigger_search_clear_event();
        }
      });
    });
