- extends 'admin/admin_layout.haml'
- load staticfiles
- block content
  .admin-dashboard
    .row
      .large-12.large-centered
        %header
          .large-12
            .large-10.columns
              %h1.principal-title= _("Group Work Status")
              %a{href: '#{return_url}'}= _("< Back to Group Work V2 Dashboard")
          .row
          .add-message.detail-message
            = _("Detailed status by team and individual participants are below. Only graded stages are listed within the activity, though more stages may exist in the project. Filter by status (not yet started, started, complete).")
        %hr
        %section
          .large-12.medium-12
            .sub-2= _("Filter by:")

            .dashboard_filters
              -#.small-4.columns
              -#  %select#select-status
              -#    %option{value: ''}= _("All")
              -#    %option{value: 'not_started'}= _("Not started")
              -#    %option{value: 'started'}= _("Started")
              -#    %option{value: 'complete'}= _("Complete")
              .small-4.columns
                %select#company_filter{'data-chained-filter-endpoint': '/admin/workgroup/dashboard/companies', 'data-outline-component': 'company', 'data-query-mode': 'data', 'data-value-parameter': 'program_id', 'data-autoselect-only-option': 'true', 'data-allow-empty-value': 'true'}
                  %option{'data-static': 'true', 'value': ''}
                    = _("All companies")



              .small-8.columns
                %input{type: 'text', placeholder: 'Search participants', id:'user_search'}

          .large-12.dashboard_outline_wrapper
            %span.dashboard_outline_label= _("Displaying:")
            %span.dashboard_outline.program= program.name
            |
            %span.dashboard_outline.course= course.name
            |
            %span.dashboard_outline.project= project.name
            |
            %span.dashboard_outline.company= client_filter_options.0.name
          %hr
        %section
          .columns.large-12.group_project_placeholder

- block js_snippets
  %script{src: "{% static 'js/views/admin/group_work_dashboard_common.js' %}"}
  %script{src: "{% static 'js/views/admin/group_work_dashboard_details.js' %}"}
  :javascript
    var dashboard_configuration = {
      selected_values: {
        programId: '{{ program.id }}',
        courseId: '{{ course.id }}',
        projectId: '{{ project.id }}',
      },
      lesson_data_base: {
        courseId: '{{course.id}}',
        usageId: '{{project.id}}',
        sessionId: '{{ remote_session_key }}',
        baseDomain: '{{ lms_base_domain }}',
        lmsSubDomain: '{{ lms_sub_domain }}',
        jumpLinkRewriter: Apros.jumpLinkRewriter,
        block_view: 'dashboard_detail_view',
        {% if use_current_host %}
        useCurrentHost: true,
        {% endif %}
      },
      gp_placeholder: $(".group_project_placeholder"),
      quick_links_endpoint: "{%url 'groupwork_dashboard_links' %}",
      csrf_token: '{{csrf_token}}',
    };

    group_project_dashboard_details(dashboard_configuration);
