- extends 'admin/admin_layout.haml'
- load staticfiles
- block content
  .admin-list
    .row
      .large-10.large-centered.columns
        %header
          %h1.principal-title {{principal_name_plural}}: Overview
          %a{href: '/admin/workgroup/dashboard'}= _("Access V2 Dashboard")
          .add-message
            - block principal_message
              Use this block to update the message describing the principal at hand
        %hr
        .principal-list
          .title= principal_list_plural
          .message
            - block principal_list_message
              Add a message here to describe the list of principals
          %form.admin-form{action: "/admin/workgroup", method: "POST"}
            - csrf_token
            .div.select-group-wrapper
              %select.select-program{'name': 'select-course'}
                  %option{'value': 'select'}
                    = ' - Select -'
                  - for course in courses
                    %option{'value': '#{course.id}'}
                      = course.name
                      (#{course.id})

            .submit-area
              %input.button.radius.small{type: "submit", value: "OK"}
          - block principal_list_filter
          - block principal_list

