- extends 'admin/admin_layout.haml'
- load i18n
- load staticfiles
- block content
  .admin-list
    .row
      .large-10.large-centered.columns
        %header
          %h1.principal-title {{principal_name_plural}}: {% trans "Overview" %}
          %a{href: '/admin/workgroup/dashboard'}
            {% trans "Access V2 Dashboard" %}
          %br
          %a{href: '/admin/workgroup/dashboardV2'}
            {% trans "Access V2 Dashboard without programs" %}
          .add-message
            - block principal_message
              {% trans "Use this block to update the message describing the principal at hand" %}
        %hr
        .principal-list
          .title= principal_list_plural
          .message
            - block principal_list_message
              {% trans "Add a message here to describe the list of principals" %}
          %form.admin-form{action: "/admin/workgroup", method: "POST"}
            - csrf_token
            - if not user.is_mcka_admin and not user.is_mcka_subadmin
              .div.select-group-wrapper{'data-enable-cache': 'false'}
                %select.select-program{'name': 'select-course'}
                  %option{'value': 'select'}
                    = ' - Select -'
                  - for course in courses
                    %option{'value': '#{course.id}'}
                      #{course.name} (#{course.id})
            - else
              .div.select-group-wrapper{'data-enable-cache': 'true'}
            .submit-area
              %input.button.radius.small{type: "submit", value: "OK"}
          - block principal_list_filter
          - block principal_list
