- extends 'admin/admin_layout.haml'
- load i18n
- load static
  -# CSS
  - block css
    %link{rel: "stylesheet", href: "{% static 'css/normalize.css' %}"}
    %link{rel: "stylesheet", href: "{% static 'css/font-awesome.css' %}"}
    %link{rel: "stylesheet", href: "{% static 'css/leaflet.css' %}"}
    %link{rel: "stylesheet", href: "{% static 'css/nv.d3.css' %}"}
- block content
  .admin-detail.row
    .large-12.large.columns
      - include 'admin/workgroup/detail_header.haml'
  .admin-list.tight
    .admin-detail.row
      .large-12.large-centered.columns
        %header
          %h1.principal-title
            {% trans "Group Work:" %} {{course.name}}
          .sub-1.add
            {% trans "Review Assignments for Project Activities" %}
          .add-message
            - block principal_message
              %p
                {% trans "Generate random peer-reviews for project activities" %}
          - if user.is_mcka_admin or user.is_mcka_ta or user.is_internal_admin or user.is_mcka_subadmin
            #workGroupReportContainer{:data-id => '#{course.id}', :data-name => '#{course.name}'}
              %a.button.radius.small.submenuButtons.bulkExportStats.bulkButton{:href => "#"}
                {% trans "Downloadable Workgroup Completion Report" %}

        %hr
        %section
          .sub-1
            {% trans "Project:" %}
          %p
            {% trans "Select project within which you are working" %}
          - include 'admin/workgroup/project_dropdown.haml'
        %hr
        %section
          - for group_project in group_projects
            .project_activities_detail{"data-project-id": "#{group_project.id}"}
              - for activity in group_project.activities
                .activity
                  .name
                    {% trans "Activity: " %}
                    = activity.name
                    - if activity.has_assignments
                      %span.assignment_message><
                        {% trans "has assignments" %}
                  - if activity.xblock.ta_graded
                    .detail.ta-graded
                      {% trans "This activity is to be graded by a Teaching Assistant" %}
                  - else
                    .detail
                      %table
                        %tr
                          %td
                            {% trans "Reviews required per group activity" %}
                          %td
                            = activity.xblock.group_reviews_required_count
                        %tr
                          %td
                            {% trans "Minimum number of reviews for each user" %}
                          %td
                            = activity.xblock.user_review_count
                      %a.show_generate_options.button.radius.small{href: "#", "data-reveal-id": "generate-reviews-modal", "data-activity-id": "#{activity.js_safe_id}", "data-project-id": "#{group_project.id}"}
                        {% trans "Generate Activity Review Assignments" %}
                      .generation-submission{"data-activity-id": "#{activity.js_safe_id}", "data-project-id": "#{group_project.id}"}
                        .close-reveal-modal
                          %i.fa.fa-times-circle
                        %form.generate_assignment_form{action: "/admin/project/#{group_project.id}/activity/#{activity.id}/generate_assignments", method: "POST"}
                          - csrf_token
                          %h2
                            {% trans "Generate Activity Review Assignments for" %}
                            = activity.name
                          .error
                            {% trans "When you click on 'Confirm' below you will be assigning reviewers to existing group data. Please be sure that you are ready to do this at this time." %}
                          - if activity.has_assignments
                            %input.delete-choice{type: "checkbox", name: "delete_choice", checked: "checked", id: "delete_choice_#{activity.js_safe_id}"}
                            %label.delete-label{"for": "delete_choice_#{activity.js_safe_id}"}
                              {% trans "Delete existing review assignments" %}
                          %div
                            %input.button.radius.tiny{type: "submit", value: '{% trans "Confirm" %}'}
                        .informational-message
  #courseDetailsMainModal.reveal-modal.small{"aria-hidden": "true", "aria-labelledby": "modalTitle", "data-reveal": "", :role => "dialog"}
    %h2.courseModalTitle
    %i.fa.fa-spinner.fa-spin.loadingIcon.hidden
    .courseModalStatus
    %hr
    .courseModalDescription
    .courseModalContent
    .courseModalControl
      .button.saveChanges
        {% trans "Export Report" %}
      %a.cancelChanges{:href => "#"}
        {% trans "Cancel" %}
    %a.close-reveal-modal{"aria-label": "Close"}
      &#215;
  #generate-reviews-modal.reveal-modal{"data-reveal": "true"}

- block js_snippets
  %script{src: "{% static 'js/views/admin/group_work_dashboard_assignment_info.js' %}"}
  :javascript
    var show_activities_for_project = function(project_id){
      var project_activities = $('.project_activities_detail').hide();
      project_activities.filter('[data-project-id="' + project_id + '"]').show();
    }
    $('.group-project-select').on('change', function(){
      show_activities_for_project($(this).val());
    });
    $('.show_generate_options').on('click', function(){
      var activity_id = $(this).data('activity-id');
      var project_id = $(this).data('project-id');
      var form_copy = $('.activity .detail .generation-submission[data-activity-id=' + activity_id + ']').filter('[data-project-id=' + project_id + ']').clone(true);
      var delete_field = form_copy.find('.delete-choice');
      if(delete_field.length > 0){
        var new_id = delete_field.attr('id').replace('delete_choice_', '');
        delete_field.attr('id', new_id);
        form_copy.find('.delete-label').attr('for', new_id);
      }
      $('#generate-reviews-modal').empty().append(form_copy);
      $('#generate-reviews-modal .informational-message').empty();
    });
    $('#generate-reviews-modal').on('submit', 'form', function(e) {
      e.preventDefault();
      var form = $(this);
      form.find(':submit').prop('disabled', true);
      $.ajax({
        method: 'POST',
        url: form.attr('action'),
        data: form.serialize()
      })
      .done(function(data, status, xhr) {
        var contentType = xhr.getResponseHeader('content-type') || '';
        if (contentType.indexOf('json') > -1 && data.message){
          alert(data.message);
        }
        window.location.reload();
      });
    });
    $(function(){
      show_activities_for_project($('.group-project-select').val());
    });

    $(function(){
      group_work_dashboard_assignment_info();
    });
