- load i18n
%select.group-project-select
  - for group_project in group_projects
    - if group_project.selected
      - if group_project.status == True
        %option{"value": "#{group_project.id}", "selected": "selected", "data-organization": "#{group_project.organization_id}"}
          = group_project.name
          - if group_project.organization
            (
            %span><
              = group_project.organization
            )
      - else
        %option{"value": "#{group_project.id}", "selected": "selected", "data-organization": "#{group_project.organization_id}", "class": 'red'}
          {% trans 'Deleted - ' %}
          = group_project.name
          - if group_project.organization
            (
            %span><
              = group_project.organization
            )
    - else
      - if group_project.status == True
        %option{"value": "#{group_project.id}", "data-organization": "#{group_project.organization_id}"}
          = group_project.name
          - if group_project.organization
            (
            %span><
              = group_project.organization
            )
      - else
        %option{"value": "#{group_project.id}", "data-organization": "#{group_project.organization_id}", 'class': 'red'}
          {% trans 'Deleted - ' %}
          = group_project.name
          - if group_project.organization
            (
            %span><
              = group_project.organization
            )
