%table.student-list
  %thead
    %th.label-1 Name
      %span.label-1.asc
        %i.fa.fa-caret-up
      %span.label-1.desc
        %i.fa.fa-caret-down
    %th.label-1 Email
      %span.label-1.asc
        %i.fa.fa-caret-up
      %span.label-1.desc
        %i.fa.fa-caret-down
    %th.label-1 Company
      %span.asc
        %i.fa.fa-caret-up
      %span.desc
        %i.fa.fa-caret-down
  %tbody
    - for student in students
      %tr.student{id: "#{student.id}", 'data-company-name': "#{student.company.id}"}
        %td
          %a= student.username
        %td
          %a{href: "mailto:#{student.email}"}= student.email
        %td
          %a= student.company.display_name
