%table.student-list
  %thead
    %th Name
      %span{class: 'asc'}
        ▲
      %span{class: 'desc'}
        ▼
    %th Email
      %span{class: 'asc'}
        ▲
      %span{class: 'desc'}
        ▼
    %th Company
      %span{class: 'asc'}
        ▲
      %span{class: 'desc'}
        ▼
  %tbody
    - for student in students
      %tr.student{id: "#{student.id}", 'data-company-name': '#{student.company.id}'}
        %td= student.username
        %td= student.email
        %td= student.company.display_name
