- extends 'admin/admin_layout.haml'
- load i18n

- block content
  .workgroup-detail
    .row
      .large-10.large-centered.columns
        %header
          %h1
            {% trans "Workgroup:" %} {{ workgroup.name }}
        %section
          .sub-1
            {% trans "Project:" %}
            %span= project.name
            - if project.organization_name
              %span
                {% trans ' - ' %}
              %span= project.organization_name
          - if user.is_mcka_ta
            %a{href: "/courses/#{project.course_id}/group_work/#{workgroup.id}"}
              {% trans "Provide a grade for this group" %}
        %hr
        %section
          .sub-1
            {% trans "Users" %}
          %ul.users
            - for user in users
              %li
                %img{src: "#{user.image_url_medium}"}
                %span= user.username
                (
                %a><{href: "mailto:{{user.email}}"}
                  = user.email
                )
        %hr
        %section
          .sub-1
            {% trans "Activities" %}
          %ul.activities
            - for activity in activities
              %li= activity.name
              -# %a.submit_grade{href: } - add more detail here to submit grades for each activity
        %hr
        %section
          .sub-1
            {% trans "Submissions" %}
          %ul.submissions
            - for submission in submissions
              %li
                %a{href: "#{submission.document_url}", target: "_blank"}
                  {{ submission.document_id }} ({{ submission.document_filename }})
