- extends 'admin/admin_layout.haml'
- load i18n
- block content
  .admin-detail.row
    .large-12.large.columns
      - include 'admin/workgroup/detail_header.haml'
  .workgroup-report
    .row
      .large-12.large-centered.columns
        %header
          %h1
            {% trans "Group Work:" %}
            = course.name
            (
            %span><
              = course.display_id
            )
          .sub-1
            {% trans "Group Work Project Status" %}
          %div

          .sub-2
            {% trans "Total Group Work Projects:" %}
            = total_group_count

    - for project in projects
      .row
        .large-12.large-centered.columns
          %hr
          %section
            .sub-1
              {% trans "Project:" %}
              %span= project.name
              - if project.organization_name
                %span
                  {% trans ' - ' %}
                %span= project.organization_name
            .sub-2
              {% trans "Group Work Projects:" %}
              = project.group_count
          %table.group-list
            %thead
              %tr
                %th
                - for activity in project.activities
                  %th{colspan: "{{ activity.stage_count }}", title: "#{activity.name}", class: "activity-name activity_{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"}
                    {% trans "Activity" %}
                    = forloop.counter
                    - if activity.grade_type
                      %span.grade-type
                        = activity.grade_type
              %tr
                %th
                - for activity in project.activities
                  - for stage_id, stage in activity.stages.items
                    %th{class: "activity_{% if forloop.parentloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"}
                      = stage.deadline
              %tr
                %th
                  {% trans "Group" %}
                - for activity in project.activities
                  - for stage_id, stage in activity.stages.items
                    %th{class: "activity_{% if forloop.parentloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"}
                      = stage.name

            %tbody
              - for workgroup in project.workgroups
                %tr
                  %td{"data-order": "#{workgroup.id}"}
                    %a{href:"/admin/workgroup/course/#{course.id}/group_work_status/#{workgroup.id}"}
                      = workgroup.name
                  - for activity_status in workgroup.activity_statuses
                    - for stage_id, stage in activity_status.stages.items
                      - if stage.link
                        %td
                          - if stage.is_grading_stage
                            - if not activity_status.ta_graded
                              %a{href: "#{stage.link}", class: "status grading #{stage.status}"}
                            - else
                              {% trans "--" %}
                          - else
                            %a{href: "#{stage.link}", class: "status #{stage.status}"}
                      - else
                        %td{class: "status #{stage.status}"}
- block js_snippets
  :javascript
    $(function(){
      $('.group-list').dataTable({
        paging: false,
        searching: false
      });
    });
