- extends 'admin/admin_layout.haml'
- block content
  .admin-detail.row
    .large-12.large.columns
      - include 'admin/workgroup/detail_header.haml'
  .workgroup-report
    .row
      .large-12.large-centered.columns
        %header
          %h1
            = _("Group Work:")
            = course.name
            (
            %span><
              = course.display_id
            )
          .sub-1
            = _("Group Work Project Status")
          %div
            = _("Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.")
          .sub-2
            = _("Total Group Work Projects:")
            = total_group_count

    - for project in projects
      .row
        .large-12.large-centered.columns
          %hr
          %section
            .sub-1
              = _("Project:")
              %span= project.name
              - if project.organization_name
                %span= _(' - ')
                %span= project.organization_name
            .sub-2
              = _("Group Work Projects:")
              = project.group_count
          %table.group-list
            %thead
              %tr
                %th
                - for activity in project.activities
                  %th.activity-name{colspan: 4, title: "#{activity.name}"}
                    = _("Activity")
                    = activity.index
                    - if activity.grade_type
                      %span.grade-type
                        = activity.grade_type
              %tr
                %th
                - for activity in project.activities
                  %th
                    = activity.upload_date
                  %th
                    = activity.evaluation_date
                  %th
                    = activity.grade_date
                  %th
                    = activity.grade_date
              %tr
                %th= _("Group")
                - for activity in project.activities
                  %th= _("Upload")
                  %th= _("Evaluation")
                  %th= _("Review")
                  %th= _("Graded")

            %tbody
              - for workgroup in project.workgroups
                %tr
                  %td{"data-order": "#{workgroup.id}"}
                    %a{href:"/admin/workgroup/course/#{course.id}/group_work_status/#{workgroup.id}"}
                      = workgroup.name
                  - for activity_status in workgroup.activity_statuses
                    %td{class: "status #{activity_status.upload}"}
                    %td{class: "status #{activity_status.evaluation}"}
                    - if activity_status.ta_graded
                      %td
                        = _("--")
                    - else
                      %td{class: "status #{activity_status.grade}"}
                    %td
                      %a{href: "#{activity_status.review_link}", class: "status #{activity_status.graded}"}
- block js_snippets
  :javascript
    $(function(){
      $('.group-list').dataTable({
        paging: false,
        searching: false
      });
    });
