- extends 'admin/admin_layout.haml'
- load i18n
- block content
  .admin-detail.row
    .large-12.large.columns
      - include 'admin/workgroup/detail_header.haml'
  .workgroup-report
    .row
      .large-12.large-centered.columns
        %header
          %h1
            {% trans "Group Work:" %}
            = course.name
          .sub-1
            {% trans "Group Work Project Status" %}
          %div


    - for project in projects
      - for workgroup in project.workgroups
        .row
          .large-12.large-centered.columns
            %hr
            %section
              .sub-1
                %span= workgroup.name
                {% trans "Detail:" %}
          %table.group-detail
            %thead
              %tr
                %th
                - for activity in project.activities
                  %th{colspan: "{{ activity.stage_count }}", title: "#{activity.name}", class: "activity-name activity_{% cycle 'odd' 'even' %}"}
                    {% trans "Activity" %}
                    = forloop.counter
                    - if activity.grade_type
                      %span.grade-type
                        = activity.grade_type
              %tr
                %th
                - for activity in project.activities
                  - for stage_id, stage in activity.stages.items
                    %th{class: "activity_{% if forloop.parentloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"}
                      = stage.deadline
              %tr
                %th
                  -#= _("Email Group") (present in design, but not in story board - appears to be a future desire)
                - for activity in project.activities
                  - for stage_id, stage in activity.stages.items
                    %th{class: "activity_{% if forloop.parentloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"}
                      = stage.name
            %tbody
              %tr.group-status
                %td{"data-order": "aaa"}
                  = _("Group Status")
                - for activity_status in workgroup.activity_statuses
                  - for stage_id, stage in activity_status.stages.items
                    - if stage.link
                      %td
                        - if stage.is_grading_stage
                          - if activity_status.ta_graded
                            %a{href: "#{stage.link}", class:"status grading"}
                              {% trans "TA Graded" %}
                          - else
                            %a{href: "#{stage.link}", class:"status grading #{stage.status}"}
                        - else
                          %a{href: "#{stage.link}", class: "status #{stage.status}"}
                    - else
                      %td{class: "status #{stage.status}"}

              - for user in workgroup.users
                %tr
                  %td.group-user-info{"data-order": "#{user.username}", rowspan: "#{user.review_row_count}", title: "#{user.username}\n#{user.email}\n#{user.company}"}
                    %div= user.username
                    %div
                      %a{href: "mailto:#{user.email}"}
                        = user.email
                    %div
                      = user.company
                  - for user_activity_status in user.activity_statuses
                    - for stage_id, stage in user_activity_status.stages.items
                      - if stage.review_groups
                        %td
                          - for review_group in stage.review_groups
                            %div.review-group-link
                              %a{href: "#{review_group.review_link}", class:"#{review_group.review_status}"}
                                = review_group.name
                      - elif stage.link
                        %td
                          - if stage.is_grading_stage
                            - if activity_status.ta_graded
                              {% trans "--" %}
                            - else
                              %a{href: "#{stage.link}", class:"status grading #{stage.status}"}
                          - else
                            %a{href: "#{stage.link}", class: "status #{stage.status}"}
                      - else
                        %td{class: "status #{stage.status}"}
        .row
          .large-12.large-centered.columns
            %ul.nav-links
              %li
                %a{href: "#{workgroup.review_link}"}
                  {% trans "Go to Group page on platform" %}
              %li
                %a{href: "/admin/workgroup/course/#{course.id}/group_work_status"}
                  {% trans "View all groups for course" %}

- block js_snippets
  :javascript
    $(function(){
      $('.group-detail').dataTable({
        paging: false,
        searching: false
      }).on('order.dt', function(){
        $('.group-detail tbody').prepend($('.group-status'));
        $('.group-detail tbody tr').each(function(i, row){
          $(row).removeClass('odd even').addClass(i % 2 ? 'even' : 'odd');
        })
      });
    });
