- load i18n
%section.course-progress
  - if course.user_progress == 0
    .zero
      %div
        %span {% trans "Your course progress will be displayed here." %}
  .sub-2.progress-link
    {% trans "Progress:" %}
    %a{"href": "/courses/#{course.id}/cohort"}
      %i.fa.fa-arrow-circle-right
  .visualization
    .total{"style": "left:#{course.user_progress}%;"}
      #{course.user_progress}%
    .bar.gradient{"class": "{% if course.user_progress < average_progress %}trailing{% endif %}", "style": "width:#{course.user_progress}%;"}
    .triangle{"style": "left:#{average_progress}%"}
  .label-4 {% trans "cohort average" %} = #{average_progress}%
  %a.info{'data-reveal-id': 'mckinsey_progress_help'}
    %i.fa.fa-info-circle
  #mckinsey_progress_help.reveal-modal.small{'data-reveal': ''}
    .close-reveal-modal
      %i.fa.fa-times-circle
    - if modules_custom_label
      %p {% blocktrans %}This visualization displays your progress through course content. The average progress of your cohort is displayed as well. Note that your progress is based on consumption of all individual {{modules_custom_label}} and readings within the course.{% endblocktrans %}
    - else
      %p {% trans "This visualization displays your progress through course content. The average progress of your cohort is displayed as well. Note that your progress is based on consumption of all individual modules and readings within the course." %}
