- load i18n
- load staticfiles

	%h2.title {% trans "Activation Link" %}

	.close-reveal-modal
		%i.fa.fa-times-circle

	%table.activation-list
		%thead
			%tr
				%th
					{% trans "Email" %}
				%th
					{% trans "First name" %}
				%th
					{% trans "Last name" %}
				%th
					{% trans "Company Code" %}
				%th
					{% trans "Activation Link" %}
				%th
					{% trans "Copy" %}

		%tbody
		- for record in records
			%tr.activation-record 		
				%td.email
						#{record.0}
				%td.first_name
						#{record.1}
				%td.last_name 
						#{record.2}
				%td.company_id	  	 
						#{record.3}
				%td.activation_link
						#{record.4}
				%td.clipboard_button{'style': 'position:relative'}
					%button.copy-access-key.button.prefix.postfix.radius{type: "button", title: "{% trans 'Copy to clipboard.' %}", "data-clipboard-text": "#{record.4}", "style": 'min-width:100px'}
            {% trans "Copy" %}
					%span.tooltip{"style": "position:absolute;top:50px;"} {% trans "Copied to clipboard." %}
						%span.nub
