- extends "admin/admin_layout.haml"
- load i18n

- block content
  #mainParticipantsWrapper
    #participantsListTopContainer{:internal-flag => '#{internalAdminFlag}'}
      #participantsTitleContainer
        %p {% trans "Participants" %}
      #participantsAddWrapper
        %a.button.small.radius.menuButton{:type => "button", "data-dropdown": "csvImportContainer", "aria-controls": "csvImportContainer", "aria-expanded": "false"}
          {% trans 'Import .CSV' %}
          %i.fa.fa-sort-desc.buttonIcon
        .f-dropdown.dropdownMenu#csvImportContainer{"data-dropdown-content": "true", "aria-hidden": "true"}
          .dropdownItem{'data-reveal-id': 'import_from_csv'}
            {% trans 'Import New Participants' %}
          %br
          .dropdownItem{'data-reveal-id': 'enroll_to_course_from_csv'}
            {% trans 'Enroll Existing Participants' %}
          %br
          .dropdownItem{'data-reveal-id': 'update_profile_data'}
            {% trans 'Update profile data' %}
          %br
          .dropdownItem{'data-reveal-id': 'update_manager_data'}
            {% trans 'Update manager data' %}
          %br
        %input.button.small.radius.menuButton.participantAddButton{:type => "button", :value => "{% trans 'Add New Participant' %}"}
        %input.button.small.radius.menuButton{:type => "button", :value => "{% trans 'Bulk Unenroll' %}", 'data-reveal-id': 'unenroll_from_course_from_csv'}
        - if enableDataDeletion
          %input.button.small.radius.menuButton{:type => "button", :value => "{% trans 'Bulk Delete' %}", 'data-reveal-id': 'advanced_delete_modal'}
        %a.button.small.radius.menuButton{:href => "{% url 'participants_import_progress' %}"}
          {% trans "View Import Progress" %}
      %hr
      #participantsSearchWrapper
        .row
          .large-3.columns
            %input{:placeholder => '{% trans "Company" %}', :type => 'text', :name => 'organization_display_name', :class => 'clearableParticipantsList'}
          .large-3.columns
            %input{:placeholder => '{% trans "Course" %}', :type => 'text', :name => 'courses', :class => 'clearableParticipantsList'}
          .large-3.columns
            %input{:placeholder => '{% trans "Name" %}', :type => 'text', :name => 'name', :class => 'clearableParticipantsList'}
          .large-3.columns
            %input{:placeholder => '{% trans "Email" %}', :type => 'text', :name => 'email', :class => 'clearableParticipantsList'}

    #participantsListViewGridBlock

    - if enableDataDeletion
      #delete_user_modal.reveal-modal.small{'data-reveal': ''}
        .close-reveal-modal
          %i.fa.fa-times-circle
        .titleContainer
          %h2 {% trans "Delete data" %}
        %hr
        .contentContainer
          {% trans "Data for below participant will be deleted:" %}
          %br
          %br
          #participantInfoContainer
            User Name
          .deletionWarning
            %i.fa.fa-warning
            {% trans "Warning: Deletion cannot be undone!" %}
          #confirmDeletionContainer
            .confirm-deletion-box
              .checkboxContainer
                %input{type: "checkbox", id: "checkbox_confirm_user_deletion_1", class: "deletionConfirmationCheckbox"}
                {% trans "User will not be able to access the platform" %}
              %br
              .checkboxContainer
                %input{type: "checkbox", id: "checkbox_confirm_user_deletion_2", class: "deletionConfirmationCheckbox"}
                {% trans "User data will no longer be available in the platform" %}
        .errorContainer
        .button-wrapper
          %a.button.small.radius.menuButton.cancelButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "Cancel"}
            {% trans "Cancel" %}
          %a.button.small.radius.menuButton.confirmButton.disabled{:type => "button"}
            {% trans "Yes" %}

      #delete_user_success.reveal-modal.small{'data-reveal': ''}
        .close-reveal-modal
          %i.fa.fa-times-circle
        .titleContainer
          %h2 {% trans "Successfully deleted user!" %}
        .button-wrapper.topPadding
          %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "I'm Done"}
            {% trans "I'm Done" %}

      #advanced_delete_modal.reveal-modal.small{'data-reveal': ''}
        .close-reveal-modal
          %i.fa.fa-times-circle
        .titleContainer
          %h2 {% trans "Delete Participants From CSV" %}
        .bottomPadding
          %a#deleteParticipantTemplate{:href => "#", 'download': 'template.csv'}
            {% trans "Download CSV Template" %}
        %p
          {% blocktrans %}
          Download the CSV template above to delete users. All fields in the template are required.
          {% endblocktrans %}
        %hr
        .admin-form
          %form{action: "/admin/api/participants/delete_participants_from_csv", method: "POST", enctype: "multipart/form-data", :class => "fileInputDelete"}
            - csrf_token
            = form_delete
          %form{action: "/admin/api/participants/delete_participants_from_csv", method: "POST", enctype: "multipart/form-data", :class => "dropzone", :id => 'participantsDeleteCsvUpload'}
          .upload_stats
          #delete-error-list.errorContainer

          .button-wrapper
            %input.button.radius.small{type: "submit", value: "{% trans 'Delete Participants' %}", disabled: "disabled", id: 'submitCSVDelete'}
            %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "Cancel"}
              {% trans "Close" %}
            %i.fa.fa-spin.fa-spinner{style: "display:none;"}

      #delete_participants_confirm_message.reveal-modal.tiny{'data-reveal': ''}
        .close-reveal-modal
          %i.fa.fa-times-circle
        .titleContainer
          %h2.delete_message {% trans "Delete Data" %}
        .contentContainer
          %p
            {% blocktrans %} Data for
            %span.user_count.boldText
              0
            participants will be deleted.
            {% endblocktrans %}
          %br
          .deletionWarning
            %i.fa.fa-warning
            {% trans "Warning: Deletion cannot be undone!" %}
          .confirm-deletion-box
            .admin-form
              %form{action: "/admin/api/participants/delete_participants_from_csv", method: "DELETE", id: "deleteParticipantsConfirm"}
                = form_delete_confirm
                .checkboxContainer
                  %input{type: "checkbox", id: "checkbox_confirm_mass_user_deletion_1", class: "massDeletionConfirmationCheckbox"}
                  {% trans "Users will not be able to access the platform" %}
                %br
                .checkboxContainer
                  %input{type: "checkbox", id: "checkbox_confirm_mass_user_deletion_2", class: "massDeletionConfirmationCheckbox"}
                  {% trans "User data will no longer be available in the platform" %}

              #delete-confirm-error-list.errorContainer
              .button-wrapper
                %a.button.small.radius.menuButton.cancelButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "Cancel"}
                  {% trans "Cancel" %}
                %a.button.small.radius.menuButton.confirmButton.disabled{:type => "button"}
                  {% trans "Yes" %}
                %i.fa.fa-spin.fa-spinner{style: "display:none;"}

      #delete_participants_success.reveal-modal.small{'data-reveal': ''}
        .close-reveal-modal
          %i.fa.fa-times-circle
        .titleContainer
          %h2.delete_message {% trans "Your CSV is Being Processed..." %}
        .contentContainer
          %p.bottomPadding
            {% trans "Bulk deletion has started and you will receive an email notification on completion." %}

          .button-wrapper.topPadding
            %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "Close"}
              {% trans "Close" %}

    #add_a_participant.reveal-modal.small{'data-reveal': ''}
      .close-reveal-modal
        %i.fa.fa-times-circle
      %h2 {% trans "Add a Participant" %}
      %p
        {% trans "Want to add more than one participant at a time?" %}
        %a{:href => "#", 'data-reveal-id': 'import_from_csv'}
          {% trans "Import a list" %}

      %hr
      .errorContainer
      %form.participantDetailsEditForm
        - csrf_token
        .row
          .large-6.columns.participantFirstName
            .participantFirstNameLabel.labelUniversal
              {% blocktrans %} First Name<sup>*</sup> {% endblocktrans %}
            .participantFirstNameValue
              %input.cleanable{:type => "text",  :name => "first_name", :maxlength => "30"}
          .large-6.columns.participantLastName
            .participantLastNameLabel.labelUniversal
              {% blocktrans %}Last Name<sup>*</sup> {% endblocktrans %}
            .participantLastNameValue
              %input.cleanable{:type => "text",  :name => "last_name", :maxlength => "30"}
        .row
          .large-6.columns.participantEmail
            .participantEmailLabelContainer.labelUniversal
              .participantEmailLabel.inlineBlock
                {% blocktrans %} Email<sup>*</sup> {% endblocktrans %}
            .participantEmailValue
              %input.cleanable{:type => "email", :name => "email", :maxlength => "60", :onkeyup => 'validateParticipantEmail()', :class => 'participantEmailInput', :required => 'true'}
              %i.fa.fa-check-circle-o.correctInput.checkMark
          .large-6.columns.participantCompany
            .participantCompanyLabel.labelUniversal
              {% blocktrans %} Company<sup>*</sup> {% endblocktrans %}
            .participantCompanyValue
              %input.cleanable{:type => "text", :name => "company", :maxlength => "60"}
              %i.fa.fa-check-circle-o.correctInput
              .newCompanyCreationPopup
                {% trans "Since this company does not yet exist, a new company will be created. If this is an error, try selecting your company from the type-ahead results." %}
              .errorMessage
        .row
          .large-6.columns.participantCountry
            .participantCountryLabel.labelUniversal
              {% trans "Country Abbreviation" %}
            .participantCountryValue
              %input{:type => "text", :id =>'country_edit', :name => "country_fullname", :readonly => '', :maxlength => "2"}
              %input{:type => "hidden", :id =>'country_edit_code', :name => "country", :maxlength => "2"}
          .large-6.columns.participantCity
            .participantCityLabel.labelUniversal
              {% trans "City" %}
            .participantCityValue
              %input.cleanable{:type => "text", :name => "city", :maxlength => "60"}
        .row
          .large-6.columns.participantGender
            .participantGenderLabel.labelUniversal
              {% trans "Gender" %}
            .participantGenderValue
              %select{:name => "gender"}
                  %option{:value => ""}
                    {% trans "N/A" %}
                  %option{:value => "M"}
                    {% trans "Male" %}
                  %option{:value => "F"}
                    {% trans "Female" %}
          .large-6.columns.participantPermissions
            .participantPermissionsLabel.labelUniversal
              {% trans "Permissions" %}
            .participantPermissionsValue
              %select{:name => "company_permissions"}
                %option{:value => "none"}
                  {% trans "None" %}
                - if user.is_mcka_admin
                  %option{:value => "uber_admin"}
                    {% trans "Uber admin" %}
                - if user.is_mcka_admin or user.is_mcka_subadmin
                  %option{:value => "course_ops"}
                    {% trans "Course ops admin" %}
                %option{:value => "internal_admin"}
                  {% trans "Internal Admin" %}
        %hr
        .adminAnotherCompanyAllWrapper
        - if user.is_mcka_admin or user.is_mcka_subadmin
          .addAnotherCompanyWrapper.row
            %a.large-12.columns
              + {% trans "Add company admin privileges" %}
          %hr
        .adminCourseAllWrapper
        - if user.is_mcka_admin or user.is_mcka_subadmin or user.is_internal_admin
          .addAnotherCourseWrapper.row
            %a.large-12.columns
              + {% trans "Add course" %}
          %hr
        .emailActivationWrapper.row
          .large-12.columns
            .emailActivationLinkCheckboxWrapper
              %input.emailActivationCheckbox{:type => 'checkbox'}
              .emailActivation
                {% trans "Email activation link now" %}
      .button-wrapper
        %a.button.small.radius.menuButton.addSingleParticipantButton{:type => "button", :value => "Add Participant"}
          {% trans "Add Participant" %}
        %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "Cancel"}
          {% trans "Cancel" %}

    #download_csv_template.reveal-modal.small{'data-reveal': ''}
      .close-reveal-modal
        %i.fa.fa-times-circle
      %h2 {% trans "CSV Template and Formatting" %}
      %p
        {% trans "Download the CSV template below to import users." %}
        %strong {% trans "All fields in the template are required." %}
        {% trans "Note that you must add users to preexisting companies and courses." %}
      .button-wrapper
        %a.button.small.radius.menuButton{:type => "button", :value => "Download Template", :href => '/static/docs/participant-onboarding-template.csv', :target => '_blank'}
          {% trans "Download Template" %}
        %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "Cancel"}
          {% trans "Cancel" %}

    #import_from_csv.reveal-modal.medium{'data-reveal': ''}
      .close-reveal-modal
        %i.fa.fa-times-circle
      %h2 {% trans "Import Participants from CSV" %}
      %hr
      .bottomPadding
        %a{:href => "#", 'data-reveal-id': 'download_csv_template'} CSV Template
      .admin-form

        %form{action: "/admin/api/participants/import_participants", method: "POST", enctype: "multipart/form-data"}
          - csrf_token
          = form

          .button-wrapper.topPadding
            %input.button.radius.small{type: "submit", value: "{% trans 'Add Participants' %}", disabled: "disabled", id: ''}
            %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "Cancel"}
              {% trans "Cancel" %}

        %form{action: "/admin/api/participants/import_participants", method: "POST", enctype: "multipart/form-data", :class => "dropzone", :id => 'participantsCsvUpload'}

        .upload_stats
        #enroll-error-list

        .emailActivationWrapper
            .emailActivationLinkCheckboxWrapper
              %input.emailActivationCheckbox{:type => 'checkbox', :disabled => 'disabled', :id => 'emailActivationCheckboxId'}
              %label.emailActivation{:for => 'emailActivationCheckboxId' }
                {% trans "Email activation links now" %}

    #import_participants_popup_message.reveal-modal.tiny{:aria-hidden => "true", :aria-labelledby => "modalTitle", :data-reveal => "", :role => "dialog"}
      %h2#modalTitle {% trans "Your CSV is Importing..." %}
      %p.lead
        {% blocktrans %} Import will run in the background. You may access the status from the
        %span
          'Import Progress'
        tab.
        {% endblocktrans %}
      %a.close-reveal-modal.button{:aria-label => "Close"} {% trans "Okay" %}
      %a.close-reveal-modal{:aria-label => "Close"} ×

    #enroll_to_course_from_csv.reveal-modal.medium{'data-reveal': ''}
      .close-reveal-modal
        %i.fa.fa-times-circle
      %h2 {% trans "Enroll Participants to courses from CSV" %}
      %hr
      .bottomPadding
        %a#enrollParticipantTemplate{:href => "#", 'download': 'template.csv'}
          {% trans "CSV Template" %}
      .admin-form{style: "padding-bottom:0px;"}

        %form{action: "/admin/api/participants/enroll_participants_from_csv", method: "POST", enctype: "multipart/form-data", :class => "fileInputEnroll"}
          = form_enroll

        %form{action: "/admin/api/participants/enroll_participants_from_csv", method: "POST", enctype: "multipart/form-data", :class => "dropzone", :id => 'participantsEnrollCsvUpload'}

        .upload_stats
        .button-wrapper.topPadding{style: "padding-top:10px;padding-bottom:10px;position:relative;"}
          %input.button.radius.small{type: "submit", value: "{% trans 'Add Participants' %}", disabled: "disabled", id: 'submitCSVEnroll'}
          %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "Cancel"}
            {% trans "Cancel" %}
          %i.fa.fa-spin.fa-spinner{style: "display:none;"}
        #enroll-participants-error-list

    #unenroll_from_course_from_csv.reveal-modal.small{'data-reveal': ''}
      .close-reveal-modal
        %i.fa.fa-times-circle
      .titleContainer
        %h2 {% trans "Unenroll Participants from courses from CSV" %}
      .bottomPadding
        %a#unenrollParticipantTemplate{:href => "#", 'download': 'template.csv'}
          {% trans "Download CSV Template" %}
      %p
        {% blocktrans %}
        Download the CSV template above to unenroll users. All fields in the template are required.
        {% endblocktrans %}
      %hr
      .admin-form
        %form{action: "/admin/api/participants/enroll_participants_from_csv", method: "DELETE", enctype: "multipart/form-data", :class => "fileInputUnenroll"}
          = form_unenroll
        %form{action: "/admin/api/participants/enroll_participants_from_csv", method: "DELETE", enctype: "multipart/form-data", :class => "dropzone", :id => 'participantsUnenrollCsvUpload'}
        .upload_stats
        .button-wrapper
          %input.button.radius.small{type: "submit", value: "{% trans 'Unenroll Participants' %}", disabled: "disabled", id: 'submitCSVUnenroll'}
          %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "Cancel"}
            {% trans "Close" %}
          %i.fa.fa-spin.fa-spinner{style: "display:none;"}
        #unenroll-participants-error-list

    #unenroll_participants_success.reveal-modal.small{'data-reveal': ''}
      .close-reveal-modal
        %i.fa.fa-times-circle
      .titleContainer
        %h2.delete_message {% trans "Your CSV is Being Processed..." %}
      .contentContainer
        %p.bottomPadding
          {% trans "The unenrollment has been started for the selected participants. Email will be sent on completion." %}
        %p.send_email{style: "display:none;"}
          {% trans "You will be notified by email once completed." %}

        .button-wrapper.topPadding
          %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "Close"}
            {% trans "Close" %}

    #confirmation_screen.reveal-modal.big{'data-reveal': '', 'data-task-key': '', 'data-uploaded': ''}
      .close-reveal-modal
        %i.fa.fa-times-circle
      %h2.upload_message
      %hr

      .downloadActivationLinksConfirmationScreen
        %p {% trans "You can download the activation links now, or from the participant profiles at any time." %}
        %br
        %a.download_activation{:href => '/admin/api/participants/import_participants/download_activation_links/?task_key=', :target => '_self'}>
          {% trans "Download Activation Links" %}

      .sendActivationLinksConfirmationScreen
        %p {% trans "An activation link has been emailed to each student." %}

      .button-wrapper.topPadding
        %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "I'm Done"}
          {% trans "I'm Done" %}

    #confirmation_screen_single_participant.reveal-modal.big{'data-reveal': ''}
      .close-reveal-modal
        %i.fa.fa-times-circle
      %h2.upload_message
        {% trans "Successfully added new user!" %}
      %hr

      %p {% trans "You can download the activation link now, or from the participant profiles at any time." %}
      %br
      %br
      %a.download_user_activation{:data-url => '/admin/api/participants/import_participants/download_activation_links/?user_id=', :target => '_self'}>
        {% trans "Download Activation Link" %}
      %br
      %a.go_to_user_profile{:data-url => '/admin/participants/', :target => '_self'}>
        {% trans "Go To User Profile" %}

      .button-wrapper.topPadding
        %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "I'm Done"}
          {% trans "I'm Done" %}

  #update_manager_data.reveal-modal.medium{'data-reveal': ''}
    .close-reveal-modal
      %i.fa.fa-times-circle
    %h2 {% trans "Update manager info of participants from CSV" %}
    %hr
    .bottomPadding
      %a#managerUpdateDownload{:href => "#", 'download': 'template.csv'}
        {% trans "CSV Template" %}
    .admin-form{style: "padding-bottom:0px;"}

      %form{action: "/admin/api/participants/update_manager_from_csv$", method: "POST", enctype: "multipart/form-data", :class => "fileInputManager"}
        - csrf_token
        = form_manager_update

      %form{action: "/admin/api/participants/update_manager_from_csv$", method: "POST", enctype: "multipart/form-data", :class => "dropzone", :id => 'participantsManagerUpdate'}
        - csrf_token

      .upload_stats
      .button-wrapper.topPadding{style: "padding-top:10px;padding-bottom:10px;position:relative;"}
        %input.button.radius.small{type: "submit", value: "{% trans 'Add Participants' %}", id: 'submitManagerUpdate'}
        %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "Cancel"}
          {% trans "Cancel" %}
        %i.fa.fa-spin.fa-spinner{style: "display:none;"}


  #update_profile_data.reveal-modal.medium{'data-reveal': ''}
    .close-reveal-modal
      %i.fa.fa-times-circle
    %h2 {% trans "Update organization fields of participants from CSV" %}
    %hr
    .bottomPadding
      %a#companyFieldUpdateDownload{:href => "#", 'download': 'template.csv'}
        {% trans "CSV Template" %}
    .admin-form{style: "padding-bottom:0px;"}

      %form{action: "/admin/api/participants/update_company_fields_from_csv$", method: "POST", enctype: "multipart/form-data", :class => "fileInputCompanyField"}
        - csrf_token
        = form_company_fields

      %form{action: "/admin/api/participants/update_company_fields_from_csv$", method: "POST", enctype: "multipart/form-data", :class => "dropzone", :id => 'participantsProfileUpdate'}
        - csrf_token

      .upload_stats
      .button-wrapper.topPadding{style: "padding-top:10px;padding-bottom:10px;position:relative;"}
        %input.button.radius.small{type: "submit", value: "{% trans 'Add Participants' %}", id: 'submitCompanyFieldsUpdate'}
        %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "Cancel"}
          {% trans "Cancel" %}
        %i.fa.fa-spin.fa-spinner{style: "display:none;"}

  #participantUpdateStatus.reveal-modal.small{"data-reveal": ""}
    %p.mainText
    %a.close-reveal-modal#closeParticipantUpdateStatus{"aria-label": "Close"}
      &#215;


- block js_snippets
  :javascript
    var enable_data_deletion = '{{enableDataDeletion}}';
