- extends "admin/admin_layout.haml"
- block content
  #mainParticipantsDetailsWrapper
    .participantDetailsNavigationButton
      %a{:href => '/admin/participants', :target => '_self'}> < Back to Participants
    #participantsDetailsDataWrapper{:data-id => '#{id}'}
      #participantsTopDetailsContainer
        .row
          .large-2.columns
            .participantImage{ :style => 'background-image:url("={avatar_url}")'}
          .large-5.columns
            .participantNameAndLogin
              .participantFullName
                ={full_name}
              .participantLastLogin
                Last logged in: ={custom_last_login}
          .large-2.columns
          .large-3.columns
            %input.button.small.radius.participantEnrollInCourse{:type => "button", :value => "Enroll in a Course"}
      #participantsMainDetailsContainerView
        .participantDetailsMenuButtons.row
          .participantProfileButton.large-2.columns
            %a{:href => '#', :target => '_self', :data-target => 'participantDetailsContent', :data-container => '#participantDetailsWrapper', :onclick => 'Apros.Router.HashPageChanger(this)'}>  PROFILE
          .participantActiveCoursesButton.large-3.columns
            %a{:href => '#', :target => '_self', :data-target => 'participantDetailsActiveCourses', :data-container => '#participantDetailsWrapper', :onclick => 'Apros.Router.HashPageChanger(this)'}> ACTIVE COURSES
          .participantCourseHistoryButton.large-3.columns
            %a{:href => '/admin/participants/#{id}', :target => '_self'}> COURSE HISTORY
          .participantCertificatesButton.large-2.columns
            %a{:href => '/admin/participants/#{id}', :target => '_self'}> CERTIFICATES
          .large-2.columns
        %hr
  #participantDetailsWrapper
    .participantDetailsContent.contentNavigationContainer
      .row
          .participantDetailsEditText.large-5.columns
            Participant Details
          .large-5.columns
          .participantDetailsEditButton.large-2.columns
            %input.button.small.radius.participantEditDetails{:type => "button", :value => "Edit"}
      .row
        .large-6.columns.participantFirstName
          .participantFirstNameLabel.labelUniversal
            First Name
          .participantFirstNameValue
            ={first_name}
        .large-6.columns.participantLastName
          .participantLastNameLabel.labelUniversal
            Last Name
          .participantLastNameValue
            ={last_name}
      %hr
      .row
        .large-6.columns.participantUsername
          .participantUsernameLabel.labelUniversal
            Username
          .participantUsernameValue
            ={username}
        .large-6.columns.participantEmail
          .participantEmailLabelContainer.labelUniversal
            .participantEmailLabel.inlineBlock
              Email
            .participantEmailReset.inlineBlock
              %a{:href => '/admin/participants/#{id}', :target => '_self'}> Send reset password email
          .participantEmailValue
            ={email}
      %hr
      .row
        .large-6.columns.participantCompany
          .participantCompanyLabel.labelUniversal
            Company
          .participantCompanyValue
            %a{:href => '/admin/clients/#{company_id}', :target => '_self'}> 
              ={company_name}
        .large-6.columns.participantGender
          .participantGenderLabel.labelUniversal
            Gender
          .participantGenderValue
            ={gender}
      %hr
      .row
        .large-6.columns.participantLocation
          .participantLocationLabel.labelUniversal
            Location
          .participantLocationValue
            ={location}
        .large-6.columns.participantPermissions
          .participantPermissionsLabel.labelUniversal
            Admin Permissions
          .participantPermissionsValue
            - for mcka_permission in mcka_permissions
              #{mcka_permission}
      .row
        .large-12.columns.participantBottomArchiveEdit
          %input.button.small.radius.participantArchive{:type => "button", :value => "Archive Participant"}
          %input.button.small.round.participantArchiveHelp{:type => "button", :value => "?"}

    .participantDetailsActiveCourses.contentNavigationContainer
      %img{:src => "http://preloaders.net/preloaders/712/Floating%20rays.gif", :id => 'participantDetailsActiveCoursesViewGridLoadingImage'}
      #participantDetailsActiveCoursesViewGrid.large-12.columns








