- extends "admin/admin_layout.haml"
- load i18n
- load static
- block js_snippets
  %script{src: "{% static 'js/ajaxify_overlay_form.js' %}"}
  %script{src: "{% static 'js/vendor/clipboard.min.js' %}"}
  :javascript
    $(document).on('opened.fndtn', '#activation-link-modal', enableCopyButton);
    function enableCopyButton() {
      var copyBtn = $('.copy-access-key');
      var clipboard = new ClipboardJS('.copy-access-key');
      var tooltip = copyBtn.siblings('.tooltip');
      clipboard.on('success', function(e) {
        tooltip.show();
      });
      copyBtn.on('mouseout', function (event) {
        tooltip.fadeOut();
      });
    }
    var participants_cohorts_available = '{{cohorts_available}}';

- block content
  #mainParticipantsDetailsWrapper
    - if user.is_company_admin
      .participantDetailsNavigationButton
        %a.participantDetailsNavigationButtonCompanyAdmin{:href => '#', :target => '_self'}> <
          {% trans "Back" %}
    - else
      .participantDetailsNavigationButton
        %a{:href => '/admin/participants', :target => '_self'}> <
          {% trans "Back to Participants" %}
    #participantsDetailsDataWrapper{:data-id => '#{id}', :admin-flag => '#{companyAdminFlag}', :internal-flag => '#{internalAdminFlag}', :company-id => '#{companyId}'}
      #participantsTopDetailsContainer
        .row
          .large-2.columns
            .participantImage{ :style => 'background-image:url(#{image_url_large})'}
          .large-5.columns
            .participantNameAndLogin
              .participantFullName
                = full_name
              .participantLastLogin
                {% trans "Last logged in:" %} #{custom_last_login}
          .large-2.columns
          .large-3.columns
            - if user.is_company_admin
            - else
              %input.button.small.radius.participantEnrollInCourse{:type => "button", :value => "{% trans 'Enroll in a Course' %}"}
      #participantsMainDetailsContainerView
        .participantDetailsMenuButtons.row
          .participantProfileButton.large-2.columns
            %a.hashPageButton{:href => '#', :target => '_self', :data-target => 'participantDetailsContent', :data-container => '#participantDetailsWrapper', :onclick => 'Apros.Router.HashPageChanger(this)', :style => 'font-weight: bold'}>
              {% trans "PROFILE" %}
          .participantActiveCoursesButton.large-3.columns
            %a.hashPageButton{:href => '#', :target => '_self', :data-target => 'participantDetailsActiveCourses', :data-container => '#participantDetailsWrapper', :onclick => 'Apros.Router.HashPageChanger(this)'}>
              {% trans "ACTIVE COURSES" %}
          .participantCourseHistoryButton.large-3.columns
            %a.hashPageButton{:href => '#', :target => '_self', :data-target => 'participantDetailsCourseHistory', :data-container => '#participantDetailsWrapper', :onclick => 'Apros.Router.HashPageChanger(this)'}>
              {% trans "COURSE HISTORY" %}
          .participantCertificatesButton.large-2.columns
            %a.hashPageButton{:href => '/admin/participants/#{id}', :target => '_self'}>
              {% trans "CERTIFICATES" %}
          .large-2.columns
        %hr
  #participantDetailsWrapper
    .contentNavigationContainer.participantDetailsContent
      .participantDetailsWrapper
        .row
            .participantDetailsEditText.large-5.columns
              {% trans "Participant Details" %}
            .large-5.columns
            .participantDetailsEditButton.large-2.columns
              - if user.is_company_admin
              - else
                %input.button.small.radius.participantEditDetails{:type => "button", :value => "{% trans 'Edit' %}"}
        - if user.is_company_admin
          - else
            - if has_activation_record
              - if not is_active
                .row
                  .large-12.columns.participantBottomArchiveEdit
                    %p.error
                      {% blocktrans %}&ast; This user has not yet activated their account. {% endblocktrans %}
                    %a.button.small.radius.participantActivation{"data-reveal-id": "activation-link-modal", "data-reveal-ajax": '/admin/api/participants/import_participants/download_activation_links/?user_id=#{id}&res_type=html', 'href': ""}>
                      {% trans "Get Activation Link" %}
                    %a.button.small.radius.participantActivation.cancelbutton{:href => '/admin/participants/#{id}/resend_activation_link', :target => '_self'}>
                      {% trans "Resend Activation Link" %}
        .row
          .large-6.columns.participantFirstName
            .participantFirstNameLabel.labelUniversal
              {% trans "First Name" %}
            .participantFirstNameValue
              = first_name
          .large-6.columns.participantLastName
            .participantLastNameLabel.labelUniversal
              {% trans "Last Name" %}
            .participantLastNameValue
              = last_name
        %hr
        .row
          .large-6.columns.participantUsername
            .participantUsernameLabel.labelUniversal
              {% trans "Username" %}
            .participantUsernameValue
              - if is_active
                = username
              - else
                &#8212;
          .large-6.columns.participantEmail
            .participantEmailLabelContainer.labelUniversal
              .participantEmailLabel.inlineBlock
                {% trans "Email" %}
              - if user.is_company_admin
              - else
                .participantEmailReset.inlineBlock
                  %a{:href => '/admin/participants/#{id}/reset_password', :target => '_self'}>
                    {% trans "Send reset password email" %}
            .participantEmailValue
              = email
        %hr
        .row
          .large-6.columns.participantCompany
            .participantCompanyLabel.labelUniversal
              {% trans "Company" %}
            .participantCompanyValue
              - if user.is_internal_admin
                %a.disabledATag{:href => '/admin/companies/#{company_id}', :data-id => '#{company_id}'}>
                  = company_name
              - else
                %a{:href => '/admin/companies/#{company_id}', :target => '_self', :data-id => '#{company_id}'}>
                  = company_name
          - if user.is_mcka_admin or user.is_mcka_subadmin
            .large-6.columns.participantManager
              .participantManagerLabel.labelUniversal
                {% trans "Manager Email" %}
              .participantManagerValue
                - if manager_email
                  = manager_email
        %hr
        .row
          .large-6.columns.participantGender
            .participantGenderLabel.labelUniversal
              {% trans "Gender" %}
            .participantGenderValue
              - if is_active
                - if gender == 'M'
                  {% trans "Male" %}
                - if gender == 'F'
                  {% trans "Female" %}
              - else
                &#8212;

          .large-6.columns.participantLocation
            .participantLocationLabel.labelUniversal
              {% trans "Location" %}
            .participantLocationValue{:title => '#{location}'}
              - if is_active
                = location
              - else
                &#8212;
        %hr
        - for field in custom_fields
          .large-6.columns.participantCompanyField
            .participantCompanyField.labelUniversal
              = field.label
            .participantCompanyFieldValue
              -if field.value
                = field.value
              -else
                &#8212;
            %hr
        .large-6.columns.participantPermissions
          .participantPermissionsLabel.labelUniversal
            {% trans "Admin Permissions" %}
          .participantPermissionsValue
            - for mcka_permission in mcka_permissions
              - if mcka_permission == '-'
                &#8212;
              - else
                #{mcka_permission}
        %br
        - if user.is_company_admin
        - else
          .row
            .large-12.columns.participantBottomArchiveEdit
              %input.button.small.radius.participantArchive{:type => "button", :value => "{% trans 'Archive Participant' %}"}
              %input.button.small.round.participantArchiveHelp{:type => "button", :value => "?"}

      %form.participantDetailsEditForm{:style => "display: none"}
        - csrf_token
        .row
          .large-6.columns.participantFirstName
            .participantFirstNameLabel.labelUniversal
              {% blocktrans %} First Name<sup>*</sup> {% endblocktrans %}
            .participantFirstNameValue
              %input{:type => "text", :value => '#{first_name}', :name => "first_name", :maxlength => "30"}
          .large-6.columns.participantLastName
            .participantLastNameLabel.labelUniversal
              {% blocktrans %} Last Name<sup>*</sup> {% endblocktrans %}
            .participantLastNameValue
              %input{:type => "text", :value => '#{last_name}', :name => "last_name", :maxlength => "30"}
        .row
          .large-6.columns.participantUsername
            .participantUsernameLabel.labelUniversal
              {% trans "Username" %}
              .fa.fa-check-circle-o.checkMark
            .participantUsernameValue
              %input{:type => "text", :value => '#{username}', :name => "username", :maxlength => "30", :onkeyup => 'validateParticipantUsername()', :class => 'participantUsernameInput'}
              .warningText
                %p {% trans "That username is already taken" %}
          .large-6.columns.participantEmail
            .participantEmailLabelContainer.labelUniversal
              .participantEmailLabel.inlineBlock
                {% blocktrans %}Email<sup>*</sup> {% endblocktrans %}
              .fa.fa-check-circle-o.checkMark
              .participantEmailReset.inlineBlock
                %a{:href => '/admin/participants/#{id}/reset_password', :target => '_self'}>
                  {% trans "Send reset password email" %}
            .participantEmailValue
              %input{:type => "text", :value => '#{email}', :name => "email", :maxlength => "60", :onkeyup => 'validateParticipantEmail()', :class => 'participantEmailInput'}
              .warningText
                %p {% trans "That email is already taken" %}
        .row
          .large-6.columns.participantCompany
            .participantCompanyLabel.labelUniversal
              {% blocktrans %} Company<sup>*</sup> {% endblocktrans %}
            .participantCompanyValue
              %input{:type => "text", :value => '#{company_name}', :data-id => '#{company_id}', :name => "company", :maxlength => "60", :data-old-id => '#{company_id}'}
              %i.fa.fa-check-circle-o.correctInput
              .newCompanyCreationPopup
                {% trans "Since this company does not yet exist, a new company will be created. If this is an error, try selecting your company from the type-ahead results." %}
              .errorMessage
          .large-6.columns.participantPermissions
            .participantPermissionsLabel.labelUniversal
              {% trans "Permissions" %}
            .participantPermissionsValue
              %select{:name => "company_permissions", :data-old-permission => '#{company_permission}'}
                - if company_permission == "none"
                  %option{:value => "none", :selected => "selected"}
                    {% trans "None" %}
                - else
                  %option{:value => "none"}
                    {% trans "None" %}
                - if user.is_mcka_admin
                  - if company_permission == "uber_admin"
                    %option{:value => "uber_admin", :selected => "selected"}
                      {% trans "Uber admin" %}
                  - else
                    %option{:value => "uber_admin"}
                      {% trans "Uber admin" %}
                - if user.is_mcka_admin or user.is_mcka_subadmin
                  - if company_permission == "course_ops"
                    %option{:value => "course_ops", :selected => "selected"}
                      {% trans "Course ops admin" %}
                  - else
                    %option{:value => "course_ops"}
                      {% trans "Course ops admin" %}
                - if company_permission == "internal_admin"
                  %option{:value => "internal_admin", :selected => "selected"}
                    {% trans "Internal Admin" %}
                - else
                  %option{:value => "internal_admin"}
                    {% trans "Internal Admin" %}
        .row
          - if user.is_mcka_admin or user.is_mcka_subadmin
            .large-6.columns.participantManager
              .participantManagerLabel.labelUniversal
                {% trans "Manager Email" %}
                .fa.fa-check-circle-o.checkMark
              .participantManagerValue
                %input{:type => "text", :value => '#{manager_email}', :name => 'manager_email', :maxlength => "60", :onkeyup => 'validateManagerEmail()', :class => 'participantManagerInput'}
                .warningText
                  %p {% trans "That email is already taken" %}
            .large-6.columns.participantCountry
              .participantCountryLabel.labelUniversal
                {% trans "Country Abbreviation" %}
              .participantCountryValue
                %input{:type => "text", :id =>'country_edit', :name => "country_fullname", :readonly => '', :maxlength => "2"}
                %input{:type => "hidden", :id =>'country_edit_code', :name => "country", :maxlength => "2"}
        .row
          .large-6.columns.participantCity
            .participantCityLabel.labelUniversal
              {% trans "City" %}
            .participantCityValue
              %input{:type => "text", :value => '#{city}', :name => "city", :maxlength => "60"}
          .large-6.columns.participantGender
            .participantGenderLabel.labelUniversal
              {% trans "Gender" %}
            .participantGenderValue
              %select{:name => "gender"}
                - if gender == 'M'
                  %option{:value => "M", :selected => 'True'}
                    {% trans "Male" %}
                  %option{:value => "F"}
                    {% trans "Female" %}
                  %option{:value => ""}
                    {% trans "N/A" %}

                - elif gender == 'F'
                  %option{:value => "M"}
                    {% trans "Male" %}
                  %option{:value => "F", :selected => 'True'}
                    {% trans "Female" %}
                  %option{:value => ""}
                    {% trans "N/A" %}

                - else
                  %option{:value => "M"}
                    {% trans "Male" %}
                  %option{:value => "F"}
                    {% trans "Female" %}
                  %option{:value => "", :selected => 'True'}
                    {% trans "N/A" %}

        - for field in custom_fields
          .large-6.columns.participantCompanyField
            .participantCompanyField.labelUniversal
              = field.label
              .fa.fa-check-circle-o.checkMark
            .participantCompanyField
              %input{:type => "text", :value => "{% if field.value%}{{field.value}}{% endif %}", :name => "#{field.key}", :maxlength => "60", "field_key": "#{field.key}"}


        - if user.is_mcka_admin or user.is_mcka_subadmin
          .companyAdminRolesContainer
          .addAnotherCompanyToAdminister.companyAdminControles
            %a{:href => '#', :target => '_self'}> +
              {% trans "Add another company" %}
          .refreshCompanyToAdminister.companyAdminControles
            %a{:href => '#', :target => '_self'}>
              {% trans "Refresh" %}
          %hr
        .row
          .large-12.columns.participantBottomSaveEdit
            .button.small.radius.disabled.participantDetailsSave
              {% trans "Save Changes" %}
            %a.cancelParticipantEdit{:href => '#', :target => '_self'}>
              {% trans "Cancel" %}

    .participantDetailsActiveCourses.contentNavigationContainer{:style => "display: none"}
      #participantDetailsActiveCoursesViewGrid.large-12.columns
      #activeCoursesExportStatsButton
        %a.button.radius.small#download_active_courses_stats{:href => '#.', "data-user_id": "#{id}"}
          {% trans "Export Stats" %}

    .participantDetailsCourseHistory.contentNavigationContainer{:style => "display: none"}
      #participantDetailsCourseHistoryViewGrid.large-12.columns
      #courseHistoryExportStatsButton
        %a.button.radius.small{:href => '/admin/api/participants/#{id}/course_history/export_stats', :target => '_self'}>
          {% trans "Export Stats" %}

  #participantDetailsMainModal.reveal-modal.small{"aria-hidden": "true", "aria-labelledby": "modalTitle", "data-reveal": "", :role => "dialog"}
    %h2.modalTitle
    %p.lead
    %p.mainText
    %a.close-reveal-modal{"aria-label": "Close"}
      &#215;

  #edit-status-modal.reveal-modal.small{"aria-hidden": "true", "aria-labelledby": "modalTitle", "data-reveal": "true", :role => "dialog"}

  #unenroll-user-modal.reveal-modal.small{"aria-hidden": "true", "aria-labelledby": "modalTitle", "data-reveal": "", :role => "dialog"}
    %h2.modalTitle
    {% trans "Are you sure you want to unenroll this user?" %}
    %p.lead
    %p.mainText
      %br
      %button.okbutton.button.radius.small{:value => 'ok'}>
        {% trans "Ok" %}
      %button.cancelbutton.button.radius.small.close-reveal-modal.close-modal-inline{:value => 'cancel'}>
        {% trans "Cancel" %}
    %p
      .error
    %a.close-reveal-modal{"aria-label": "Close"}
      &#215;

  #activation-link-modal.reveal-modal.large{"data-reveal": "true"}

  #participantEnrollMainModal.reveal-modal.small{"aria-hidden": "true", "aria-labelledby": "modalTitle", "data-reveal": "", :role => "dialog"}
    %h2.participantModalTitle
    .participantModalStatus
    %hr
    .participantModalDescription
    .participantModalContent
    .participantModalControl
      .button.saveChanges
        {% trans "Save Changes" %}
      %a.cancelChanges{:href => "#"}
        {% trans "Cancel" %}
    %a.close-reveal-modal{"aria-label": "Close"}
      &#215;

  #download-user-active-courses-stats-modal.reveal-modal.small{"aria-hidden": "true", "aria-labelledby": "modalTitle", "data-reveal": "", :role => "dialog"}
    %h2.modalTitle
    {% trans "We'll e-mail you when your report is ready to download." %}
    %p.lead
    %p.mainText
      %br
      %button.okbutton.button.radius.small{:value => 'ok'}>
        {% trans "Ok" %}
    %p
      .error
    %a.close-reveal-modal{"aria-label": "Close"}
      &#215;
