- extends "layout.haml"
- load staticfiles
- load i18n

- block page_title
  %title
    = request.session.client_display_name
    = " | "
    = program.display_name
    {% trans " | McKinsey Academy | Learner Dashboard" %}
- block content
  #learner-dashboard
    .learner-nav
      .container
        %ul.nav.tertiary.d-none.d-sm-block
          - if calendar_enabled
            %li
              %a.active{:href => "#"} Calender
          - if feature_flags.discussions
            %li
              %a{:href => "/learnerdashboard/#{learner_dashboard.id}/courses/#{course_id}/discussion"} Discussions
          - if feature_flags.resources
            %li
              %a{:href => "/learnerdashboard/#{learner_dashboard.id}/courses/#{course_id}/resources"} Resources
    .container.full
      .row
        .col-lg-8
          .gallery-card
            .gallery-title= learner_dashboard.title
            .gallery-content
              %p= learner_dashboard.description
            .gallery
              .row
                -for tile in learner_dashboard_tiles
                  .col-md-4
                    %a.card{href: "{% if tile.get_tile_type_display == 'Lesson' or tile.get_tile_type_display == 'Module' or tile.get_tile_type_display == 'In Person Session' %} #{tile.link}#{tile.id}/#{learner_dashboard.id} {%else%} #{tile.link} {%endif%}", target: "{% if tile.get_tile_type_display == 'Article' or  tile.get_tile_type_display == 'Webinar' %}_blank{% else %}_self{% endif %}", onclick: "ga('send', 'event', 'Outbound Link', 'click', 'TileID: #{tile.id}, TileName: #{tile.title}, UserID: #{request.user.id}')", "data-tile-id": "#{tile.id}"}
                      .image-holder
                        %img{:alt => "images", :src => "/company_images/#{tile.background_image}"}
                      .content
                        .tag
                          -if tile.label
                            = tile.label
                          -else
                            = tile.get_tile_type_display
                        .title= tile.title
                        .date= tile.note

        .col-lg-4
          .side-content
            .tag {% trans "for discovery" %}
            -for item in discovery_items
              .review-holder
                %h3.review
                  %a{href: "#{item.link}", target: "_blank", onclick: "ga('send', 'event', 'Outbound Link', 'click', 'DiscName: #{item.title}, UserID: #{request.user.id}')"}= item.title
                .review-by= item.author

- block js_snippets
  %script{src: "{% static 'js/course_contact_modal.js' %}"}
  %script{src: "{% static 'js/course_learner_dashboard/tile_id_to_view.js' %}"}
  %script{src: "{% static 'js/course_learner_dashboard/learner_dashboard_calendar_load.js' %}"}
  %script{src: "/static/js/jquery.mCustomScrollbar.concat.min.js"}
  %script{src: "{% static 'js/app_link_popup.js' %}"}

  %script
    $(".gallery").mCustomScrollbar({
        theme:"inset-2-dark"
    });

- block heap_events
  %script
    if ('{{user.id}}') {
        heap.identify('{{user.id}}');
    }
    if ('{{client_id}}') {
         heap.addUserProperties({CLIENT_ID: '{{client_id}}'});
    }
    if ('{{course.id}}' && '{{learner_dashboard.title}}') {
     heap.track('LEARNER_DASHBOARD_VISITED', {COURSE_ID: '{{course_id}}', LEARNER_DASHBOARD_NAME: '{{learner_dashboard.title}}', USER_ID: '{{user.id}}'});
    }
