- load i18n

%script
    $('body').addClass("noAppHeader");

.container
  .row
    .col
      .courseMainHeader
        %h1
          = course_name
          %a.backBtn
            %i.material-icons
              keyboard_arrow_left
        .courseNavWrap.clearfix
          .pn-ProductNav_Wrapper.clearfix
            %nav#pnProductNav.pn-ProductNav.clearfix{:data-overflowing => "none"}
              #pnProductNavContents.mainNav.pn-ProductNav_Contents
                %ul
                  %li{"class": "{% ifequal request.resolver_match.url_name 'course_landing_page' %}active{% endifequal %}"}
                    %a.nav-link.pn-ProductNav_Link{"href": "/courses/#{current_course.id}"}
                      {% trans "Overview" %}
                    %li#lessons-content{"data-dropdown-content": "true"}
                      - if course.chapters
                        %a.nav-link.pn-ProductNav_Link.dropdown-toggle{:data-toggle => "dropdown", :href => "#"}
                          {% trans "Lessons" %}
                      -else
                        %a.nav-link.pn-ProductNav_Link.dropdown-toggle.load-course-lessons{"data-course-id": "#{current_course.id}", :href => "#"}
                          {% trans "Lessons" %}
                      .dropdown-menu.allLessons{:class => "{% if LANGUAGE_BIDI %}dropdown-menu-right{% else %}dropdown-menu-left{% endif %}"}
                        - include "courses/content_page/lesson_menu.haml"

                  %li{"class": "{% ifequal request.resolver_match.url_name 'course_discussion' %}active{% endifequal %}"}
                    %a.nav-link.pn-ProductNav_Link{"href": "/courses/#{current_course.id}/discussion"}
                      {% trans "Discussion" %}
                  %li{"class": "{% ifequal request.resolver_match.url_name 'course_group_work' %}active{% endifequal %}"}
                    %a.nav-link.pn-ProductNav_Link{"href": "/courses/#{current_course.id}/group_work"}
                      {% trans "Group work" %}
                  %li{"class": "{% ifequal request.resolver_match.url_name 'course_cohort' %}active{% endifequal %}"}
                    %a.nav-link.pn-ProductNav_Link{"href": "/courses/#{current_course.id}/cohort"}
                      {% trans "Cohort" %}
                  %li{"class": "{% ifequal request.resolver_match.url_name 'course_progress' %}active{% endifequal %}"}
                    %a.nav-link.pn-ProductNav_Link{"href": "/courses/#{current_course.id}/progress"}
                      {% trans "Progress" %}
                  %li{"class": "{% if request.resolver_match.url_name == 'course_resources' or request.resolver_match.url_name == 'course_news' or request.resolver_match.url_name == 'course_nannouncements' %}active{% endif %}"}
                    %a.nav-link.pn-ProductNav_Link.dropdown-toggle{:data-toggle => "dropdown", :href => "#"}
                      {% trans "Course Materials" %}
                    .dropdown-menu{:class => "{% if LANGUAGE_BIDI %}dropdown-menu-left{% else %}dropdown-menu-right{% endif %}"}
                      %a.dropdown-item{:href => "/courses/#{current_course.id}/announcements"}
                        {% trans "Announcements" %}
                      %a.dropdown-item{:href => "/courses/#{current_course.id}/overview"}
                        {% trans "Course Overview" %}
                      %a.dropdown-item{:href => "/courses/#{current_course.id}/resources"}
                        {% trans "Resources" %}
                  %li
                    %a.nav-link.pn-ProductNav_Link{:aria-selected => "", :href => "#"}
                      {% trans "Notifications" %}
                %span#pnIndicator.pn-ProductNav_Indicator{:style => "transform: translateX(0px) scaleX(0.672); background-color: rgb(46, 45, 57);"}
            %button#pnAdvancerLeft.pn-Advancer.pn-Advancer_Left{"type": "button"}
              %svg.pn-Advancer_Icon{:viewbox => "0 0 551 1024", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M445.44 38.183L-2.53 512l447.97 473.817 85.857-81.173-409.6-433.23v81.172l409.6-433.23L445.44 38.18z"}
            %button#pnAdvancerRight.pn-Advancer.pn-Advancer_Right{:type => "button"}
              %svg.pn-Advancer_Icon{:viewbox => "0 0 551 1024", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M105.56 985.817L553.53 512 105.56 38.183l-85.857 81.173 409.6 433.23v-81.172l-409.6 433.23 85.856 81.174z"}
