- extends "courses/course_base.haml"
- load i18n

- block content
  .container.loader.donut-loader
    .row
      .col
        #course-overview.contentCard.courseOverview
          %ul.meta-info.hidden
            %li.label-4 {% trans "Details:" %}
            %li.label-3 {% trans "10 lessons" %}
            %li.label-3 {% trans "32 videos" %}
            %li.label-3 {% trans "9 assessments" %}
            %li.label-3 {% trans "72 exercises" %}
            %li.label-3 {% trans "1 group project" %}
            %li.label-3 {% trans "15 readings" %}
          %h1= course.name
          %div.sectionsWrap
            .overview
            %h1 {% trans "Overview" %}
            - autoescape off
              %p= overview.about
            %section.section
              %h5 {% trans "WHAT YOU WILL LEARN" %}
              .contentwrap
                .textImageWrap
                  .imgWrap
                    .video-preview
                      #mk_overview_player.thumb
                        - if overview.video
                          #mk-player{'data-video-id': "#{overview.course_video}"}
                        - elif overview.course_image_urls
                          %img{'src': '#{overview.course_image_urls.large}', alt: "#{active_course.name} Course Card"}
                      .video-overview.hidden
                        %i.fa.fa-play-circle
                        %span {% trans "Course Overview" %}
                        %time.label-2 2:08
                  .textWrap
                    - autoescape off
                      %p= overview.what_you_will_learn

            %section.section.faculty
              %h5 {% trans "Faculty" %}
              %div.contentwrap.facultyWrap
                %div.faculty
                  - for teacher in overview.faculty
                    - if teacher.idx == 0
                      %input{"id": "faculty_#{teacher.idx}", 'type': 'radio', 'name': 'faculty_tabs', 'checked': 'checked'}
                    - else
                      %input{"id": "faculty_#{teacher.idx}", 'type': 'radio', 'name': 'faculty_tabs'}
                    %label{"for": "faculty_#{teacher.idx}"}
                      %img{"src": "#{teacher.image_src}", alt: "#{teacher.name} picture"}
                      %span.bookmark.secondary
                        %svg{"height": "100%", "preserveaspectratio" : "none", "viewbox" : "0 0 20 100", "width" : "100%"}
                          %path{"d": "M5.90639e-13 0L10 0L20 50L10 100L5.90639e-13 100L5.90639e-13 0Z", "vector-effect" : "non-scaling-stroke"}
                  - for teacher in overview.faculty
                    %div.teacher{"id": "teacher_#{teacher.idx}", "class": "teacherinfaculty"}
                      %h2= teacher.name
                      %p.style-3
                        - autoescape off
                          = teacher.bio