- extends "courses/course_base_ld.haml"
- load staticfiles
- load i18n

- block page_title
  %title
    = program.display_name
    {% trans " | Discussion | Courses | McKinsey Academy" %}

- block custom_css
  -# lms-discussion-main.css is spiltted to two files for IE9 or below
  /[if lte IE 9]
    %link{rel: "stylesheet", href: "{% static 'css/lms-discussion-main.0.min.css' %}"}
    %link{rel: "stylesheet", href: "{% static 'css/lms-discussion-main.1.min.css' %}"}

- block content
  %script{src: "{% static 'js/highcharts/highcharts.js' %}"}
  %script{src: "{% static 'js/highcharts/highcharts-more.js' %}"}


  #learner-dashboard
    #replace-calendar{:data-learner-dashboard-id =>'#{learner_dashboard.id}'}
  #course-discussion
    .container.loader.donut-loader
      .row
        .col
          .contentCard
            .discussion-content

- block js_snippets
  %script{src: "{% static 'js/course_learner_dashboard/tile_id_to_view.js' %}"}
  %script{src: "{% static 'js/course_learner_dashboard/learner_dashboard_calendar_load.js' %}"}
  %script{src: "{% static 'js/course_contact_modal.js' %}"}
  :javascript
    window.onload = (function(){
      var discussion_content = $('#course-discussion .discussion-content');
      var discussion_data = {
        courseId: '{{ course_id }}',
        viewUrl: '{{ view_url }}',
        sessionId: '{{ remote_session_key }}',
        baseDomain: '{{ lms_base_domain }}',
        lmsSubDomain: '{{ lms_sub_domain }}',
        lmsPort: '{{ lms_port }}',
        jumpLinkRewriter: Apros.jumpLinkRewriter,
        {% if use_current_host %}
        useCurrentHost: true,
        {% endif %}
      };
      $.when.apply($, discussion_content.xblock(discussion_data)).
        done(function() {
          if ($('#discussion-ta-template').length > 0) {
            $('.discussion-body').prepend($("#discussion-ta-template").html());
          }
          $('.ask-ta').prependTo('.forum-nav');
          $("<h1>"+gettext('Discussion')+"</h1>").prependTo(".page-header-secondary");
          jQuery.noConflict();
      });
      // we need this to add some browser specific CSS rules
      $('#course-discussion').attr( "data-useragent", navigator.userAgent);
    })
  - if mcka_ta and not course.ended
    %script#discussion-ta-template{type: "text/template"}
      .ask-ta
        .group-member
          %img.avatar{:src => "#{mcka_ta.image_url_medium}" }
            .person-info
              .person-username= mcka_ta.username
              .person-fullname= mcka_ta.formatted_name
              - if mcka_ta.title
                .person-title{:title => "#{mcka_ta.title}"}
                  = mcka_ta.title
              .email
                %a.email-member{'data-member-email': '', 'data-reveal-id': 'contact-ta'}
                  {% trans "Email" %}
