- extends "admin/admin_layout.haml"
- load i18n

- load staticfiles
- block custom_js
  %script{src: "{% static 'js/vendor/tinymce/tinymce.min.js' %}"}

- block content
    #mainCourseDetailsWrapper
        .courseDetailsNavigationButton
          - if companyCourseDeatilsPage
            %a{:href => '/admin/companies/#{companyId}', :target => '_self'}>
              < {% trans "Back to" %} #{companyName}
          - else
            %a{:href => '/admin/courses/', :target => '_self'}> <
              {% trans "Back to All Courses" %}
        #courseDetailsDataWrapper{:data-id => '#{id}', :data-name => '#{name}', :admin-flag => '#{companyAdminFlag}', :company-page => '#{companyCourseDeatilsPage}', :company-id => '#{companyId}', :internal-flag => '#{internalAdminFlag}'}
            #courseDetailsTopContainer
                .row.courseDetailsHeader
                    .courseDetailsNameAndId
                      = name
                      = id
                    .courseDetailsTags
                      - if not user.is_company_admin
                        - for tag in tags
                          .courseDetailsTagsList.button.small.radius{:data-id => '#{tag.id}'}
                            %span= tag.name
                            %i.fa.fa-times.courseTagsDeleteIcon
                        %i.fa.fa-pencil.courseTagsIcon
                .row.courseDetailsBlocks
                    .large-4.columns.courseDetailsLeftBlock
                      - if start == '-' or end == '-'
                        %p {% trans "Evergreen" %}
                      - else
                        %p #{start} - #{end}
                      %p {% trans "Participants:" %} #{users_enrolled}
                    .large-4.columns.courseDetailsCenterBlock
                      %p {% trans "Avg Progress:" %} #{average_progress}%
                      %p {% trans "Avg Proficiency:" %} #{proficiency}
                    .large-4.columns.courseDetailsRightBlock
                      %p {% trans "Completed:" %} #{completed}%
                      %p {% trans "Passed:" %} #{passed}%
            #courseMainDetailsContainerView
              .courseDetailsMenuButtons.row
                .courseParticipantsButton.large-2.columns
                  %a{:href => '#', :target => '_self', :data-target => 'courseParticipants', :data-container => '#courseDetailsMainContainer', :onclick => 'Apros.Router.HashPageChanger(this)'}>
                    {% trans "PARTICIPANTS" %}
                .courseStatsButton.large-2.columns
                  %a{:href => '#', :target => '_self', :data-target => 'courseStats', :data-container => '#courseDetailsMainContainer', :onclick => 'Apros.Router.HashPageChanger(this)'}>
                    {% trans "STATS" %}
                - if request.resolver_match.url_name == 'course_details'
                  .courseStatsButton.large-4.columns
                    %a{:href => 'learner_dashboard'}>
                      {% trans "LEARNER DASHBOARD" %}

                  .courseStatsButton.large-4.columns
                    - if certificates_status == certificates_statuses.available
                      %form#generate-certificate-form{action: "{% url 'generate_course_certificates' id %}", method: 'POST'}
                        - csrf_token
                        %input{type: 'hidden', name: 'course_end', value: '{{end}}'}
                        %button.generateCourseCertButton{type: 'submit'}>
                          {% trans "Generate Certificates" %}
                    - elif certificates_status == certificates_statuses.generating
                       %button.generateCourseCertButton.disabled
                         {% trans "Generating Certificates" %}
                    - elif certificates_status == certificates_statuses.generated
                       %button.generateCourseCertButton.disabled
                         {% trans "Certificates Generated" %}
                %hr
            #courseDetailsMainContainer
              .row.courseParticipants.contentNavigationContainer
                - if user.is_company_admin
                  #courseBulkActionsMainContainer.bulkActionsButtonContainer.disabled
                    .bulkButtonWrapper
                      %a.button.radius.small.bulkExportStats.bulkButton.disabled{:href => "#"}
                        {% trans "Export Stats" %}
                - else
                  #courseBulkActionsMainContainer.bulkActionsButtonContainer.disabled
                    .bulkButtonWrapper
                      .hiddenButtonSplitModifier.bulkButton.disabled
                      - if user.is_internal_admin
                        %a.radius.small.bulkEmailSelectedParticipantsInternal.button.disabled{:href => "#"}
                          {% trans "Email Selected Participants" %}
                      - else
                        %a.radius.small.bulkEmailSelectedParticipants.button.bulkButton.disabled{:href => "#"}
                          {% trans "Email Selected Participants" %}
                      %a.button.radius.small.bulkDropdownIcon.bulkButton.disabled
                        .fa.fa-chevron-down
                    #dropBulkCourse.f-dropdown{:style => 'display: none',:aria-hidden => "true"}
                      %a.button.radius.small.submenuButtons.bulkChangeStatus.bulkButton.disabled{:href => "#"}
                        {% trans "Change status" %}
                      %a.button.radius.small.submenuButtons.bulkUnenrollFromCourse.bulkButton.disabled{:href => "#"}
                        {% trans "Unenroll from course" %}
                      %a.button.radius.small.submenuButtons.bulkEnrollInNewCourse.bulkButton.disabled{:href => "#"}
                        {% trans "Enroll in new course" %}
                      %a.button.radius.small.submenuButtons.bulkExportStats.bulkButton.disabled{:href => "#"}
                        {% trans "Export stats" %}
                      %a.button.radius.small.submenuButtons.bulkExportNotifData.bulkButton.disabled{:href => "#"}
                        {% trans "Download CSV For Notifications" %}
                #courseDetailsParticipantsGridWrapper
                  #courseDetailsParticipantsGrid.large-12.columns.spinnerContainer
              .row.courseStats.contentNavigationContainer
                #courseDetailsEngagementTopic.courseDetailsTopic
                  {% trans "Engagement Summary" %}
                #coursesDownloadStatsButton
                  - if companyCourseDeatilsPage
                    %a.button.radius.small{:href => '/admin/courses/#{id}/download_course_stats/?company_id=#{companyId}', :target => '_self'}>
                      {% trans "Export Stats" %}
                  - else
                    %a.button.radius.small{:href => '/admin/courses/#{id}/download_course_stats/', :target => '_self'}>
                      {% trans "Export Stats" %}
                #courseDetailsEngagementViewGrid.courseDetailsViewGrid.large-12.columns

                %input#discussionFeature{type: 'hidden', name: 'discussion_feature', value: '{{discussion_feature}}'}
                - if discussion_feature
                  #courseDetailsStatsTopic.courseDetailsTopic
                    {% trans "Social Engagement" %}
                  #courseDetailsStatsViewGrid.courseDetailsViewGrid.large-12.columns

  #courseDetailsMainModal.reveal-modal.small{"aria-hidden": "true", "aria-labelledby": "modalTitle", "data-reveal": "", :role => "dialog"}
    %h2.courseModalTitle
    %i.fa.fa-spinner.fa-spin.loadingIcon.hidden
    .courseModalStatus
    %hr
    .courseModalDescription
    .courseModalContent
    .courseModalControl
      .button.saveChanges
        {% trans "Save Changes" %}
      %a.cancelChanges{:href => "#"}
        {% trans "Cancel" %}
    %a.close-reveal-modal{"aria-label": "Close"}
      &#215;
  #courseDetailsBulkEmail.reveal-modal.medium{"aria-hidden": "true", "data-reveal": "", :role => "dialog"}
    %h2.emailModalTitle
    %i.fa.fa-spinner.fa-spin.loadingIcon.hidden
    .emailModalStatus
    %hr
    .row
      .large-12.columns.courseModalDescription
        {% trans "Email selected participants" %}
    .emailModalContent
      .row
        .large-6.columns.participantFirstName
          .fromEmailLabel.labelUniversal
            {% trans "From" %}
          .fromEmailValue
            %input{:type => "text", :value => '', :name => "from_email", :maxlength => "128"}
        .large-6.columns.participantLastName
          .templateNameLabel.labelUniversal
            {% trans "Template" %}
          .templateControlButtons
            %i.fa.fa-floppy-o.saveAsNewTemplate{:data-title => "{% trans 'Save as new template' %}"}
            %i.fa.fa-pencil-square-o.updateTemplate{:data-title => "{% trans 'Update selected template' %}"}
            %i.fa.fa-trash-o.removeTemplate{:data-title => "{% trans 'Remove selected template' %}"}
          .templateNameValue
            %select{:name => 'template_id'}
              %option{:value => "none"}
                {% trans "None" %}
              - for template in template_list
                %option{:value => "#{template.pk}"}
                  =template.title
      .row
        .large-12.columns.emailSubject
          .emailSubjectLabel.labelUniversal
            {% trans "Subject" %}
          .emailSubjectValue
            %input{:type => "text", :value => '', :name => "subject", :maxlength => "256"}
      .row
        .large-12.columns.emailBody
          .emailBodyLabel.labelUniversal
            {% trans "Body" %}
          .emailBodyTextarea
            %textarea#email_editor
    .row
      .large-12.columns.emailModalControl
        .button.sendEmail
          {% trans "Send Email" %}
        .buttonBlock
          %a.previewEmail{:href => "#"}
            {% trans "Preview email" %}
          %a.scheduleForLater{:href => "#"}
            {% trans "Schedule for Later" %}

    %a.close-reveal-modal{"aria-label": "Close"}
      &#215;


  #courseTagsModal.reveal-modal.small{"aria-hidden": "true", "aria-labelledby": "modalTitle", "data-reveal": "", :role => "dialog"}
    %h2 {% trans "Add Tags to this Course" %}
    %hr
    .row
      .large-6.columns
        .courseTagsList
          %input.courseTagsInput{:type => "text", :value => '', :name => "tag_name" }
          .errorMessage
          .newTagCreationPopup
            {% trans "Since this tag does not yet exist, a new Tag will be created. If this is an error, try selecting your tag from the type-ahead results." %}
    .row.courseTagsModalControl
      .button.addTagButton.small.radius
        Save
      %a.closeModal{:href => "#"}
        {% trans "Cancel" %}
    %a.close-reveal-modal{"aria-label": "Close"}
      &#215;


  #tagCoursesListModal.reveal-modal.tiny{"aria-hidden": "true", "aria-labelledby": "modalTitle", "data-reveal": "", :role => "dialog"}
    %h2.tagCoursesListTitle
    %hr
    .row
      #tagCoursesListBlock
    %a.close-reveal-modal{"aria-label": "Close"}
      &#215;

  - include "admin/fragments/hidden_image_upload_form.haml"
- block js_snippets
  :javascript

    var course_details_count_all_users = '{{count}}';
