- extends "layout.haml"
- load i18n


-#- block header
-#  - include 'accounts/login_header.haml'
- block content
  .container.activation.resetPassword
    .row.justify-content-center
      .reset-password-form.col-lg-8.col-md-12.form.border-top-main
        %form{action: "", method: "post"}
          - csrf_token
          - if validlink
            %h4 {% trans "Reset Password" %}
            %p {% trans "Your new password must be different from your previous password." %}


            %div.contentArea.clearfix
              %div
                .form-group.user_name_element
                  %div.maxInputWrap
                    %label.form-label{for: "id_new_password1"}
                      {% trans "New Password" %}
                      %span.required-field
                      %span
                    = form.new_password1
                    %i.show-hide.material-icons.longTapPopover{"data-container": "body", "data-content": "{% trans 'Show Password' %}", "data-placement": "bottom", "data-toggle": "popover"} visibility_off
                  %small.login-error.form-text
                    = form.new_password1.errors
                    {% trans "Must be at least 8 characters and must include upper and lowercase letters - plus numbers OR special characters." %}


                .form-group.user_name_element
                  %div.maxInputWrap
                    %label.form-label{for: "id_new_password2"}
                      {% trans "Confirm new password" %}
                      %span.required-field
                    = form.new_password2
                    %i.show-hide.material-icons.longTapPopover{"data-container": "body", "data-content": "{% trans 'Show Password' %}", "data-placement": "bottom", "data-toggle": "popover"} visibility_off
                  %small.login-error.form-text
                    = form.new_password2.errors

                {% trans "Reset Password" as submit_button_text %}
                %button#reset-password-done.btn.btn-primary.btn-lg.mt-20{type: "submit", :disabled} #{submit_button_text}
              - else
                %h1 {% trans "Password Reset Unsuccessful" %}
                %p {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}

  :javascript
    window.onload = function(){
      setTimeout(loadAfterTime, 1000)
    };
    function loadAfterTime()
    {
        if ($('input:-webkit-autofill')) {
            $('input:-webkit-autofill').each(function () {
                $(this).parents('.form-group').addClass('focused');
                $('#login').attr("disabled", false);
            });
        }
    }
    $('input').on('blur input', function() {
      $(this).parents('.form-group').addClass('focused');
      if($('#id_new_password1').val() !== "" && $('#id_new_password2').val() !== "")
        {
            $('#reset-password-done').attr("disabled", false);
        }
     });
