- extends "layout.haml"
- load i18n

-#- block header
-#  - include 'accounts/login_header.haml'
- block content
  .row
    .reset-password-form.large-10.medium-10.large-centered.medium-centered.columns
      .row
        %form.large-7.medium-7.columns{action: "", method: "post"}
          - csrf_token
          - if validlink
            %h1 {% trans "Reset Password" %}
            %p {% trans "Your new password must be different from your previous password." %}
            %br
            %br
            = form.new_password1.errors
            %label{for: "id_new_password1"}
              {% trans "New Password" %}
              %span.required-field
              %span
            = form.new_password1
            %br
            = form.new_password2.errors
            %label{for: "id_new_password2"}
              {% trans "Confirm new password" %}
              %span.required-field
              %span {% trans "Must be at least 8 characters and must include upper and lowercase letters - plus numbers or special characters." %}
            %br
            = form.new_password2
            %br
            {% trans "Reset Password" as submit_button_text %}
            %input.radius.small.button{type: "submit", value: "#{submit_button_text}"}
          - else
            %h1 {% trans "Password Reset Unsuccessful" %}
            %p {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
