- extends "layout.haml"
- load i18n


-#- block header
-#  - include 'accounts/login_header.haml'
- block content
  .container.activation.resetPassword
    .row.justify-content-center
      .reset-password-form.col-lg-8.col-md-12.form.border-top-main
        %form{action: "", method: "post"}
          - csrf_token
          - if validlink
            %h4 {% trans "Reset Password" %}
            %p {% trans "Your new password must be different from your previous password." %}


            %div.contentArea.clearfix
              %div
                .form-group.user_name_element
                  %div.maxInputWrap
                    %label.form-label{for: "id_new_password1"}
                      {% trans "New Password" %}
                      %span.required-field
                      %span
                    = form.new_password1
                    %i.show-hide.material-icons.longTapPopover{"data-container": "body", "data-content": "{% trans 'Show Password' %}", "data-placement": "bottom", "data-toggle": "popover"} visibility_off
                  %small.login-error.form-text
                    = form.new_password1.errors
                    {% trans "Must be at least 8 characters and must include upper and lowercase letters - plus numbers OR special characters." %}


                .form-group.user_name_element
                  %div.maxInputWrap
                    %label.form-label{for: "id_new_password2"}
                      {% trans "Confirm new password" %}
                      %span.required-field
                    = form.new_password2
                    %i.show-hide.material-icons.longTapPopover{"data-container": "body", "data-content": "{% trans 'Show Password' %}", "data-placement": "bottom", "data-toggle": "popover"} visibility_off
                  %small.login-error.form-text
                    = form.new_password2.errors

                {% trans "Reset Password" as submit_button_text %}
                %button#reset-password-done.btn.btn-primary.btn-lg.mt-20{type: "submit", :disabled} #{submit_button_text}
              - else
                %h1 {% trans "Password Reset Unsuccessful" %}
                %p {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}

  :javascript
    window.onload = function(){
      setTimeout(loadAfterTime, 1000)
    };
    function loadAfterTime()
    {
        if ($('input:-webkit-autofill')) {
            $('input:-webkit-autofill').each(function () {
                $(this).parents('.form-group').addClass('focused');
                $('#login').attr("disabled", false);
            });
        }
    }

- block js_snippets
  :javascript
    $(function(){
      function getPasswordValidationError(value) {
        if(value === undefined || value.length === 0){
          return gettext("This field is required.")
        }
        else if(! /^(?=.*[\d\W])(?=.*[a-z])(?=.*[A-Z]).{8,}$/.test(value)){
          return gettext("Must be at least 8 characters and include upper and lowercase letters - plus numbers OR special characters.");
        }
        else {
          return ""
        }
      }

      function validatePasswordField(sel) {
        let value = sel.val();
        let alreadyChecked = $(sel).parents('.form-group[changed]').length > 0;
        let errorMessage = getPasswordValidationError(value)
        let error = false;
        if (errorMessage) {
          if (alreadyChecked) {
            sel.siblings('.error').remove();
            sel.closest('.form-group').addClass('error');
            sel.after('<small class="error form-text">' + errorMessage + '</small>');
          }
          error = true
        }
        return error;
      }

      function checkFormForErrors(){
        let error = false;
        let sel = $('[name="new_password1"]');
        if (validatePasswordField($('[name="new_password1"]'))) {return true};
        if (validatePasswordField($('[name="new_password2"]'))) {return true};

        sel = $('[name="new_password2"]');
        let value_password2 = sel.val();
        let value_password1 = $('[name="new_password1"]').val();
        let alreadyChecked = $(sel).parents('.form-group[changed]').length > 0;
        if (value_password2 !== value_password1) {
          if (alreadyChecked) {
            sel.siblings('.error').remove();
            sel.closest('.form-group').addClass('error');
            sel.after("<small class='error form-text'>{% trans "The two password fields didn't match." %}</small>");
          }
          error = true
        }

        return error
      }

      $('input').on('keyup change', function(e) {
        $(this).parents('.form-group').removeClass('error');
        $(this).siblings('.error').remove();
        if (checkFormForErrors()){
          $('#reset-password-done').attr('disabled', true);
        } else {
          $('#reset-password-done').attr('disabled', false);
        }
        $(this).parents('.form-group').attr('changed', true);
      });

    });
