- extends "header.haml"
- block header_menu
  %nav{role: 'navigation'}
    %ul
      %li
        %a{href: '/admin'}= _("Admin")
      - if user.is_mcka_admin
        %li
          %a{href: '/admin/clients'}= _("Clients")
        %li
          %a{href: '/admin/programs'}= _("Programs")
      - if user.is_mcka_admin or user.is_mcka_ta
        %li
          %a{href: '/admin/workgroup'}= _("Group Work")
      - if user.is_mcka_admin
        %li
          %a{href: '/admin/course-meta-content'}= _("Course Content")
        %li
          %a{href: '/admin/permissions'}= _("Roles & Permissions")
