- extends "header.haml"

- block header_home
  - if user.is_mcka_admin or user.is_internal_admin or user.is_mcka_subadmin
    %a.admin-logo{href: '/admin'}
  - elif user.is_client_admin
    %a.admin-logo{href: '/admin/client-admin'}
  - elif user.is_company_admin
    %a.admin-logo{href: '/admin/company_dashboard'}

- block header_menu
  %nav{role: 'navigation'}
    %ul
      - if user.is_mcka_admin or user.is_internal_admin or user.is_mcka_subadmin
        %li
          %a{href: '/admin/courses/'}= _("Courses")

      - if user.is_mcka_admin or user.is_mcka_subadmin or user.is_internal_admin
        %li
          %a{href: '/admin/participants'}= _("Participants")

      - if user.is_mcka_admin or user.is_client_admin or user.is_mcka_subadmin or user.is_internal_admin
        %li
          %a{href: '/admin/companies'}= _("Companies")
      - elif user.is_company_admin
        %li
          %a{href: '/admin/company_dashboard'}= _("Companies")

      - if user.is_mcka_admin or user.is_mcka_ta or user.is_internal_admin or user.is_mcka_subadmin
        %li
          %a{href: '/admin/workgroup'}= _("Group Work")

      - if user.is_mcka_admin or user.is_mcka_subadmin or user.is_internal_admin
        %li
          %a{href: '/admin/course-meta-content'}= _("Course Content")

      - if user.is_mcka_admin or user.is_mcka_subadmin or user.is_internal_admin
        %li
          %a{href: '{% url "certificate_templates" %}'}= _("Certificates")

      - if user.is_internal_admin
        %li
          %a{href: '/admin'}= _("Customization")

      - if user.is_client_admin
        %li
          %a{href: '/admin/client-admin/courses'}= _("Courses")
        %li
          %a{href: '/admin/client-admin/programs'}= _("Programs")
        %li
          %a{href: '/admin/client-admin/contact'}= _("Contact")
