- extends 'admin/admin_layout.haml'
- load staticfiles
- block content
  .admin-list
    .row
      .large-10.large-centered.columns
        %header
          %h1.principal-title {{principal_name_plural}}: Overview
          .sub-1.add= _("Add a new ")
            %span= principal_name
          .add-message
            - block principal_message
              Use this block to update the message describing the principal at hand
          %a.button.radius.small{"data-reveal-id": "new-principal", "data-reveal-ajax": "true", href: "#{principal_new_url}"}
            = _("Add ")
            %span= principal_name
        %hr
        .principal-list
          .title= principal_list_plural
          .message
            - block principal_list_message
              Add a message here to describe the list of principals
          - block principal_list_filter
          - block principal_list
            %ul
              - for principal in principals
                %li
                  %a.principal{href: "#{principal.detail_url}"}
                    = principal.display_name
                  %a.edit-principal{"data-reveal-id": "edit-principal", "data-reveal-ajax": "true", href: "#{principal.detail_url}/edit"}
                    = 'Edit'
        #new-principal.reveal-modal.medium{"data-reveal": "true"}
        #edit-principal.reveal-modal.medium{"data-reveal": "true"}

- block js_snippets
  %script{src: "{% static 'js/ajaxify_overlay_form.js' %}"}
  :javascript
    ajaxify_overlay_form($('#new-principal'), 'form');
