- load i18n

- if course_run
  %section
    %h1 {% trans "Edit Course Run" %}
- else
  %section
    %h1 {% trans "Create Course Run" %}
%hr
.close-reveal-modal
  %i.fa.fa-times-circle
%form.modal_form{action: "/admin/course_run/create/#{course_run.id}", method: "POST"}
  - csrf_token
  .row
    .small-3.columns
    .small-9.columns= form.name.errors
  .row
    .small-3.columns Url friendly name:
    .small-9.columns= form.name

  .row
    .small-3.columns
    .small-9.columns= form.max_participants.errors
  .row
    .small-3.columns= form.max_participants.label_tag
    .small-9.columns= form.max_participants

  .row
    .small-3.columns
    .small-9.columns= form.is_open.errors
  .row
    .small-3.columns= form.is_open.label_tag
    .small-9.columns= form.is_open

  .row
    .small-3.columns
    .small-9.columns= form.course_id.errors
  .row
    .small-3.columns {% trans "Course ID:" %}
    .small-9.columns= form.course_id

  .row
    .small-3.columns
    .small-9.columns= form.access_key_link.errors
  .row
    .small-3.columns {% trans "Access link (SSO):" %}
    .small-9.columns= form.access_key_link

  %hr
  .row
    .small-12.columns
      {% trans "Email template for existing users:" %}
      = form.email_template_existing.errors
      = form.email_template_existing

  .row
    .small-12.columns 
      {% trans "Email template for new users:" %}
      = form.email_template_new.errors
      = form.email_template_new

  .row
    .small-12.columns 
      {% trans "Email template for McKA employees (SSO):" %}
      = form.email_template_mcka.errors
      = form.email_template_mcka

  .row
    .small-12.columns 
      {% trans "Copy for closed status message:" %}
      = form.email_template_closed.errors
      = form.email_template_closed

  .row
  .small-12.columns
    {% trans "Self Registration Page Heading:" %}
    = form.self_registration_page_heading.errors
    = form.self_registration_page_heading

  .row
  .small-12.columns
    {% trans "Self Registration Description Text:" %}
    = form.self_registration_description_text.errors
    = form.self_registration_description_text

  .row
  .small-12.columns
    %p 
      {% trans "Add Custom Roles:" %}

  .row
  .small-12.columns.edit-del-role

  - for roles in self_register_created_roles
    .row.edit_role_option
      .small-10.columns
        %input{id:'created_roles','value': "#{roles.option_text}",type:'text'}
      .small-1.columns.hidden
        %a{'title': '{% trans "Edit Role" %}', 'class': "edit_role fa fa-check", 'id': "#{roles.id}"}
      .small-1.columns
        %a{'title': '{% trans "Delete Role" %}', 'class': "remove_role fa fa-times", 'id': "#{roles.id}"}

  .row.role_option

  .row
    .small-12.columns
      %input#count_roles{'name': 'count', 'value': 1, 'type': 'hidden'}

  .row
    .small-12.columns
      %br
      %input.button.radius.small.add_field_button{'title': '{% trans "Add New Role" %}', type: "button", value: "+"}

  .row
    .small-12.columns.error
      - if error
        = error
  %input#formSubmit.button.radius.small{type: "submit", value: "{% trans 'Save' %}", disabled: "True"}

  %script{src: "/static/js/admin_learner_dashboard/form_changed_check.js"}
  %script{src: "/static/js/admin_learner_dashboard/self_registration_roles.js"}
  :javascript
    $(function(){
      var wrapper = $(".role_option");
      var self_registration_roles = JSON.parse('{{self_registration_roles | escapejs}}')
      $.each( self_registration_roles, function( index, value ){
        var total_roles = parseInt($('#count_roles').val()) +1
        $('#count_roles').val(total_roles);
        $(wrapper).append('<div class="small-12 new_role"><div class="small-11 columns"><input placeholder="'+gettext("Add new role e.g CEO,CTO")+'" type="text" name="role'+total_roles+'" value= '+value+' /></div>' +
        '<div class="small-1 columns"><a title="'+gettext("Delete Role")+'" href="#" class="remove_field"><i class="fa fa-times"></a></div></div>');
        });
     });
