- extends 'admin/admin_layout.haml'
- load i18n
- load static
- block content
  .admin-detail.row
    #contentModal.reveal-modal.small{'data-reveal': ''}
    %section
      .row
        .large-4.columns
          %a{:href => "/admin/course_runs/"}
            %p < {% trans "Back to list" %}
          %h1 {% trans "Course Run:" %} #{course_run.name}
          %a{:href => "/registration/#{course_run.name}"}
            {% trans "View live" %}
        .large-4.columns
          %a.right{:class => "button radius small", :href => "/admin/course_run/create/#{course_run.id}", :data-reveal-id => 'contentModal', :data-reveal-ajax =>'true'}
            {% trans "Edit" %}
            %i{'class': "fa fa-pencil"}
    %hr
    %section
      .row
        .large-4.columns
          %strong {% trans "Course ID:" %}
            %a{:href => "/admin/courses/#{course_run.course_id}"}
              %p= course_run.course_id
          %strong {% trans "Max users in course:" %}
          %p= course_run.max_participants
          %strong {% trans "Total enrolled users in course:" %}
          %p= course_run.total_participants
          %strong {% trans "No. of users signed up:" %}
          %p= total_registered_users
          %strong {% trans "Total activation emails sent:" %}
          %p= course_run.total_activations_sent
          - if total_registered_users < 1
            %button{:class => "button radius small disabled"}
              {% trans "Download CSV" %}
              %i{'class': "fa fa-download"}
          - else
            %a{:class => "button radius small", :href => "/admin/course_run/csv_download/#{course_run.id}"}
              {% trans "Download CSV" %}
              %i{'class': "fa fa-download"}
        .large-8.columns
          %strong {% trans "Email template for existing McKA users:" %}
          %p= course_run.email_template_existing
          %br
          %strong {% trans "Email template for new McKA users:" %}
          %p= course_run.email_template_new
          %br
          %strong {% trans "Email template for McKA employees (SSO):" %}
          %p= course_run.email_template_mcka
          %br
          %strong {% trans "Copy for closed status message:" %}
          %p= course_run.email_template_closed
          %br
    %hr
    .large-10.large.columns
    -if users
      %p
        {% trans "List of users registered for this course:" %}
      %table{style:"table-layout: fixed; width: 100%"}
        %thead
          %tr
            %th {% trans "First Name" %}
            %th {% trans "Last name" %}
            %th {% trans "Company name" %}
            %th {% trans "Company email" %}
            %th {% trans "Current role" %}
            %th {% trans "New user" %}
            %th {% trans "McK Employee" %}
            %th {% trans "Enrolled" %}
            %th {% trans "Active" %}
        %tbody
          - for user in user_list
            %tr{id: "#{user.id}"}
              %td{style: "word-wrap: break-word"}= user.first_name
              %td{style: "word-wrap: break-word"}= user.last_name
              %td{style: "word-wrap: break-word"}= user.company_name
              %td{style: "word-wrap: break-word"}= user.company_email
              %td{style: "word-wrap: break-word"}= user.current_role
              %td{style: "word-wrap: break-word; text-align: left;"}
                -if user.new_user
                  %i.fa.fa-check{'style': "color:green"}
                -else
                  %i.fa.fa-times{'style': "color:red"}
              %td{style: "word-wrap: break-word; text-align: left;"}
                -if user.mcka_user
                  %i.fa.fa-check{'style': "color:green"}
                -else
                  %i.fa.fa-times{'style': "color:red"}
              %td{style: "word-wrap: break-word; text-align: left;"}
                -if user.is_enrolled
                  %i.fa.fa-check{'style': "color:green"}
                -else
                  %i.fa.fa-times{'style': "color:red"}
              %td{style: "word-wrap: break-word; text-align: left;"}
                -if user.is_active
                  %i.fa.fa-check{'style': "color:green"}
                -else
                  %i.fa.fa-times{'style': "color:red"}

    -else
      {% trans "No users registered for this course run!" %}

- block js_snippets
  %script{src: "{% static 'js/ajaxify_overlay_form.js' %}"}
  :javascript
    ajaxify_overlay_form('#contentModal', 'form');
