- extends 'admin/admin_layout.haml'
- load staticfiles
- block content  
  .admin-detail.row
    #contentModal.reveal-modal.small{'data-reveal': None}
    %section
      .row
        .large-4.columns
          %a{:href => "/admin/course_runs/"}
            %p < Back to list
          %h1 Course Run: ={course_run.name}
          %a{:href => "/registration/#{course_run.name}"}
            View live
        .large-4.columns
          %a.right{:class => "button radius small", :href => "/admin/course_run/create/#{course_run.id}", :data-reveal-id => 'contentModal', :data-reveal-ajax =>'true'}
            Edit
            %i{'class': "fa fa-pencil"}
    %hr
    %section
      .row
        .large-4.columns
          %strong Course ID:
            %a{:href => "/admin/courses/#{course_run.course_id}"}
              %p ={course_run.course_id}
          %strong Max users in course:
          %p ={course_run.max_participants}
          %strong Total enrolled users in course:
          %p ={course_run.total_participants}
          %strong No. of users signed up:
          %p ={total_registered_users}
          %strong Total activation emails sent:
          %p ={course_run.total_activations_sent}
          - if total_registered_users < 1
            %button{:class => "button radius small disabled"}
              Download CSV
              %i{'class': "fa fa-download"}
          - else
            %a{:class => "button radius small", :href => "/admin/course_run/csv_download/#{course_run.id}"}
              Download CSV
              %i{'class': "fa fa-download"}
        .large-8.columns
          %strong Email template for existing McKA users:
          %p ={course_run.email_template_existing}
          %br
          %strong Email template for new McKA users:
          %p ={course_run.email_template_new}
          %br
          %strong Email template for McKA employees (SSO):
          %p ={course_run.email_template_mcka}
          %br
          %strong Copy for closed status message:
          %p ={course_run.email_template_closed}
          %br
    %hr
    .large-10.large.columns
    -if users
      %p
        List of users registered for this course:
      %table{style:"table-layout: fixed; width: 100%"}
        %thead
          %tr
            %th= _("First Name")
            %th= _("Last name")
            %th= _("Company name")
            %th= _("Company email")
            %th= _("Current role")
            %th= _("New user")
            %th= _("McKA Employee")
        %tbody
          - for user in users
            %tr{id: "#{user.id}"}
              %td{style: "word-wrap: break-word"}= user.first_name
              %td{style: "word-wrap: break-word"}= user.last_name
              %td{style: "word-wrap: break-word"}= user.company_name
              %td{style: "word-wrap: break-word"}= user.company_email
              %td{style: "word-wrap: break-word"}= user.current_role
              %td{style: "word-wrap: break-word; text-align: left;"}
                -if user.new_user
                  %i.fa.fa-check{'style': "color:green"}
                -else
                  %i.fa.fa-times{'style': "color:red"}
              %td{style: "word-wrap: break-word; text-align: left;"}
                -if user.mcka_user
                  %i.fa.fa-check{'style': "color:green"}
                -else
                  %i.fa.fa-times{'style': "color:red"}

    -else
      No users registered for this course run!

- block js_snippets
  %script{src: "{% static 'js/ajaxify_overlay_form.js' %}"}
  :javascript
    ajaxify_overlay_form('#contentModal', 'form');
