- load i18n
- load cache
- load template_helpers
- get_current_language as LANGUAGE_CODE
- get_available_languages as LANGUAGES

%header.appHeader
  .container
    .row
      .col
        .logo.clearfix
          %div.all-logos
            - if client_customization.global_client_logo
              %a.navbar-brand{:href => "/"}
                %img{:src => "{{client_customization.global_client_logo}}", :width => "160"}
            - else
              %a.navbar-brand{:href => "/"}
                %img{:src => "static/image/McKA-logo-blue.svg", :width => "160"}
            - if client_customization.client_logo
              %a.navbar-brand{:href => "/"}
                %img{:src => "{{client_customization.client_logo}}", :width => "160"}

          - if request.user.is_authenticated
            .topRightArea
              .profileArea
                %a.dropdown-toggle{:aria-expanded => "false", :aria-haspopup => "true", :data-toggle => "dropdown", :href => "#"}
                  %span RA
                  %img{:src => "static/image/McKA-logo-white.svg", :width => "160"}/
                - if LANGUAGE_BIDI
                  %div{'class' : 'dropdown-menu profile-area large-menu dropdown-menu-left profileDropdown'}
                    .header
                      .avatar-area
                        .userAvatar.lg
                          .holder
                            %span RA
                            %img{:alt => "", :src => ""}/
                          %a.edit-link{:data-target => ".editPhotoModal", :data-toggle => "modal", :href => "#"}
                            {% trans "edit photo" %}
                      .titles-area
                        .nameArea
                          %span Rajal Ajai
                          %a.edit-link{:data-target => ".editFullName", :data-toggle => "modal", :href => "#"}
                            {% trans "edit" %}
                        .roleArea
                          %span UX Consultant
                          %a.edit-link{:data-target => ".editRole", :data-toggle => "modal", :href => "#"}
                            {% trans "edit" %}
                    .content
                      .wrap
                        %strong.text-uppercase.title
                          {% trans "username" %}
                        %strong.titleName raajimk
                      .wrap
                        %strong.text-uppercase.title
                          {% trans "email" %}
                        %span.userMail rajal_ajai@external.mckinsey.com
                    .footer.ome
                      %a.btn.btn-secondary.dome-c{href: "/accounts/logout"}
                        {% trans "log out" %}
                - else
                  %div{'class' : 'dropdown-menu profile-area large-menu dropdown-menu-right profileDropdown'}
                    .header
                      .avatar-area
                        .userAvatar.lg
                          .holder
                            %span RA
                            %img{:alt => "", :src => ""}/
                          %a.edit-link{:data-target => ".editPhotoModal", :data-toggle => "modal", :href => "#"}
                            {% trans "edit photo" %}
                      .titles-area
                        .nameArea
                          %span Rajal Ajai
                          %a.edit-link{:data-target => ".editFullName", :data-toggle => "modal", :href => "#"}
                            {% trans "edit" %}
                        .roleArea
                          %span UX Consultant
                          %a.edit-link{:data-target => ".editRole", :data-toggle => "modal", :href => "#"}
                            {% trans "edit" %}
                    .content
                      .wrap
                        %strong.text-uppercase.title
                          {% trans "username" %}
                        %strong.titleName raajimk
                      .wrap
                        %strong.text-uppercase.title
                          {% trans "email" %}
                        %span.userMail rajal_ajai@external.mckinsey.com
                    .footer.ome
                      %a.btn.btn-secondary.dome-c{href: "/accounts/logout"}
                        {% trans "log out" %}

              %nav.nav.mainNav.headerNav
                %ul
                  - if request.user.is_manager
                    {% url 'manager_dashboard' as manager_dashboard_url %}
                    %li{class: "{% if request.path == manager_dashboard_url %}active{% endif %}"}
                      %a.nav-link.ome.dome-c{href: "{{manager_dashboard_url}}"}
                        {% trans "team reports" %}
                  - if request.user.is_mcka_admin or request.user.is_internal_admin or request.user.is_mcka_subadmin
                    {% url 'admin_home' as admin_home_url %}
                    %li{class: "{% if request.path == admin_home_url %}active{% endif %}"}
                      %a.nav-link.ome.dome-c{href: "{{admin_home_url}}"}
                        {% trans "admin" %}
                  - if request.user.is_company_admin
                    {% url 'company_dashboard' as company_dashboard_url %}
                    %li{class: "{% if request.path == company_dashboard_url %}active{% endif %}"}
                      %a.nav-link.ome.dome-c{href: "{{company_dashboard_url}}"}
                        {% trans "company admin" %}
                  - if request.user.is_mcka_ta
                    {% url 'workgroup_list' as workgroup_list_url %}
                    %li{class: "{% if request.path == workgroup_list_url %}active{% endif %}"}
                      %a.nav-link.ome.dome-c{href: "{{workgroup_list_url}}"}
                        {% trans "ta" %}

                  - if learner_dashboards|length > 1
                    %li
                      %a.nav-link.dropdown-toggle.ome.dome-c{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", :href => "#", :role => "button"}
                        {% trans "dashboard" %}

                      %div{'class' : 'dropdown-menu-left dropdown-menu middle-menu clearfix dashboard-menu'}
                        %ul.sub-nav
                          - for dashboard in learner_dashboards
                            %li
                              %a.dropdown-item.ome.dome-c.LDCourse{:href => "/courses/{{dashboard.course_id}}"} {{dashboard.title}}
                                - if request.session.last_visited_course and dashboard.course_id == request.session.last_visited_course
                                  %span.bookmark.primary
                                    %svg{:height => "100%", :preserveaspectratio => "none", :viewbox => "0 0 20 100", :width => "100%"}
                                      %path{:d => "M5.90639e-13 0L10 0L20 50L10 100L5.90639e-13 100L5.90639e-13 0Z", :vector-effect => "non-scaling-stroke"}
                              %ul.sub-nav.d-block.d-sm-none
                                %li
                                  %a.ome.dome-c{:href => "/courses/{{dashboard.course_id}}"} {% trans "Home" %}
                                - if dashboard.calendar_enabled and not mobile_device
                                  %li
                                    %a.ome.dome-c{:href => "#"} {% trans "Calendar" %}
                                - if dashboard.features.discussions
                                  %li
                                    %a{:href => "/learnerdashboard/#{dashboard.id}/courses/#{dashboard.course_id}/discussion"} {% trans "Discussions" %}
                                - if dashboard.features.group_work
                                  %li
                                    %a.ome.dome-c{:href => "/learnerdashboard/#{dashboard.id}/courses/#{course_id}/group_work"} {% trans 'Miniboard' %}
                                - if dashboard.features.resources
                                  %li
                                    %a{:href => "/learnerdashboard/#{dashboard.id}/courses/#{dashboard.course_id}/resources"} {% trans "Resources" %}

                  - elif learner_dashboards|length == 1
                    %li
                      %a.nav-link.dropdown-toggle.ome.dome-c{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", :href => "#", :role => "button"}
                        {% trans "dashboard" %}

                      %div{'class' : 'dropdown-menu-left dropdown-menu middle-menu clearfix dashboard-menu'}
                        %ul.sub-nav
                          - for dashboard in learner_dashboards
                            %li.drop-open-dashboard
                              %a.dropdown-item.ome.dome-c.LDCourse{:href => "/courses/{{dashboard.course_id}}"} {{dashboard.title}}
                                - if request.session.last_visited_course and dashboard.course_id == request.session.last_visited_course
                                  %span.bookmark
                              %ul.sub-nav.d-block.d-sm-none
                                %li
                                  %a.ome.dome-c{:href => "/courses/{{dashboard.course_id}}"} {% trans "Home" %}
                                - if dashboard.calendar_enabled
                                  %li
                                    %a.ome.dome-c{:href => "#"} {% trans "Calendar" %}
                                - if dashboard.features.discussions
                                  %li
                                    %a{:href => "/learnerdashboard/#{dashboard.id}/courses/#{dashboard.course_id}/discussion"} {% trans "Discussions" %}
                                - if dashboard.features.group_work
                                  %li
                                    %a.ome.dome-c{:href => "/learnerdashboard/#{dashboard.id}/courses/#{course_id}/group_work"} {% trans 'Miniboard' %}
                                - if dashboard.features.resources
                                  %li
                                    %a{:href => "/learnerdashboard/#{dashboard.id}/courses/#{dashboard.course_id}/resources"} {% trans "Resources" %}


                  - if show_my_courses
                    {% url 'courses' as courses_url %}
                    %li{class: "{% if request.path == courses_url %}active{% endif %}"}
                      %a.nav-link.ome.dome-c{href: "{{courses_url}}"}
                        {% trans "my courses" %}
          - else
            - if use_i18n
              .language-selector
                %i.material-icons language
                .dropdown
                  %button#dropdownMenuButton.dropdown-toggle.border-0{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", :type => "button"}
                    {{ LANGUAGE_CODE }}
                  .dropdown-menu{"aria-labelledby": "dropdownMenuButton", :class => ".dropdown-menu-right"}
                    - for language_code, language_name in LANGUAGES
                      - if LANGUAGE_CODE == language_code
                        %a.dropdown-item.selected
                          {{language_name}}
                      - else
                        %a.dropdown-item{href: "{% url 'language_switcher' %}?LANG={{language_code}}"}
                          -if language_code == 'en' or language_code == 'nl'
                            - get_language_info for language_code as lang
                            {{lang.name}}
                          -else
                            {{language_name}}
