- extends "layout.haml"
- load i18n

- block page_title
  %title
    {% trans "Demo registration | McKinsey Academy" %}

  %meta{property: "og:title", content: "{% trans 'McKinsey Academy' %}" }

- block header
  - include 'accounts/login_header.haml'

- load staticfiles
- block content
  #confirmation_registration.modal.fade.modal-with-ok.middleSize{:role => "dialog"}
    .modal-dialog.text-center
      .modal-content
        .modal-header
          %h4.modal-title {% trans "Thank you for your request" %}
        .modal-body
          %p {% trans "We will send you an email shortly." %}
        %button.ok-close.btn.btn-primary.btn-lg{:aria-label => "Close", :data-dismiss => "modal", :type => "button"}
          %span{:aria-hidden => "true"} {% trans "OK" %}

  #error_registration.modal.fade{:role => "dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %h4.modal-title {% trans "Registration Error!" %}
        .modal-body
          %p {% blocktrans %}Sorry, there seems to be a problem with registering your account, please contact academy_info@mckinsey.com{% endblocktrans %}
        %button.ok-close.btn.btn-primary.btn-lg{:aria-label => "Close", :data-dismiss => "modal", :type => "button"}
          %span{:aria-hidden => "true"} {% trans "OK" %}

  #course_closed_registration.modal.fade{:role => "dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %h4.modal-title {% trans "Thank you for your request" %}
        .modal-body
          %p {% trans "We will send you an email shortly." %}
        %button.ok-close.btn.btn-primary.btn-lg{:aria-label => "Close", :data-dismiss => "modal", :type => "button"}
          %span{:aria-hidden => "true"} {% trans "OK" %}

  .container.self-registration.activation
    .row.justify-content-center
      .col-lg-7.col-md-12.form.border-top-main
        %h4 Register for the access to the course
        %h5.mb-3= course_run.self_registration_page_heading
        %p= course_run.self_registration_description_text
        %form#reg{:action => "/registration/#{course_run_name}/", method: "POST"}
          - csrf_token
          .form-group{:class => "{% if errors.first_name %}error{% endif %}"}
            %input.form-control{:placeholder => "{% trans 'First Name' %}", :type => "text", :name => "first_name", :value => "{{form.data.first_name}}"}
            %i.material-icons.ico-state
              error
          .form-group{:class => "{% if errors.last_name %}error{% endif %}"}
            %input.form-control{:placeholder => "{% trans 'Last Name' %}", :type => "text", :name => "last_name", :value => "{{form.data.last_name}}"}
            %i.material-icons.ico-state
              error
          .form-group{:class => "{% if errors.company_name %}error{% endif %}"}
            %input.form-control{:placeholder => "{% trans 'Company' %}", :type => "text", :name => "company_name", :value => "{{form.data.company_name}}"}
            %i.material-icons.ico-state
              error
          .form-group{:class => "{% if errors.company_email %}error{% endif %}"}
            %input.form-control{:placeholder => "{% trans 'Company email' %}", :type => "text", :name => "company_email", :value => "{{form.data.company_email}}"}
            %i.material-icons.ico-state
              error
            %small.error= errors.company_email.0
            %small.form-text {% trans "Note: personal email addresses will not be processed" %}

          %h4
            {% trans "Current role" %}
            %small.form-text {% trans "Please choose one of the following options" %}
          .form-group.mb-3#id_current_role
            - for index, choice in form.fields.current_role.choices
              %label.checkcontainer.position-relative{:for => "id_current_role_{{index}}"}
                %input{:type => "radio",  :name => "current_role", :value => "{{index}}", :id => "id_current_role_{{index}}"}
                %span.radiobtn
                = choice
          .form-group.mb-1
            %input.form-control#id_current_role_other{:disabled => "disabled", :type => "text", :name => "current_role_other", :value => "{{form.data.current_role_other}}"}
            %i.material-icons.ico-state
              error
          %button.btn.btn-primary.btn-lg.mt-3.registration_submit{:type => "submit", :disabled => "disabled"} {% trans "Register" %}
          .form-footer
            %ul.nav
              %li.nav-item
                {% trans "Need help?" %}
              %li.nav-item
                %a.nav-link{:href => "/faq/", :target => "_blank"} {% trans "Read FAQs" %}
              %li.nav-item
                %a.nav-link{:href => "#"} {% trans "Email Support" %}

- block js_snippets
  :javascript
    $('#reg').submit(function(event) {
      let sel = $('[name="first_name"]');
      let value = sel.val();

      if(value === undefined || value.length === 0){
        sel.parent().addClass('error');
        sel.after('<small class="error form-text">{% trans "This field is required." %}</small>');
        event.preventDefault();
        return;
      }
      if(! /^([a-zA-Z\s]*)$/.test(value)){
        sel.parent().addClass('error');
        sel.after('<small class="error form-text">{% trans "Special characters or numbers are not valid." %}</small>');
        event.preventDefault();
        return;
      }

      sel = $('[name="last_name"]');
      value = sel.val();
      if(value === undefined || value.length === 0){
        sel.parent().addClass('error');
        sel.after('<small class="error form-text">{% trans "This field is required." %}</small>');
        event.preventDefault();
        return;
      }

      if(! /^([a-zA-Z\s]*)$/.test(value)){
        sel.parent().addClass('error');
        sel.after('<small class="error form-text">{% trans "Special characters or numbers are not valid." %}</small>');
        event.preventDefault();
        return;
      }

      sel = $('[name="company_name"]');
      value = sel.val();
      if(value === undefined || value.length === 0){
        sel.parent().addClass('error');
        sel.after('<small class="error form-text">{% trans "This field is required." %}</small>');
        event.preventDefault();
        return;
      }

      sel = $('[name="company_email"]');
      value = sel.val();
      if(value === undefined || value.length === 0){
        sel.parent().addClass('error');
        sel.after('<small class="error form-text">{% trans "This field is required." %}</small>');
        event.preventDefault();
        return;
      }

      if(! /^[\w-\.]+@([\w-]+\.)+[\w-]*$/.test(value)){
        sel.parent().addClass('error');
        sel.after('<small class="error form-text">{% trans "Please enter a valid company email address." %}</small>');
        event.preventDefault();
        return;
      }
      sel = $('[name="current_role_other"]');
      value = sel.val();
      if(! $('#id_current_role input').is(':checked') ||
      ((value === undefined || value.length === 0) && !sel.attr('disabled'))){
        sel.parent().addClass('error');
        sel.siblings(":last").after('<small class="error form-text">{% trans "This field is required." %}</small>');
        event.preventDefault();
      }
    });

    $('form, select, input').on('keyup change', function(e) {
      $('.registration_submit').attr('disabled',false);
      $(this).parent().removeClass('error');
      $(this).siblings('.error').remove();
    });
    var $current_role_other = $("#id_current_role_other");
    $(window).on( "load", function() {
      toggle_field();
      show_popup_on_registration("{{registration_status}}");
      adjust_messages();
    });
    $("#id_current_role").change(function(e){
      toggle_field();
    });
    function toggle_field(){
      if($.trim($('input[name=current_role]:checked').closest('label').text()) == 'Other') {
          $current_role_other.prop('disabled', false);
        } else {
          $current_role_other.val("");
          $current_role_other.prop('disabled', true);
          $current_role_other.parent().removeClass('error');
        }
    }
    function show_popup_on_registration(status_text){
      if (status_text==="Registered")
      {
        $("#confirmation_registration").on("hidden.bs.modal", function () {
          window.location.replace("{{home_url}}");
        });
        $("#confirmation_registration").modal('show');
      }
      else if (status_text==="Error")
      {
        $("#error_registration").on("hidden.bs.modal", function () {
          window.location.replace("{{home_url}}");
        });
        $("#error_registration").modal('show');
      }
      else if (status_text==="Course Closed")
      {
        $("#course_closed_registration").on("hidden.bs.modal", function () {
          window.location.replace("{{home_url}}");
        });
        $("#course_closed_registration").modal('show');
      }
    }
    function adjust_messages(){
      if ($("#id_current_role + .errorlist")){
        var error_message = $("#id_current_role + .errorlist").detach();
        $("ul#id_current_role").before(error_message);
      }
    }

    $('form, select, input').on('keyup change', function(e) {
      $('.registration_submit').attr('disabled',false);
      $(this).parent().removeClass('error');
      $(this).siblings('.error').remove();
    });
