- extends 'admin/client/detail.haml'
- load staticfiles
- block admin_detail
  %h1
    %span= _("Client: ")
    %span= client.display_name
  %hr
  %section
    .large-8.columns
      %table.access-key-list
        %thead
          %th= _("Name")
          %th= _("Instance")
          %th.text-right= _("Share")
        %tbody
          - for key in access_keys
            - if key.disabled
              %tr.access-key-disabled
                %td= key.name
                %td= key.instance
                %td.text-right
                  %span
                    %i.fa.fa-lg.fa-paper-plane
            - else
              %tr
                %td= key.name
                %td= key.instance
                %td.text-right
                  %a{href: "", "data-reveal-id": "new-principal", "data-options": "hover_delay: 0;", "data-reveal-ajax": "access_keys/#{key.pk}/share"}
                    %i.fa.fa-lg.fa-paper-plane
    .large-4.columns
      -# %label &nbsp;
      -# %a#create-access-key.button.radius.tiny{"data-reveal-id": "new-principal", "data-reveal-ajax": "access_keys/create", href: ""}
      -#   %span= _("Create Access Key")
      / %label &nbsp;
      / %a#create-access-key-course.button.radius.tiny{"data-reveal-id": "new-principal", "data-reveal-ajax": "access_keys/course-create", href: ""}
      /   %span= _("Create Course Access Key")
      %label &nbsp;
      %a#create-access-key-course-quick.button.radius.tiny{"data-reveal-id": "ajaxAccessKeyCreation", href: ""}
        %span= _("Create Course Access Key")

  #new-principal.reveal-modal.medium{"data-reveal": "true"}


  #ajaxAccessKeyCreation.reveal-modal.small{'data-reveal': None}
    %header
      %h1= _("Create access key")

    .close-reveal-modal
      %i.fa.fa-times-circle

    %form.admin-form{action: "access_keys/course-create-api", method: "POST"}
      - csrf_token
      %fieldset
        %label &nbsp;
        .row
          .small-3.columns
            %label{"for":"id_name"}
              Name:
          .small-9.columns
            %input#id_name{"name": "name", "type": "text"}
        .row
          .small-3.columns
            %label{"for":"id_course_id"}
              Course id:
          .small-9.columns
            %input#id_course_id{"name": "course_id", "type": "text"}

      .submit-area
        #create_access_key.button.radius.small
          Create


- block js_snippets
  %script{src: "{% static 'js/ajaxify_overlay_form.js' %}"}
  %script{src: "{% static 'js/vendor/ZeroClipboard.min.js' %}"}
  :javascript
    $('.access-key-list').dataTable({paging: false, order: []});
    ajaxify_overlay_form('#new-principal', 'form', enableCopyButton);
    ZeroClipboard.config({swfPath: 'static/js/vendor/ZeroClipboard.swf'});
    var dialog = $('#new-principal');
    dialog.on('change', '#id_program_id', function () {
      var form = dialog.find('form');
      $.ajax({
        method: 'POST',
        url: form.attr('action'),
        data: form.serialize() + '&program_change'
      })
      .done(function(data, status, xhr) {
        form.parent().html(data);
      })
      .fail(function (data, status, error) {
        alert(error);
      });
    });
    $(document).on('opened.fndtn', '[data-reveal]', enableCopyButton);
    function enableCopyButton() {
      var copyBtn = $('#copy-access-key');
      var client = new ZeroClipboard(copyBtn.get(0));
      var tooltip = copyBtn.siblings('.tooltip');
      client.on('aftercopy', function (event) {
        tooltip.show();
      });
      copyBtn.on('mouseout', function (event) {
        tooltip.fadeOut();
      });
    }

    var url = ApiUrls.participant_courses_get_api();
    InitializeAutocompleteInput(url, 'input#id_course_id');

    $(document).on("click", "#create-access-key-course-quick", function(){
      var form = $("#ajaxAccessKeyCreation");
      var submit_button=form.find("#create_access_key");
      form.find("#create_access_key").attr('disabled', "");
      form.find("#create_access_key").addClass('disabled');
      form.find("input#id_name").val("");
      form.find("input#id_course_id").val("");
    });

    $(document).on("change", "#ajaxAccessKeyCreation input", function(){
      var form = $("#ajaxAccessKeyCreation");
      var submit_button=form.find("#create_access_key");
      form.find("#create_access_key").removeAttr('disabled');
      form.find("#create_access_key").removeClass('disabled');
    });

    $(document).on("click", "#create_access_key", function(){
      var form = $("#ajaxAccessKeyCreation");
      var submit_button=form.find("#create_access_key");

      if (submit_button.hasClass("disabled"))
        return;

      var name = form.find("input#id_name").val().trim();
      var course_id_input = form.find("input#id_course_id");
      var course_id = ""
      if (course_id_input.attr("data-id"))
        course_id = course_id_input.attr("data-id");
      else
        course_id = course_id_input.val().trim()

      if (name === ""){
        alert(gettext("You need to enter name!"));
        return;
      }

      if (course_id === ""){
        alert(gettext("You need to enter course ID!"));
        return;
      }

      var dictionaryToSend = {"name": name, "course_id": course_id}

      var options = {
        url: "access_keys/course-create-api",
        data: dictionaryToSend,
        type: "POST",
        dataType: "json",
        beforeSend: function( xhr ) {
          xhr.setRequestHeader("X-CSRFToken", $.cookie('apros_csrftoken'));
        },
      };
      form.find("#create_access_key").attr('disabled', 'disabled');
      form.find("#create_access_key").addClass('disabled');
      $.ajax(options)
      .done(function(data) {
        if (data["status"] == "success")
        {
          form.find("#create_access_key").removeAttr('disabled');
          form.find("#create_access_key").removeClass('disabled');
          alert(data["msg"]);
          form.find('.close-reveal-modal').trigger('click');
          location.reload();
        }
        else if (data["status"] == "error")
        {
          alert(data["msg"]);
          form.find("#create_access_key").removeAttr('disabled');
          form.find("#create_access_key").removeClass('disabled');
        }
        })
      .fail(function(data) {
        console.log("Ajax failed to fetch data");
        console.log(data);
        })
      });
    
