%header= _("Add a Program to Client")
.subhead= client.display_name
.description
  %span= _("Associate a program with a client")

.close-reveal-modal
  %i.fa.fa-times-circle
.admin-form
  .title= _("Program Details")
  %form{action: "/admin/clients/#{client.id}/program_association", method: "POST"}
    - csrf_token
    = form
    .error
      - if error
        = error
    %input.button.radius.small{type: "submit", value: "Add Program"}
