%header= _("Add a Program to Client")
.subhead= client.display_name
.description
  %span= _("Associate a program with a client")

.close-reveal-modal
  %i.fa.fa-times-circle

%form.admin-form{action: "/admin/clients/#{client.id}/program_association", method: "POST"}
  .title= _("Program Details")
  - csrf_token
  = form
  .error
    - if error
      = error
  %input.button.radius.small{type: "submit", value: "Add Program"}
