.close-reveal-modal
  %i.fa.fa-times-circle

%form.user-list-form{'method': 'POST', 'action': '/admin/clients/#{client.id}/contact/add'}
  .submit-area
    %input.button.radius.small{type: "submit", value: "Add Contacts"}
  .error
    - if error
      = error
  - csrf_token
  %br
  %table.user-list
    %thead
      %th Name
        %span{class: 'asc'}
          ▲
        %span{class: 'desc'}
          ▼
      %th Email
        %span{class: 'asc'}
          ▲
        %span{class: 'desc'}
          ▼
      %th Phone
        %span{class: 'asc'}
          ▲
        %span{class: 'desc'}
          ▼
      %th
    %tbody
      - for user in users
        %tr.student{id: "#{user.id}"}
          %td= user.username
          %td= user.email
          %td= user.phone
          %td
            %input.hidden{type: 'checkbox', value:'#{user.id}', name:'checks[]'}
