- extends 'admin/admin_layout.haml'
- block content
  .admin-list.row
    .large-12.large-centered.columns
      .message
        %span= _("Client detail for ")
        %span= client.name
        %span= _(" will appear here")
      .client
        = client.contact_name
        = client.email
        = client.phone
        = client.client_group_id
