%ul
  %li
    - if selected_client_tab == 'detail'
      %span.selected= _("Overview")
    - else
      %a{href:"/admin/clients/#{client.id}"}
        = _("Overview")
  %li
    - if selected_client_tab == 'programs'
      %span.selected= _("Assign Students to Program")
    - else
      %a{href:"/admin/clients/#{client.id}/programs"}
        = _("Assign Students to Program")
  %li
    - if selected_client_tab == 'courses'
      %span.selected= _("Assign Students to Courses")
    - else
      %a{href:"/admin/clients/#{client.id}/courses"}
        = _("Assign Students to Courses")
  %li
    - if selected_client_tab == 'contact'
      %span.selected= _("Assign Contacts to Client")
    - else
      %a{href:"/admin/clients/#{client.id}/contact"}
        = _("Assign Contacts to Client")
