%ul
  %li
    - if selected_client_tab == 'detail'
      %span.selected= _("Overview")
    - else
      %a{href:"/admin/clients/#{client.id}"}
        = _("Overview")
  %li
    - if selected_client_tab == 'programs'
      %span.selected= _("Assign Students to Program")
    - else
      %a{href:"/admin/clients/#{client.id}/programs"}
        = _("Assign Students to Program")
  %li
    - if selected_client_tab == 'courses_without_programs'
      %span.selected= _("Assign Students to Courses")
    - else
      %a{href:"/admin/clients/#{client.id}/courses_without_programs"}
        = _("Assign Students to Courses")
  %li
    - if selected_client_tab == 'courses'
      %span.selected= _("Assign Students to Courses in Programs")
    - else
      %a{href:"/admin/clients/#{client.id}/courses"}
        = _("Assign Students to Courses in Programs")
  - if user.is_mcka_admin or user.is_mcka_subadmin
    %li
      - if selected_client_tab == 'contact'
        %span.selected= _("Contacts")
      - else
        %a{href:"/admin/clients/#{client.id}/contact"}
          = _("Contacts")
  %li
    - if selected_client_tab == 'navigation'
      %span.selected= _("Navigation")
    - else
      %a{href:"/admin/clients/#{client.id}/navigation"}
        = _("Navigation")
  %li
    - if selected_client_tab == 'sso'
      %span.selected= _("SSO")
    - else
      %a{href: "{% url 'client_sso' client_id=client.id %}" }
        = _("SSO")
