- extends 'admin/admin_layout.haml'
- load static
- block content
  .admin-detail.row
    .large-12.large.columns
      - include 'admin/client/detail_header.haml'
  .admin-detail.row
    .large-12.large.columns
      - block admin_detail
        %h1
          %span= _("Client: ")
          %span= client.display_name

        - if user.is_mcka_admin or user.is_internal_admin or user.is_mcka_subadmin
          %a{href: "/admin/client-admin/#{client.id}", target: "_blank"} Access Company Dashboard
        %hr
        %section
          %header
            %span Client Details:
            %span.edit-client
          .company
            %span Client Company:
            %span= client.display_name
          .contact
            .contact-title Client Contact:
            .contact-info
              %span= client.contact_name
              %br
              %span= client.contact_phone
              %span | <a href='mailto:#{client.contact_email}'>#{client.contact_email}</a>
        %hr
        %section
          %header Students:
          %div Add additional students to client or download all students
          .manage-student-list
            %a.button.radius.small{"data-reveal-id": "upload_student_list", "data-reveal-ajax": "/admin/clients/#{client.id}/upload_student_list", href: ""}
              Upload Student List
            .button.radius.small.downloadStudentList{'data-url': '/admin/api/clients/#{client.id}/download_student_list', 'data-custom-class': 'studentDownloadListAjaxDownloader'}
              Download Student List
            %a.button.radius.small{href: "/admin/clients/#{client.id}/mass_student_enroll", target: "_blank"}
              Massive Student Enroll
            .upload_results
        %hr
        - if user.is_mcka_admin or user.is_mcka_subadmin
          %section
            %header Add a Program:
            %div Add a program to a client
            .manage-programs
              %a.button.radius.small{"data-reveal-id": "add_program", "data-reveal-ajax": "/admin/clients/#{client.id}/program_association", href: ""}
                Add Program
          %hr
        %section
          %header Programs:
          - include 'admin/client/program_list.haml'
  #upload_student_list.reveal-modal{"data-reveal": "true"}
  #add_program.reveal-modal{"data-reveal": "true"}
- block js_snippets
  %script{src: "{% static 'js/ajaxify_overlay_form.js' %}"}
  :javascript
    ajaxify_overlay_form('#add_program', 'form');
