- extends 'admin/admin_layout.haml'
- block content
  .admin-detail.row
    .large-12.large.columns
      - include 'admin/client/detail_header.haml'    
  .admin-detail.row
    .large-12.large.columns
      - block admin_detail
        %h1
          %span= _("Client: ")
          %span= client.display_name
        %hr
        %section
          %header
            %span Client Details:
            %span.edit-client
          .company
            %span Client Company:
            %span= client.display_name
          .contact
            %span Client Contact:
            %span.contact-info
              %span= client.contact_name
              %span= client.email
              %span= client.phone
        %hr
        %section
          %header Students:
          %div Add additional students to client or download all students
          .manage-student-list
            %a.button.radius.small{"data-reveal-id": "upload_student_list", "data-reveal-ajax": "true", href: "/admin/clients/#{client.id}/upload_student_list"}
              Upload Student List
            %a.button.radius.small{href: "/admin/clients/#{client.id}/download_student_list", target: "_blank"}
              Download Student List
        %hr
        %section
          %header Add a Program:
          %div Add a program to a client
          .manage-programs
            %a.button.radius.small{"data-reveal-id": "add_program", "data-reveal-ajax": "true", href: "/admin/clients/#{client.id}/program_association"}
              Add Program
        %hr
        %section
          %header Programs:
          - include 'admin/client/program_list.haml'
  #upload_student_list.reveal-modal{"data-reveal": "true"}
  #add_program.reveal-modal{"data-reveal": "true"}
