- extends 'admin/client/detail.haml'
- load staticfiles
- block admin_detail
  %h1
    %span= _("Client: ")
    %span= client.display_name
  %hr
  %section
  .sub-1 Custom Navigation Links
  %h2
    %p You can change the global navigation links for this client across all courses for this client's participants. Please note that you will need to preview the navigation to check for spacing, spelling, and link behavior before you have the opportunity to save these links. You can make edits after previewing if needed.
  %br
  #nav-links
    %header
      .sub-2 Label:
      .sub-2 Link:
    %form{action: "/admin/clients/#{client.id}/nav_links", method: 'POST'}
      - csrf_token
      %fieldset
        %ol
          %li
            %input{type: 'hidden', name: 'name_1', value: 'about'}
            %input{type: 'text', name: 'label_1', placeholder: 'enter label', maxlength: "15", value: "#{nav_links.about.link_label}"}
            %input{type: 'url', name: 'link_1', placeholder: 'enter link', value: "#{nav_links.about.link_url}"}
          %li
            %input{type: 'hidden', name: 'name_2', value: 'programs'}
            %input{type: 'text', name: 'label_2', placeholder: 'enter label', maxlength: "15", value: "#{nav_links.programs.link_label}"}
            %input{type: 'url', name: 'link_2', placeholder: 'enter link', value: "#{nav_links.programs.link_url}"}
          %li
            %input{type: 'hidden', name: 'name_3', value: 'experience'}
            %input{type: 'text', name: 'label_3', placeholder: 'enter label', maxlength: "15", value: "#{nav_links.experience.link_label}"}
            %input{type: 'url', name: 'link_3', placeholder: 'enter link', value: "#{nav_links.experience.link_url}"}
          %li
            %input{type: 'hidden', name: 'name_4', value: 'contact'}
            %input{type: 'text', name: 'label_4', placeholder: 'enter label', maxlength: "15", value: "#{nav_links.contact.link_label}"}
            %input{type: 'url', name: 'link_4', placeholder: 'enter link', value: "#{nav_links.contact.link_url}"}
          %li
            %input{type: 'hidden', name: 'name_5', value: 'navlink5'}
            %input{type: 'text', name: 'label_5', placeholder: 'enter label', maxlength: "15", value: "#{nav_links.navlink5.link_label}"}
            %input{type: 'url', name: 'link_5', placeholder: 'enter link', value: "#{nav_links.navlink5.link_url}"}
          %li
            %input{type: 'hidden', name: 'name_6', value: 'navlink6'}
            %input{type: 'text', name: 'label_6', placeholder: 'enter label', maxlength: "15", value: "#{nav_links.navlink6.link_label}"}
            %input{type: 'url', name: 'link_6', placeholder: 'enter link', value: "#{nav_links.navlink6.link_url}"}
      %div
        %input{type: 'reset', value: 'Cancel'}
        %input.button.radius.tiny{type: 'submit', value: 'Save Links'}
  %hr
  #custom-branding
    .sub-1 Custom Branding
    %h2
      %p You can change upload a logo and change the secondary navigation colors for the bar and icons across all courses for this client below. Please note that you will need to preview the custom branding to check for sizing and color before you have the opportunity to save changes. You can make edits after previewing if needed.
    %form{action: "/admin/clients/#{client.id}/customization", method: 'POST', enctype: "multipart/form-data" }
      - csrf_token
      %fieldset
        %ul
          %li
            %label.nav2.selected Upload client logo for web:
            %a.button.radius.tiny.upload_logo Upload Logo
            %input{type: 'file', name: 'client_logo'}
          %li
            %label.nav2.selected Upload client background:
            %a.button.radius.tiny.upload_logo Upload Background
            %input{type: 'file', name: 'client_background'}
          %li
            %label.nav2.selected Upload client logo for mobile app:
            %a.button.radius.tiny.upload_logo{"data-reveal-id": "edit-client-mobile-logo-modal", "data-reveal-ajax": "true", 'href': "/admin/clients/#{client.id}/edit_client_mobile_logo"}
              Upload Mobile Logo
          %li
            %label.nav2.selected Upload global client logo:
            %a.button.radius.tiny.upload_logo Upload Global Logo
            %input{type: 'file', name: 'global_client_logo'}
          %li
            %label.nav2.selected Hex # for background main navigation:
            %input{type: 'text', name: 'hex_background_main_navigation', placeholder: 'enter #', maxlength: "7", value: "#{customization.hex_background_main_navigation}"}
          %li
            %label.nav2.selected CSS for background image:
            %input{type: 'text', name: 'client_background_css', placeholder: 'enter css', maxlength: "200", value: "#{customization.client_background_css}"}
          %li
            %label.nav2.selected Hex # for notification circle:
            %input{type: 'text', name: 'hex_notification', placeholder: 'enter #', maxlength: "7", value: "#{customization.hex_notification}"}
          %li
            %label.nav2.selected Hex # for notification text:
            %input{type: 'text', name: 'hex_notification_text', placeholder: 'enter #', maxlength: "7", value: "#{customization.hex_notification_text}"}
          %li
            %label.nav2.selected Hex # for background bar:
            %input{type: 'text', name: 'hex_background_bar', placeholder: 'enter #', maxlength: "7", value: "#{customization.hex_background_bar}"}
          %li
            %label.nav2.selected Hex # for program name text:
            %input{type: 'text', name: 'hex_program_name', placeholder: 'enter #', maxlength: "7", value: "#{customization.hex_program_name}"}
          %li
            %label.nav2.selected Hex # for navigation icons:
            %input{type: 'text', name: 'hex_navigation_icons', placeholder: 'enter #', maxlength: "7", value: "#{customization.hex_navigation_icons}"}
          %li
            %label.nav2.selected Hex # for course title text:
            %input{type: 'text', name: 'hex_course_title', placeholder: 'enter #', maxlength: "7", value: "#{customization.hex_course_title}"}
          %li
            %label.nav2.selected Hex # for page background:
            %input{type: 'text', name: 'hex_page_background', placeholder: 'enter #', maxlength: "7", value: "#{customization.hex_page_background}"}
      %div
        %input{type: 'reset', value: 'Cancel'}
        %input.button.radius.tiny{type: 'submit', value: 'Save Branding'}

  #edit-client-mobile-logo-modal.reveal-modal.medium{'data-reveal': 'true'}
