- extends 'admin/client/detail.haml'
- load i18n
- load staticfiles
- block admin_detail
  %h1
    %span {% trans "Client: " %}
    %span= client.display_name
  %hr
  %section
  .sub-1 {% trans "Custom Navigation Links" %}
  %h2
    %p {% trans "You can change the global navigation links for this client across all courses for this client's participants. Please note that you will need to preview the navigation to check for spacing, spelling, and link behavior before you have the opportunity to save these links. You can make edits after previewing if needed." %}
  %br
  #nav-links
    %header
      .sub-2 {% trans "Label:" %}
      .sub-2 {% trans "Link:" %}
      {% trans "Enter label" as label_text %}
      {% trans "Enter link" as link_text %}
    %form{action: "/admin/clients/#{client.id}/nav_links", method: 'POST'}
      - csrf_token
      %fieldset
        %ol
          %li
            %input{type: 'hidden', name: 'name_1', value: 'about'}
            %input{type: 'text', name: 'label_1', placeholder: "#{label_text}", maxlength: "15", value: "#{nav_links.about.link_label}"}
            %input{type: 'url', name: 'link_1', placeholder: "#{link_text}", value: "#{nav_links.about.link_url}"}
          %li
            %input{type: 'hidden', name: 'name_2', value: 'programs'}
            %input{type: 'text', name: 'label_2', placeholder: "#{label_text}", maxlength: "15", value: "#{nav_links.programs.link_label}"}
            %input{type: 'url', name: 'link_2', placeholder: "#{link_text}", value: "#{nav_links.programs.link_url}"}
          %li
            %input{type: 'hidden', name: 'name_3', value: 'experience'}
            %input{type: 'text', name: 'label_3', placeholder: "#{label_text}", maxlength: "15", value: "#{nav_links.experience.link_label}"}
            %input{type: 'url', name: 'link_3', placeholder: "#{link_text}", value: "#{nav_links.experience.link_url}"}
          %li
            %input{type: 'hidden', name: 'name_4', value: 'contact'}
            %input{type: 'text', name: 'label_4', placeholder: "#{label_text}", maxlength: "15", value: "#{nav_links.contact.link_label}"}
            %input{type: 'url', name: 'link_4', placeholder: "#{link_text}", value: "#{nav_links.contact.link_url}"}
          %li
            %input{type: 'hidden', name: 'name_5', value: 'navlink5'}
            %input{type: 'text', name: 'label_5', placeholder: "#{label_text}", maxlength: "15", value: "#{nav_links.navlink5.link_label}"}
            %input{type: 'url', name: 'link_5', placeholder: "#{link_text}", value: "#{nav_links.navlink5.link_url}"}
          %li
            %input{type: 'hidden', name: 'name_6', value: 'navlink6'}
            %input{type: 'text', name: 'label_6', placeholder: "#{label_text}", maxlength: "15", value: "#{nav_links.navlink6.link_label}"}
            %input{type: 'url', name: 'link_6', placeholder: "#{link_text}", value: "#{nav_links.navlink6.link_url}"}
      %div
        {% trans "Save Links" as save_links_text %}
        {% trans "Cancel" as cancel_links_text %}
        %input{type: 'reset', value: "#{cancel_links_text}"}
        %input.button.radius.tiny{type: 'submit', value: "#{save_links_text}"}
  %hr
  #custom-branding
    %form{action: "/admin/clients/#{client.id}/customization", method: 'POST', enctype: "multipart/form-data"}
      - csrf_token
        - if request.user.is_mcka_admin
          .ui-switch
            %p
              %i.fa.fa-exclamation-triangle
              {% trans "New ui is available now!" %}
              %span {% trans "Would you like to switch to new UI?" %}

            %label.switch
              - if customization.new_ui_enabled
                %input.ui-checker{type: 'checkbox', name: 'new_ui_enabled', checked:'checked'}
              - else
                %input.ui-checker{type: 'checkbox', name: 'new_ui_enabled'}
              %span.slider.round
                %span.switch-text
                  - if customization.new_ui_enabled
                    {% trans "ON" %}
                  - else
                    {% trans "OFF" %}
      %fieldset
        .sub-1.oldui {% trans "Global Branding" %}
        .sub-1.newui {% trans "Platform Branding" %}
        {% trans "Enter hex#" as hex_text %}
        {% trans "Enter css" as css_text %}
        %ul
          %li
            %label.nav2.selected.oldui {% trans "Upload Global Logo:" %}
            %label.nav2.selected.newui {% trans "Platform Logo:" %}
            %a.button.radius.tiny.upload_logo {% trans "Upload Logo" %}
            %input{type: 'file', name: 'global_client_logo'}
            - if customization.global_client_logo
              .display_image
                %a.remove_image{"type":"global_client_logo", "client_id": "#{client.id}"}
                  %i.fa.fa-times-circle
                .global_client_logo
                  %img{src: "#{customization.global_client_logo}", height:'100px', width:'100px'}

          %li.oldui
            %label.nav2.selected {% trans "Top Navigation Background:" %}
            %input{type: 'text', name: 'hex_background_main_navigation', placeholder: "#{hex_text}", maxlength: "7", value: "#{customization.hex_background_main_navigation}"}
        %br
        .sub-1.oldui {% trans "Desktop, Tablet and Mobile Web" %}
        .sub-1.newui {% trans "Company Branding" %}
        %ul
          %li
            %label.nav2.selected.oldui {% trans "Upload Logo:" %}
            %label.nav2.selected.newui {% trans "Company Logo:" %}
            %a.button.radius.tiny.upload_logo {% trans "Upload Logo" %}
            %input{type: 'file', name: 'client_logo'}
            - if customization.client_logo
              .display_image
                %a.remove_image{"type":"client_logo", "client_id": "#{client.id}"}
                  %i.fa.fa-times-circle
                .client_logo
                  %img{src: "#{customization.client_logo}", height:'100px', width:'100px'}
          %li.oldui
            %label.nav2.selected {% trans "Notification Circle Color:" %}
            %input{type: 'text', name: 'hex_notification', placeholder: "#{hex_text}", maxlength: "7", value: "#{customization.hex_notification}"}

          %li
            %label.nav2.selected.oldui {% trans "Course Title Text Color:" %}
            %label.nav2.selected.newui {% trans "Primary Color:" %}
            %input{type: 'text', name: 'hex_course_title', placeholder: "#{hex_text}", maxlength: "7", value: "#{customization.hex_course_title}"}

          %li.oldui
            %label.nav2.selected {% trans "Notification Text Color:" %}
            %input{type: 'text', name: 'hex_notification_text', placeholder: "#{hex_text}", maxlength: "7", value: "#{customization.hex_notification_text}"}
          %li.oldui
            %label.nav2.selected {% trans "Program Name Text Color:" %}
            %input{type: 'text', name: 'hex_program_name', placeholder: "#{hex_text}", maxlength: "7", value: "#{customization.hex_program_name}"}
          %li.oldui
            %label.nav2.selected {% trans "Page Background Color:" %}
            %input{type: 'text', name: 'hex_page_background', placeholder: "#{hex_text}", maxlength: "7", value: "#{customization.hex_page_background}"}

          %li
            %label.nav2.selected.oldui {% trans "Second Navigation Background:" %}
            %label.nav2.selected.newui {% trans "Secondary Color:" %}
            %input{type: 'text', name: 'hex_background_bar', placeholder: "#{hex_text}", maxlength: "7", value: "#{customization.hex_background_bar}"}

          %li.oldui
            %label.nav2.selected {% trans "Page Background Image:" %}
            %a.button.radius.tiny.upload_logo {% trans "Upload Image" %}
            %input{type: 'file', name: 'client_background'}
            - if customization.client_background
              .display_image
                %a.remove_image{"type":"client_background", "client_id": "#{client.id}"}
                  %i.fa.fa-times-circle
                .client_background
                  %img{src: "#{customization.client_background}", height:'100px', width:'100px'}

          %li.oldui
            %label.nav2.selected {% trans "Navigation Icon Color:" %}
            %input{type: 'text', name: 'hex_navigation_icons', placeholder: "#{hex_text}", maxlength: "7", value: "#{customization.hex_navigation_icons}"}
          %li.oldui
            %label.nav2.selected {% trans "Page Background CSS:" %}
            %input{type: 'text', name: 'client_background_css', placeholder: "#{css_text}", maxlength: "200", value: "#{customization.client_background_css}"}


        %br
        .sub-1.oldui {% trans "Native Mobile & Tablet Apps" %}
        %ul.oldui
          - if errors
            %font{color: 'red'}
              = errors
            %br

          %li
            %label.nav2.selected {% trans "Upload Mobile Logo:" %}
            %a.button.radius.tiny.upload_logo{"data-reveal-id": "edit-client-mobile-logo-modal", "data-reveal-ajax": "true", 'href': "/admin/clients/#{client.id}/logo/edit_client_mobile_image"}
              {% trans "Upload Logo" %}

            - if client_mobile_logo_image
              .display_image
                %a.remove_image{"type":"logo_image", "client_id": "#{client.id}"}
                  %i.fa.fa-times-circle
                .logo_image
                  %img{src: "#{client_mobile_logo_image}", height:'100px', width:'100px'}

          %li
            %label.nav2.selected {% trans "Completed Course Tint:" %}
            %input{type: 'text', name: 'completed_course_tint', placeholder: "#{hex_text}", maxlength: "9", value: "#{completed_course_tint}", pattern:'^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{8})$', title: '#000000 - #FFFFFF'}
          %li
            %label.nav2.selected {% trans "Header Background Color:" %}
            %input{type: 'text', name: 'header_background_color', placeholder: "#{hex_text}", maxlength: "9", value: "#{header_background_color}", pattern:'^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{8})$', title: '#000000 - #FFFFFF'}
          %li
            %label.nav2.selected {% trans "Lesson Navigation Color:" %}
            %input{type: 'text', name: 'lesson_navigation_color', placeholder: "#{hex_text}", maxlength: "9" ,value: "#{lesson_navigation_color}", pattern:'^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{8})$', title: '#000000 - #FFFFFF'}

          %li
            %label.nav2.selected {% trans "Header Background Image:" %}
            %a.button.radius.tiny.upload_logo{"data-reveal-id": "edit-client-mobile-logo-modal", "data-reveal-ajax": "true", 'href': "/admin/clients/#{client.id}/header/edit_client_mobile_image"}
              {% trans "Upload Image" %}

            - if client_mobile_header_image
              .display_image
                %a.remove_image{"type":"header_bg_image", "client_id": "#{client.id}"}
                  %i.fa.fa-times-circle
                .header_bg_image
                  %img{src: "#{client_mobile_header_image}", height:'100px', width:'100px'}


          %li
            %label.nav2.selected {% trans "Navigation Text Color:" %}
            %input{type: 'text', name: 'navigation_text_color', placeholder: "#{hex_text}", maxlength: "9" , value: "#{navigation_text_color}", pattern:'^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{8})$', title: '#000000 - #FFFFFF'}

          %li
            %label.nav2.selected {% trans "Navigation Icon Color:" %}
            %input{type: 'text', name: 'navigation_icon_color', placeholder: "#{hex_text}", maxlength: "9" , value: "#{navigation_icon_color}", pattern:'^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{8})$', title: '#000000 - #FFFFFF'}

      #removeBrandingImageError.reveal-modal.small.error{'data-reveal': ''}
        %h3.error

        %br
          .button.radius.small.closeModal
            {% trans "Close" %}


      %div
        {% trans "Cancel" as cancel_text %}
        %input{type: 'reset', value: "#{cancel_text}"}

        {% trans "Save" as save_text %}
        %input.button.radius.tiny{type: 'submit', value: "#{save_text}"}

  #edit-client-mobile-logo-modal.reveal-modal.medium{'data-reveal': 'true'}

  - if customization.new_ui_enabled
    :javascript
      $('.oldui').hide();
      $('#custom-branding').addClass('new-ui-branding');
  - else
    :javascript
      $('.newui').hide();
