%header
  %h1= _("Create New Client")
  .sub-1= _("Add a client")
  %p.description Add a client using this form

.close-reveal-modal
  %i.fa.fa-times-circle
%form.admin-form{action: "/admin/clients/client_new", method: "POST"}
  .error
    - if error
      = error
  - csrf_token
  %fieldset= form.as_p
  .submit-area
    %input.button.radius.small{type: "submit", value: "#{submit_label}"}
