%table.client-programs
  - for program in programs
    %tr.program
      %td.course-toggle
      %td.title
        = program.display_name
      %td.dates
        %span= program.date_range
      %td.places= program.places_allocated
      %td.enrolled= program.places_assigned
    %tr.courses{class: "course_for_#{program.id}"}
      %td
      %td
      %td{colspan: "3"}
        %table
          - for course in program.courses
            %tr
              %td.name
                = course.name
              %td.dates
                = course.date_range
              %td.places
                000
              %td.enrolled
                000
