- extends 'admin/client/detail.haml'
- block admin_detail
  %h1
    %span= _("Client: ")
    %span= client.display_name
  %hr
  %section
    .large-8.columns#student-list
      - include "admin/client/student_select_program.haml"
    .large-4.columns.program-selection
      %a.button.radius.tiny#student-program-action
        %span= _("Move Selected Students into Program")
      %h2= _("Select a Program:")
      %div= _("Select a program below")
      - for program in programs
        .select-program-box
          .name= program.display_name
          .prog-info
            %span= _("Program Run:")
            %span= program.start_date
            %span -
            %span= program.end_date
          .prog-info
            %span= _("Places:")
            %span{style: "color: red"} 100
          .prog-info
            %span= _("Enrolled Students:")
            %span{style: "color: red"} 000
