- extends 'admin/client/detail.haml'
- load staticfiles
- block admin_detail
  %h1
    %span= _("Client: ")
    %span= client.display_name
  %hr
  %section
    #student-list.large-8.columns
      - include "admin/client/student_select_program.haml"
    .large-4.columns.program-selection
      %a#student-program-action.button.radius.tiny{href: "/admin/clients/#{client.id}/add_students_to_program"}
        %span= _("Move Selected Students into Program")
      %h2= _("Select a Program:")
      %div= _("Select a program below")
      - for program in programs
        .select-program-box{id: "#{program.id}"}
          .name
            = program.display_name
            (
            %span><
              = program.name
            )
          .prog-info
            %span= _("Program Run:")
            %span= program.date_range
          .prog-info
            %span= _("Places:")
            %span= program.places_allocated
          .prog-info
            %span= _("Enrolled Students:")
            %span= program.places_assigned
- block js_snippets
  %script{src: "{% static 'js/admin.js' %}"}
  :javascript
    $(function(){
      selections = [
        {
          selector: ".student-list .student",
          submit_name: "students",
          minimum_count_message: gettext("Please select at least one student")
        },
        {
          selector: ".program-selection .select-program-box",
          submit_name: "program",
          minimum_count_message: gettext("Please select one program"),
          single_select: true
        }
      ];

      activator = {
        selector: '#student-program-action'
      };
      enable_selection(selections, activator);

      $('.student-list').dataTable({
          paging: false,
          autoWidth: false,
          "createdRow": function( row, data, index){
            var charNumber = [18, 15, 10, 15, 15, null];
            setTableColumns(row, charNumber);
          },
          "dom": '<"top small-6"f>rt<"bottom"ilp><"clear">'
      });

      $('#student-list').on('click', 'a.invite-user', function(e){
        e.preventDefault();
        var that = $(this);
        that.parents('tr').toggleClass('selected');
        data = {
          'csrfmiddlewaretoken':  $.cookie('apros_csrftoken')
          }
        $.ajax({
          url: that.attr('href'),
          method: 'POST',
          data: data
        }). done(function(data){
          if(data.status == 'success'){
            alert(gettext('Invitation has been resent'));
          }
          else if(data.status == 'fail'){
            alert(gettext('Invitation not sent'));
          }
          else{
            alert(data.status);
          }
        }).fail(function(){
            alert(gettext('Invitation not sent'));
        });
      });
    });
