- extends 'admin/client/detail.haml'
- load staticfiles
- block admin_detail
  %h1
    %span= _("Client: ")
    %span= client.display_name
  %hr
  %section
    .large-8.columns#student-list
      - include "admin/client/student_select_program.haml"
    .large-4.columns.program-selection
      %a#student-program-action.button.radius.tiny{href: "/admin/clients/#{client.id}/add_students_to_program"}
        %span= _("Move Selected Students into Program")
      %h2= _("Select a Program:")
      %div= _("Select a program below")
      - for program in programs
        .select-program-box{id: "#{program.id}"}
          .name= program.display_name
          .prog-info
            %span= _("Program Run:")
            %span= program.start_date
            %span -
            %span= program.end_date
          .prog-info
            %span= _("Places:")
            %span{style: "color: red"} 100
          .prog-info
            %span= _("Enrolled Students:")
            %span{style: "color: red"} 000
- block js_snippets
  %script{src: "{% static 'js/program_students.js' %}"}