- extends 'admin/client/detail.haml'
- load staticfiles
- block admin_detail
  %h1
    %span= _("Client: ")
    %span= client.display_name
  %hr
  %section
    .large-7.columns#student-list
      - include "admin/client/student_select_program.haml"
    .large-5.columns.program-selection
      %a#student-program-action.button.radius.tiny{href: "/admin/clients/#{client.id}/add_students_to_program"}
        %span= _("Move Selected Students into Program")
      %h2= _("Select a Program:")
      %div= _("Select a program below")
      - for program in programs
        .select-program-box{id: "#{program.id}"}
          .name
            = program.display_name
            (
            %span><
              = program.name
            )
          .prog-info
            %span= _("Program Run:")
            %span= program.date_range
          .prog-info
            %span= _("Places:")
            %span= program.places_allocated
          .prog-info
            %span= _("Enrolled Students:")
            %span= program.places_assigned
- block js_snippets
  %script{src: "{% static 'js/select_and_assign.js' %}"}
  %script{src: "{% static 'js/jquery.dataTables.min.js' %}"}
  %script{src: "{% static 'js/dataTables.foundation.js' %}"}
  :javascript
    $(function(){
      selections = [
        {
          selector: ".student-list .student",
          submit_name: "students",
          minimum_count_message: "Please select at least one student"
        },
        {
          selector: ".program-selection .select-program-box",
          submit_name: "program",
          minimum_count_message: "Please select one program",
          single_select: true
        }
      ];

      activator = {
        selector: '#student-program-action'
      };
      enable_selection(selections, activator);

      $('.student-list').dataTable({
          paging: false,
          "dom": '<"top small-6"f>rt<"bottom"ilp><"clear">'
      });
    });
