- load static
%header= _("Upload Student List")
.subhead= _("Add student(s) to client")
.description
  %span Upload a file of email addresses to create student records associated with
  %span= client.display_name

.close-reveal-modal
  %i.fa.fa-times-circle
.admin-form
  %form{action: "/admin/clients/#{client_id}/upload_student_list", method: "POST", enctype: "multipart/form-data"}
    - csrf_token
    = form
    .error
      - if error
        = error
    .upload_stats
      %span Total:
      %span#attempted 0
      %span Succeded:
      %span#succeded 0
      %span Failed:
      %span#failed 0
    %input.button.radius.small{type: "submit", value: "Add Student(s)", disabled: "disabled"}
  .allowed-format
    Use CSV formatted file (Comma Separated Value)

  -# %script{src: "{% static 'js/submit_form.js' %}"}
  %script{src: "{% static 'js/vendor/jquery.form.js' %}"}
  %script{src: "{% static 'js/admin_upload_students.js' %}"}

