- extends "admin/admin_layout.haml"

- block content
  .row
    #coursesModal.reveal-modal.tiny{'data-reveal': None}
    #mainCompanyDetailsContainer
      #companyDetailsNavigation
        - if user.is_company_admin
          %a{:href => '/admin/company_dashboard', :target => '_self'}> < Back to All Companies
        - else
          %a{:href => '/admin/companies', :target => '_self'}> < Back to All Companies
      #mainCompanyDetailsDataContainer{:data-id => '#{company.id}', :admin-flag => '#{companyAdminFlag}'}
        #companyDetailsTopDataWrapper
          .row.companyDetailsCompanyName
            .companyDetailsTextName
              ={company.name}
            %i.fa.fa-pencil.editCompanyNameIcon
            .companyDetailsInputName{:style => 'display:none;'}
              %input{:type => 'text', :value => '#{company.name}'}
            .errorMessage

          .row.companyDetailsNumberParticipants
            %p Total Participants: ={company.numberParticipants}
          .row.companyDetailsCompanyID
            %p Company ID: ={company.id}
          .row.companyDetailsNumberActiveCourses
            %p Active Courses: ={company.activeCourses}

        - if not user.is_company_admin
          #additionalCompanyButtons
            %a.button.small.radius.navigationLink{:href => "/admin/clients/#{company.id}/navigation"}
              Navigation
            %a.button.small.radius.accessLink{:href => "/admin/clients/#{company.id}/access_keys"}
              Access
            - if user.is_mcka_admin
              %a#addAppPopupLink.companyLinkedApps.button.small.radius{"data-reveal-id" => "linkApp", :href => "#"}
                Link Apps

        #companyDetailsNavigationButtonsContainer
          .row
            .companyDetailsCoursesButton.large-3.columns
              %a.hashPageButton.activeTab{:href => '#', :target => '_self', :data-target => 'companyCourses', :data-container => '#companyDetailsDataWrapper', :onclick => 'Apros.Router.HashPageChanger(this)', :style => 'font-weight: bold'}> COURSES
            .companyDetailsCompanyInfoButton.large-3.columns
              %a.hashPageButton{:href => '#', :target => '_self', :data-target => 'companyCompanyInfo', :data-container => '#companyDetailsDataWrapper', :onclick => 'Apros.Router.HashPageChanger(this)'}> COMPANY INFO

            - if user.is_mcka_admin
              .companyDetailsLinkedAppsButton.large-3.columns
                %a.hashPageButton{:href => '#', :target => '_self', :data-target => 'companyLinkedApps', :data-container => '#companyDetailsDataWrapper', :onclick => 'Apros.Router.HashPageChanger(this)'}> LINKED APPS

            .large-6.columns
          %hr
      #companyDetailsDataWrapper
        .companyCourses.contentNavigationContainer
          #companyDetailsCoursesContainer
            #companyDetailsCoursesViewGridBlock
        .companyCompanyInfo.contentNavigationContainer
          #companyInfoDataWrapper
            #companyInfoInvoicingDetails.companyInfoTopic
              .row
                %p.companyInvoicingDetailsHead Invoicing Details
                %input.button.small.radius.companyInvoicingDetailsEditButton{:type => "button", :value => "Edit"}
              #companyInfoInvoicingDetailsData
                .row
                  .large-6.columns
                    %label.fullNameLabel Full Name
                    %p.fullNameText ={invoicing.full_name}
                  .large-6.columns
                    %label.titleLabel Title
                    %p.titleText ={invoicing.title}
                .row
                  .large-6.columns
                    %label.addressLabel Invoicing Address
                    %p.addressText ={invoicing.address1}, ={invoicing.address2}
                    %p.cityStatePostalText ={invoicing.city}, ={invoicing.state} ={invoicing.postal_code}
                    %p.countryText ={invoicing.country}
                  .large-6.columns
                    %label.poLabel PO#
                    %p.poText ={invoicing.po}
                  .large-6.columns
                    %label.ipLabel Identity Provider
                    %p.ipText ={invoicing.identity_provider}
              #companyInfoInvoicingDetailsEdit
                %form.companyInfoInvoicingDetailsEditForm
                  .row
                    .large-6.columns
                      %label.fullNameLabel Full Name
                      -if invoicing.full_name == '-'
                        %input.fullNameInput{:type => "text", :name => "full_name" }
                      -else
                        %input.fullNameInput{:type => "text", :value => '#{invoicing.full_name}', :name => "full_name" }
                    .large-6.columns
                      %label.titleLabel Title
                      -if invoicing.title == '-'
                        %input.titleInput{:type => "text", :name => "title" }
                      -else
                        %input.titleInput{:type => "text", :value => '#{invoicing.title}', :name => "title" }
                  .row
                    .large-6.columns
                      %label.address1Label Address 1
                      -if invoicing.address1 == '-'
                        %input.address1Input{:type => "text", :name => "address1" }
                      -else
                        %input.address1Input{:type => "text", :value => '#{invoicing.address1}', :name => "address1" }
                    .large-6.columns
                      %label.address2Label Address 2
                      -if invoicing.address2 == '-'
                        %input.address2Input{:type => "text", :name => "address2" }
                      -else
                        %input.address2Input{:type => "text", :value => '#{invoicing.address2}', :name => "address2" }
                  .row
                    .large-6.columns
                      %label.cityLabel City
                      -if invoicing.city == '-'
                        %input.cityInput{:type => "text", :name => "city" }
                      -else
                        %input.cityInput{:type => "text", :value => '#{invoicing.city}', :name => "city" }
                    .large-6.columns
                      %label.stateLabel State/Province/Region
                      -if invoicing.state == '-'
                        %input.stateInput{:type => "text",  :name => "state" }
                      -else
                        %input.stateInput{:type => "text", :value => '#{invoicing.state}', :name => "state" }
                  .row
                    .large-6.columns
                      %label.postalCodeLabel Zip/Postal Code
                      -if invoicing.postal_code == '-'
                        %input.postalCodeInput{:type => "text", :name => "postal_code" }
                      -else
                        %input.postalCodeInput{:type => "text", :value => '#{invoicing.postal_code}', :name => "postal_code" }
                    .large-6.columns
                      %label.countryLabel Country
                      %input.countryInput{:type => "text", :id =>'country_edit', :name => "country_fullname", :readonly => '', :maxlength => "2", :data-country-long => '#{invoicing.country}' }
                      %input{:type => "hidden", :id =>'country_edit_code', :name => "country", :maxlength => "2"}
                  .row
                    .large-6.columns
                      %label.poLabel PO#(if applicable)
                      -if invoicing.po == '-'
                        %input.poInput{:type => "text", :name => "po" }
                      -else
                        %input.poInput{:type => "text", :value => '#{invoicing.po}', :name => "po" }
                    .large-6.columns
                      %label.poLabel Identity Provider
                      -if invoicing.identity_provider == '-'
                        %input.ipInput{:type => "text", :name => "identity_provider" }
                      -else
                        %input.ipInput{:type => "text", :value => '#{invoicing.identity_provider}', :name => "identity_provider" }
                  .row
                    .large-12.columns
                      .button.small.radius.disabled.invoicingDetailsSaveButton Save Changes
                      %a.invoicingDetailsCancelEdit{:href => '#', :target => '_self'} Cancel

            #companyInfoContacts.companyInfoTopic
              .row
                %p.companyContactsHead Contacts
                %input.button.small.radius.companyContactsEditButton{:type => "button", :value => "Edit"}
              %form.companyInfoContactsEditForm
                -for contact in contacts
                  .companyContactsRow
                    .row.contactTypeRow{:data-id => '#{contact.type_id}'}
                      %p.contactTypeText ={contact.type}
                      .fa.fa-info-circle{:data-title => '#{contact.type_info}'}
                    .companyInfoContactsData
                      .row
                        .large-6.columns
                          %label.fullNameLabel Full Name
                          %p.fullNameText ={contact.full_name}
                        .large-6.columns
                          %label.titleLabel Title
                          %p.titleText ={contact.title}
                      .row
                        .large-6.columns
                          %label.emailLabel Email
                          %p.emailText ={contact.email}
                        .large-6.columns
                          %label.phoneLabel Phone
                          %p.phoneText ={contact.phone}
                    .companyInfoContactsEdit
                      .row
                        .large-6.columns
                          %label.fullNameLabel Full Name
                          -if contact.full_name == '-'
                            %input.fullNameInput{:type => "text", :name => "full_name" }
                          -else
                            %input.fullNameInput{:type => "text", :value => '#{contact.full_name}', :name => "full_name" }
                        .large-6.columns
                          %label.titleLabel Title
                          -if contact.title == '-'
                            %input.titleInput{:type => "text", :name => "title" }
                          -else
                            %input.titleInput{:type => "text", :value => '#{contact.title}', :name => "title" }
                      .row
                        .large-6.columns
                          %label.emailLabel Email
                          -if contact.email == '-'
                            %input.emailInput{:type => "text", :name => "email" }
                          -else
                            %input.emailInput{:type => "text", :value => '#{contact.email}', :name => "email" }
                        .large-6.columns
                          %label.phoneLabel Phone
                          -if contact.phone == '-'
                            %input.phoneInput{:type => "text", :name => "phone" }
                          -else
                            %input.phoneInput{:type => "text", :value => '#{contact.phone}', :name => "phone" }
                .row.companyInfoContactsEdit
                  .large-12.columns
                    .button.small.radius.disabled.contactsSaveButton Save Changes
                    %a.contactsCancelEdit{:href => '#', :target => '_self'} Cancel
            #exportCompanyInfoButton.companyInfoTopic
              %a.button.radius.small{:href => '/admin/api/companies/#{company.id}/export_info', :target => '_self'}> Export Company Info

        - if user.is_mcka_admin
          .companyLinkedApps.contentNavigationContainer
            #companyLinkedAppsContainer
              #companyLinkedAppsViewGridBlock

    - if user.is_mcka_admin
      #linkApp.reveal-modal.small{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
        %h4 Link mobile app
        %p Type in the name of the mobile app that you want to link with "Company Name"
        %b App Name
        %input#appSearchInput{:placeholder => 'App Name', :type => 'text', :name => 'app_name', :class => 'appSearchInput'}
        .errorMessage
        %button.button.small.radius.linkAppButton{:value => "Link App", :type => "Submit"} Link App
        %input.button.small.radius.close-reveal-modal{:value => "Cancel", :type => "button"}/
        %a.close-reveal-modal{"aria-label" => "Close"} ×
