- extends "admin/admin_layout.haml"
- load staticfiles
- block content
  .admin-detail.row
    .large-12.large.columns
      - include 'admin/client-admin/course_header.haml'
  .admin-detail.row
    .large-12.large.columns
      - block admin_detail
        %h1
          %span= _("Participants: ")
          %span= course.name
        .sub-1.add= _("Data Download ")
        .add-message= _("The following button downloads a list of all students enrolled in this course, their percent complete, impct scores, and course grade, along with profile informations such as email address and username.")
        %br
        %a.button.radius.small{href: "/admin/client-admin/#{client_id}/courses/#{course_id}/download_course_report", target: "_blank"}
          Download Report for course
        %hr
        .sub-1.add= _("Student-Specific grade inspection ")
        .add-message= _("Specify the name of a student to access their details")
        %br
        / %input{type: "search"}
        / %hr
      %table.student-list
        %thead
          %tr
            .sub-1.add= _("Participants: ")
              %span= total_participants
            %th
            %th User Name
            %th Full Name
              %span{class: 'asc'}
                ▲
              %span{class: 'desc'}
                ▼
            %th Complete
              %span{class: 'asc'}
                ▲
              %span{class: 'desc'}
                ▼
            %th
            %th
            %th
        %tbody
          - for student in students
            %tr.student{id: "#{student.id}"}
              %td
                %div.user-image
                  -if student.avatar_url
                    %img{src: "#{student.avatar_url}"}
              %td
                .show-user-progress{'data-link': '/admin/client-admin/#{client_id}/courses/#{course_id}/users/#{student.id}/progress', 'data-userid': '#{student.id}'}= student.full_name
              %td
                %p= student.username
                %p= student.title
              %td
                = student.progress
                = _('%')
              %td
                %a{href: "mailto:#{student.email}"}= "Email"
              %td
                %a{href: "#{}"}= "View progress page"
              %td
                %a{href: "/admin/client-admin/#{client_id}/courses/#{course_id}/participants/#{student.id}/unenroll", data-reveal-id: "edit_field_modal", data-reveal-ajax: "true"}= "Un-enroll participant"

  #unenroll-confirm-dialog.reveal-modal.small{'data-reveal': None}

- block js_snippets
  %script{src: "{% static 'js/ajaxify_overlay_form.js' %}"}
  :javascript
    $(function(){

      var accordionTableFlag = true;
      $('.student-list').dataTable({
          paging: false,
          autoWidth: false,
          "dom": '<"top small-6"f>rt<"bottom"ilp><"clear">'
      }).rowGrouping({  bExpandableGrouping: true,
                bExpandSingleGroup: true,
                iExpandGroupOffset: -1,
                iGroupingColumnIndex: 1,
                sGroupingColumnSortDirection: "asc",
                iGroupingOrderByColumnIndex: 1});

      $(document).on('click', '.show-user-progress', function(){
        var that = $(this);
        var link = that.data('link');
        var userid = that.data('userid');
        if($('.student-progress-list[name="' + userid + '"]').length == 0 && accordionTableFlag){
          accordionTableFlag = false;
          $.ajax({
            'url': link,
            'method': 'GET'
          }).done(function(data){
            $('tr#' + userid).after(data);
            accordionTableFlag = true;
          }).fail(function(){
            accordionTableFlag = true;
          });
        }
        else{
          $('.student-progress-list[name="' + userid + '"]').toggle();
        }
      });

    });

    ajaxify_overlay_form('#unenroll-confirm-dialog', 'form');

    $('#unenroll-confirm-dialog').on('click', '.close-dialog', function() {
      $('#unenroll-confirm-dialog').foundation('reveal', 'close');
    });

    $('#edit_field_modal').on('click', '#unenroll_course', function(e) {
      e.preventDefault();
      var href = $(this).attr('href');
      $('#unenroll-confirm-dialog').foundation('reveal', 'open', href);
    });
