- extends "admin/admin_layout.haml"
- load i18n
- load staticfiles
- block content
  .admin-detail.row
    .medium-12.large.columns
      - include 'admin/client-admin/course_header.haml'
  .row
    .medium-12.large.columns
      %h1
        %span
          {% trans "Course Info: " %}
        %span
          = course_info.name
      %hr
  .row
    .medium-6.large.columns
      %h2
        {% trans "ENROLLMENT INFORMATION" %}
      %p
        {% trans "Total number of participants:" %}
        %b= metrics.users_enrolled
      %br

      %h2
        {% trans "BASIC COURSE INFORMATION" %}
      %ul
        %li
          {% trans "Course name:" %}
          %b= course_info.number
        %li
          {% trans "Course start date:" %}
          %b= course_start
        %li
          {% trans "Course end date:" %}
          %b= course_end
        %li
          {% trans "Grade cutoffs:" %}
          %b= cutoffs

    .medium-6.large.columns
      %h2
        {% trans "PARTICIPANTS" %}
      %ul
        %li
          {% trans "Participants:" %}
          %b= metrics.users_enrolled
        %li
          {% trans "Started:" %}
          %b= metrics.users_started
        %li
          {% trans "Completed:" %}
          %b= metrics.users_completed
        %li
          {% trans "% Completed:" %}
          %b= metrics.percent_completed

      %h2
        {% trans "FORUM INFORMATION" %}
      %ul
        %li
          {% trans "Active discussions:" %}
          %b= metrics.thread_stats.num_active_threads
        %li
          {% trans "Threads:" %}
          %b= metrics.thread_stats.num_threads
    %hr
    - if user.is_client_admin
      %h2
        {% trans "STATUS" %}
      %p
        {% trans "Current status of all participants who have completed, are in progress, or not yet started this course." %}
      #course-status-chart-wrapper
        %svg#course-status-chart
      .status-chart-legend
        %ul.inline-list
          %li
            .color.warm-gray
            {% trans "Completed" %}
          %li
            .color.turquoise
            {% trans "In progress" %}
          %li
            .color.orange
            {% trans "Not Started" %}
        %br
        .medium-8.large.columns
        #email_not_started.medium-4.large.columns
          - if metrics.users_started < metrics.users_enrolled
            %a{href: "/admin/client-admin/#{client_id}/courses/#{course_id}/participants/email_not_started", data-reveal-id: "send-email-not-started-modal", data-reveal-ajax: "true"}
              {% trans "Email participants not started" %}
          - else
            %a.no-participants
              {% trans "Email participants not started" %}
              .mcka-tooltip
                %p.style-4
                  {% trans "All participants have already started the course" %}

      #send-email-not-started-modal.reveal-modal.medium{'data-reveal': ''}

- block js_snippets
  %script{src: "{% static 'js/ajaxify_overlay_form.js' %}"}
  :javascript
    $(document).on('keyup', '#email-text', function(e) {
      if(e.target.value === ''){
        $('#send-non-started-email').attr('disabled', 'disabled');
      } else {
        $("#send-non-started-email").removeAttr('disabled');
      }
    });

    $(document).on('submit', 'form', function(e) {
      $('#send-non-started-email').attr('disabled', 'disabled');
    });
