- extends 'admin/admin_layout.haml'
- load static
- block content
  %script
    $(function() {
      $('.confirm').click(function() {
        return window.confirm(gettext("Are you sure?"));
      })
    });
  .admin-detail.row
    .large-12.large.columns
      - include 'admin/client-admin/course_header.haml'
  .row.collapse
      .large-11.large-centered.columns
        %section
          %h1 Company Branding
        -if branding
          %section
            %p
              You can change the branding settings for this client across learner dashboards for this client's participants.
          %hr
          .row
            .large-6.columns 
              .sub-1 Background Image:
              -if branding.background_image
                %img{src: "/company_images/#{branding.background_image}", width: 150, height:150}
              -else
                None
              %br
              .div
                .sub-1 Discover title color:
                .sub-2{style: "color:#{branding.discover_title_color}"}= branding.discover_title_color
              %br
              .div
                .sub-1 Discover author color:
                .sub-2{style: "color:#{branding.discover_author_color}"}= branding.discover_author_color
              %br
              .div
                .sub-1 Icon color:
                .sub-2{style: "color:#{branding.icon_color}"}= branding.icon_color
              %br
              .div
                .sub-1 Discover rule color:
                .sub-2{style: "color:#{branding.discover_rule_color}"}= branding.discover_rule_color
              %br
              .div
                .sub-1 Rule color:
                .sub-2{style: "color:#{branding.rule_color}"}= branding.rule_color
              %br
              .div
                .sub-1 Background color:
                .sub-2{style: "color:#{branding.background_color}"}= branding.background_color
              .div
                .sub-1 Background style:
                .sub-2= branding.get_background_style_display
              %br
            .large-6.columns 
              .sub-1 Logo Image:
              -if branding.logo_image
                %img{src: "/company_images/#{branding.logo_image}", width: 150, height:150}
              -else
                None
          %div
            %a.button.radius.small{href: "/admin/client-admin/#{client_id}/courses/#{course_id}/branding/create_edit", target: "_blank"}
                Edit
            %a.button.radius.small{class: "confirm", href: "/admin/client-admin/#{client_id}/courses/#{course_id}/branding/reset"}
                Reset to default settings
        - else 
          %p
            Branding settings are not defined for this client
          %hr
          %a.button.radius.small{href: "/admin/client-admin/#{client_id}/courses/#{course_id}/branding/create_edit"}
                Create Branding settings
