- extends "admin/admin_layout.haml"
- load i18n
- load staticfiles
- block content
  .admin-detail.row
    .large-12.large.columns
      - include 'admin/client-admin/course_header.haml'
  .admin-detail.row
    .large-12.large.columns
      - block admin_detail
        %h1
          %span
            {% trans "Participants: " %}
          %span= target_course.name
        .sub-1.add
          {% trans "Data Download " %}
        .participants-message
          {% trans "The following button downloads a list of all participants enrolled in this course, their percent complete, engagement scores, and course grade, along with profile informations such as email address and username." %}
        %br
        %a.button.radius.small{href: "/admin/client-admin/#{client_id}/courses/#{course_id}/download_course_report", target: "_blank"}
          {% trans "Download Report for course" %}
        %hr
        .sub-1.add
          {% trans "Participant-Specific grade inspection " %}
        .participants-message
          {% trans "Specify the name of a participant to access their details" %}
        %br
        / %input{type: "search"}
        / %hr
      %table#course-participants.student-list.ready-for-collapse
        %caption
          .sub-1.add
            {% trans "Participants: " %}
            %span= total_participants
          .add-message
            {% trans "Progress = # of modules complete out of total number of modules. Course Completed = completion of all required course work." %}
        %thead
            %th
            %th.sorting-column
              {% trans "Name" %}
              %span{class: 'asc'}
                ▲
              %span{class: 'desc'}
                ▼
            %th.sorting-column {% trans "Progress" %}
              %span{class: 'asc'}
                ▲
              %span{class: 'desc'}
                ▼
            %th.sorting-column {% trans "Course Completed" %}
              %span{class: 'asc'}
                ▲
              %span{class: 'desc'}
                ▼
            %th
        %tbody
          - for student in students
            %tr.student{id: "#{student.id}"}
              %td
                %div.user-image
                  %img{src: "#{student.image_url_medium}"}
              %td
                %a.show-user-progress{'data-link': '/admin/client-admin/#{client_id}/courses/#{course_id}/users/#{student.id}/progress', 'data-userid': '#{student.id}'}
                  %i.fa.fa-caret-right.collapse-arrow
                  %span= student.full_name
                %p= student.username
                %p= student.title
              %td
                = student.progress
                {% trans '%' %}
              %td
                - if student.completed
                  {% trans "Yes" %}
                - else
                  {% trans "No" %}
              %td.actions
                %a{href: "mailto:#{student.email}"}
                  = student.email
                - if user.is_internal_admin or user.is_mcka_admin or user.is_mcka_subadmin
                  %a{href: "/admin/client-admin/#{client_id}/courses/#{course_id}/participants/#{student.id}/edit-email", data-reveal-id: 'edit_field_modal', data-reveal-ajax: "true"}
                    %i.fa.fa-pencil
                %span.divider
                %a{href: "/courses/#{course_id}/progress/#{student.id}", target: "_blank"}
                  %i.fa.fa-bar-chart-o
                %span.divider
                %a{href: "/admin/client-admin/#{client_id}/courses/#{course_id}/participants/#{student.id}/unenroll", data-reveal-id: "edit_field_modal", data-reveal-ajax: "true"}
                  %i.fa.fa-times-circle-o

  #unenroll-confirm-dialog.reveal-modal.small{'data-reveal': None}
  #edit-email.reveal-modal.small{'data-reveal': None}

- block js_snippets
  %script{src: "{% static 'js/ajaxify_overlay_form.js' %}"}
  :javascript
    $(function(){

      var accordionTableFlag = true;
      $('.student-list').dataTable({
          paging: false,
          "dom": '<"top small-6"f>rt<"bottom"ilp><"clear">'
      });

      $(document).on('click', '.show-user-progress', function(){
        var that = $(this);
        var link = that.data('link');
        var userid = that.data('userid');
        if($('.student-progress-list[name="' + userid + '"]').length == 0 && accordionTableFlag){
          $("table").toggleClass('ready-for-collapse collapse-in-progress');
          accordionTableFlag = false;
          $.ajax({
            'url': link,
            'method': 'GET'
          }).done(function(data){
            $('tr#' + userid).after(data);
            accordionTableFlag = true;
          }).fail(function(){
            accordionTableFlag = true;
          }).always(function(){
            $("table").toggleClass('collapse-in-progress ready-for-collapse');
          });
        }
        else{
          $('.student-progress-list[name="' + userid + '"]').toggle();
        }

        $('.collapse-arrow', this).toggleClass('fa-caret-right fa-caret-down');
      });

      $('input[type$="search"]').attr('placeholder','Participant name');

    });

    ajaxify_overlay_form('#unenroll-confirm-dialog', 'form');
    ajaxify_overlay_form('#edit_field_modal', 'form');

    $('#edit_field_modal').on('click', '.close-dialog', function() {
      $('#edit_field_modal').foundation('reveal', 'close');
    });

    $('#unenroll-confirm-dialog').on('click', '.close-dialog', function() {
      $('#unenroll-confirm-dialog').foundation('reveal', 'close');
    });

    $('#edit_field_modal').on('click', '#unenroll_course, #unenroll_program', function(e) {
      e.preventDefault();
      var href = $(this).attr('href');
      $('#unenroll-confirm-dialog').foundation('reveal', 'open', href);
    });
