- extends "admin/admin_layout.haml"

- block content
  .admin-detail.row
    .large-12.large.columns
      - include 'admin/client-admin/course_header.haml'
  .row
    .large-12.large.columns
        %h1
          %span= _("Course Info: ")
          %span
            = course_info.name
        %hr
  .row
    .large-6.large.columns
      %h2= _("ENROLLMENT INFORMATION")
      %p= _("Total number of participants:")
        %b= metrics.users_enrolled
      %br

      %h2= _("BASIC COURSE INFORMATION")
      %ul
        %li= _("Course name:")
          %b= course_info.number
        %li= _("Course start date:")
          %b= course_start
        %li= _("Course end date:")
          %b= course_end
        %li= _("Grade cutoffs:")
          %b= cutoffs

    .large-6.large.columns
      %h2= _("PARTICIPANTS")
      %ul
        %li= _("Participants:")
          %b= metrics.users_enrolled
        %li= _("Started:")
          %b= metrics.users_started
        %li= _("Completed:")
        %li= _("% Completed:")

      %h2= _("FORUM INFORMATION")
      %ul
        %li= _("Active discussions:")
          %b= metrics.num_active_threads
        %li= _("Posts:")
          %b= metrics.num_posts
    %hr
    .large-12.large.columns
      %h2= _("STATUS")
      %p
        %i= _("Current status of all participants who have completed, are in progress, or not yet started this course.")
      %br
      .large-8.large.columns
      #email_not_started.large-4.large.columns
        %a{href:""}
          = _("Email participants not started")