- extends "admin/admin_layout.haml"

- block content
  .admin-detail.row
    .large-12.large.columns
      - include 'admin/client-admin/course_header.haml'

  .admin-detail.row
    .large-12.large.columns
      - block admin_detail
        %h1
          %span= _("Analytics: ")
          %span= course.name
        %p= _("Interested in how your company's participants are doing in the course? See below to measure your participant's engagement, progress through course content, social impact score, and demonstrated proficiency. Including how your company's participants are performing relative to their peers in the overall course cohort.")
        %hr

        .sub-1= _("Participant activity")
        %p.style-5= _("Daily sum of activity for your participants, with activity defined as # of modules completed. # of participants - those active on that day")
        .admin-analytics-participant-activity-wrapper
          %svg#admin-analytics-participant-activity
        %hr

        .sub-1= _("Progress")
        %p.style-5= _("% of content consumed by participants (total number of modules completed divided by total number of modules)")
        .admin-analytics-progress-wrapper
          %svg#admin-analytics-progress
        .progress_stats
          %ul
            %li= _("Your Company: ")
              %span.progress-stat= course.company_progress
              %span= _("%")
            %li= _("Your Cohort: ")
              %span.progress-stat= course.cohort_progress
              %span= _("%")
        %hr

        .proficiency-engagement
          .large-6.left
            .sub-1= _("Proficiency")
            %p.style-5= _("Average grade based on current grade of participants.")

            %section.course-progress
            - if course.company_progress == 0
              .zero
                %div
                  %span= _("Your course progress will be displayed here.")
            .sub-2.progress-link
              Progress:
              %a{href: "/courses/#{course.id}/cohort"}
                %i.fa.fa-arrow-circle-right
            .visualization
              .total{style: "left:#{course.company_progress}%;"}
                ={course.company_progress}%
              .bar.gradient{class: "{% if course.company_progress < average_progress %}trailing{% endif %}", style: "width:#{course.company_progress}%;"}
              .triangle{style: "left:#{average_progress}%"}
            .label-4 cohort average = ={average_progress}%
            %p.style-5= _("Note: Grades may not appear until later in the course depending on number of graded items and their location within course content.")
            %hr
          .large-6.left
            .sub-1= _("Engagement")
            %p.style-5= _("Participant engagement increases through engagement on the discussion forums.")
            %hr
