%ul
  %li
    - if request.resolver_match.url_name == 'client_admin_course'
      %span.selected= _("Course Info")
    - else
      %a{href:"/admin/client-admin/#{client_id}/courses/#{course_id}"}
        = _("Course Info")
  %li
    - if request.resolver_match.url_name == 'client_admin_course_participants'
      %span.selected= _("Participants")
    - else
      %a{href:"/admin/client-admin/#{client_id}/courses/#{course_id}/participants"}
        = _("Participants")
  - if user.is_client_admin or user.is_mcka_admin or user.is_mcka_subadmin
    %li
      - if request.resolver_match.url_name == 'client_admin_course_analytics'
        %span.selected= _("Analytics")
      - else
        %a{href:"/admin/client-admin/#{client_id}/courses/#{course_id}/analytics"}
          = _("Analytics")
  - if user.is_mcka_admin or user.is_mcka_subadmin 
    - if learner_dashboard_enabled
      %li
        - if request.resolver_match.url_name == 'client_admin_branding_settings'
          %span.selected= _("Branding")
        - else
          %a{href:"/admin/client-admin/#{client_id}/courses/#{course_id}/branding"}
            = _("Branding")
        