- extends 'admin/admin_layout.haml'
- load staticfiles
- block content  
  %link{rel: 'stylesheet', href: "{% static 'css/jquery-ui.min.css' %}"}
  %script
    $(function() {
      var url = window.location.pathname + "/reorder";
      var csrftoken = $.cookie('apros_csrftoken');

      $('tbody').sortable({ 
        cursorAt: { top: 110, left: 0 },
        axis: 'y'
      });

      $("#saveSort").click( "sortupdate", function(event, ui) {
          var positionList = $('tbody').sortable('toArray');
          $.ajax({
              dataType: 'json',
              data: {
                position: positionList,
                csrfmiddlewaretoken: csrftoken
              },
              type: 'POST',
              url: url
          });
      });
      $('tbody').disableSelection();

      $('tbody').mousedown(function() {
        $("#saveSort").css("display", "inline");
        $("#savedSort").css("display", "none");
      });

      $('#saveSort').click(function() {
        $("#saveSort").css("display", "none");
        $("#savedSort").css("display", "inline");
      });
    });
  .admin-detail.row
    %section
      %h1 Course Discovery List
    %section
      %p
        You can manage the course discovery content for this learner dashboard
    %br
    %div.submit-area
      %a{class: "button radius small", href: "/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/discover/create"}
        New
        %i{'class': "fa fa-plus"}
    %hr
    .large-10.large.columns
    -if discovery
      %table
        %thead
          %tr
            %th= _("Title")
            %th= _("Link")
            %th= _("Author")
            %th= _("Edit")
            %th= _("Delete")
        %tbody
          - for content in discovery
            %tr{id: "#{content.id}"}
              %td= content.title
              %td= content.link
              %td= content.author
              %td
                %a{href: "/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/discover/edit/#{content.id}"}
                  %i{'style': "color:green", 'class': "fa fa-pencil-square-o"}
              %td
                %a{href: "/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/discover/delete/#{content.id}"}
                  %i{'style': "color:red", 'class': "fa fa-times"}
    -else
      This learner dashboard has no discovery content!

    %a{id: "saveSort", class: "button radius small", style: "display:none"}
        Save list order
        %i{'class': "fa fa-save"}

    %div{id: "savedSort", class: "button radius small disabled", style: "display:none"}
      Saved
        %i{'class': "fa fa-check", style: "color:green"}

