- extends 'admin/admin_layout.haml'
- load staticfiles
- block content
  %link{rel: 'stylesheet', href: "{% static 'css/jquery-ui.min.css' %}"}
  %script
      $(function() {
          var csrftoken = $.cookie('apros_csrftoken');
          var url = window.location.pathname + "/reorder";
          
          $('#saveLearnerDashboard').click(function(){
              var positionList = $('#sortable').sortable('toArray');
              var data = {
                  title: $("input[name=title]").val(),
                  description: $("textarea[name=description]").val(),
                  position: positionList,
                  csrfmiddlewaretoken: csrftoken
              }
              $.ajax({
                  dataType: 'json',
                  data: data,
                  type: 'POST',
                  url: window.location.pathname
              });
          });

          $('#sortable').sortable();
    });
  #tileModal.reveal-modal.small{'data-reveal': None}
  .admin-detail.row
    .large-12.columns
      - include 'admin/client-admin/course_header.haml'
  .admin-detail.row
    .large-12.columns
      - csrf_token
      = form
      - if error
        .error
          = error
      .row
        .large-2.columns
          %label.inline Title
        .large-10.columns
          %input{:type => 'text', :value => '#{title}', :name => 'title', :maxlength => '80'}
      .row
        .large-2.columns
          %label.inline Description
        .large-10.columns
          %textarea{:value => '#{description}', :name => 'description', :maxlength => '500', :rows => 7}= description
      .row
        .large-2.columns
          %label.inline Tiles
        .large-10.columns
          %ul#sortable
            %li.ui-state-default
              %a{:href => '/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/#{learner_dashboard_id}/tile/#{tile_id}', :data-reveal-id => 'tileModal', :data-reveal-ajax =>'true'} +
            -for tile in learner_dashboard_tiles
              %li.ui-state-default
                %h4= tile.title 
                %p= tile.position
    .large-12.columns
      %input#saveLearnerDashboard.button.radius.small.right{type: 'submit', value: 'Save'}
      %a{class: "button radius small", href:"/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/discover/list"}
          %i{'class': "fa fa-plus"}
          Discovery Content