- extends 'admin/admin_layout.haml'
- load staticfiles
- block content  
  %link{rel: 'stylesheet', href: "{% static 'css/jquery-ui.min.css' %}"}
  %script
    $(function() {
      var url = window.location.pathname + "/reorder";
      var csrftoken = $.cookie('apros_csrftoken');
      var saveSort = $("#saveSort");
      var savedSort = $("#savedSort");
      var tbody = $('tbody');
      var isDragging;
      var wasDragging;

      tbody.sortable({ 
        cursorAt: { top: 0, left: 0 },
        axis: 'y'
      });

      saveSort.click( "sortupdate", function(event, ui) {
        var positionList = tbody.sortable('toArray');
        $.ajax({
          dataType: 'json',
          data: {
            position: positionList,
            csrfmiddlewaretoken: csrftoken
          },
          type: 'POST',
          url: url
        });
      });
      tbody.disableSelection();

      tbody.mousedown(function() {
        isDragging = false;
      }).mousemove(function() {
        isDragging = true;
      }).mouseup(function() {
        wasDragging = isDragging;
        isDragging = false;
        if (wasDragging) {
          saveSort.css("display", "inline");
          savedSort.css("display", "none");
        }
      });

      saveSort.click(function() {
        saveSort.css("display", "none");
        savedSort.css("display", "inline");
        setTimeout(function(){
          savedSort.fadeOut("slow");
        },1000)
      });

      $('.confirm').click(function() {
        return window.confirm("Are you sure?");
      });
      
    });
  .admin-detail.row
    .large-12.columns
      - include 'admin/client-admin/course_header.haml'
  .admin-detail.row
    #contentModal.reveal-modal.small{'data-reveal': None}
    %section
      %h1 Course Discover List
    %section
      %p
        You can manage the course discover content for this learner dashboard
    %br
    %div.submit-area
      %a{:class => "button radius small", :href => "/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/discover/create", :data-reveal-id => 'contentModal', :data-reveal-ajax =>'true'}
        New item
        %i{'class': "fa fa-plus"}

    %hr
    .large-10.large.columns
    -if discovery
      %table{style:"table-layout: fixed; width: 100%"}
        %thead
          %tr
            %th= _("Title")
            %th= _("Link")
            %th= _("Author")
            %th= _("Edit")
            %th= _("Delete")
        %tbody
          - for content in discovery
            %tr{id: "#{content.id}"}
              %td{style: "word-wrap: break-word"}= content.title
              %td{style: "word-wrap: break-word"}= content.link
              %td{style: "word-wrap: break-word"}= content.author
              %td
                %a{:href => "/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/discover/edit/#{content.id}", :data-reveal-id => 'contentModal', :data-reveal-ajax =>'true'}
                  %i{'style': "color:green", 'class': "fa fa-pencil-square-o"}
              %td
                %a{class: "confirm", href: "/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/discover/delete/#{content.id}"}
                  %i{'style': "color:red", 'class': "fa fa-times"}
    -else
      This learner dashboard has no discover content!

    %a{id: "saveSort", class: "button radius small", style: "display:none"}
        Save list order
        %i{'class': "fa fa-save"}

    %div{id: "savedSort", class: "button radius small disabled", style: "display:none"}
      Saved
        %i{'class': "fa fa-check", style: "color:green"}

- block js_snippets
  %script{src: "{% static 'js/ajaxify_overlay_form.js' %}"}
  :javascript
    ajaxify_overlay_form('#contentModal', 'form');

