%script{src: "/static/js/form_changed_check.js"}
- if tile_id
  %section
    %h1 Edit Tile
- else 
  %section
    %h1 Create Tile
%hr
.close-reveal-modal
  %i.fa.fa-times-circle
%form{action: '/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/#{learner_dashboard_id}/tile/#{tile_id}', method: 'POST', enctype: 'multipart/form-data'}
  - csrf_token
  .row
    .small-3.columns
    .small-9.columns= form.title.errors
  .row
    .small-3.columns= form.title.label_tag
    .small-9.columns= form.title
  .row
    .small-3.columns
    .small-9.columns= form.description.errors
  .row
    .small-3.columns= form.description.label_tag
    .small-9.columns= form.description
  .row
    .small-3.columns
    .small-9.columns= form.sub_label.errors
  .row
    .small-3.columns= form.sub_label.label_tag
    .small-9.columns= form.sub_label
  .row
    .small-3.columns
    .small-9.columns= form.link.errors
  .row
    .small-3.columns= form.link.label_tag
    .small-9.columns= form.link
  .row
    .small-3.columns
    .small-9.columns= form.tile_type.errors
  .row
    .small-3.columns= form.tile_type.label_tag
    .small-9.columns= form.tile_type
  .row
    .small-3.columns
    .small-9.columns= form.background_image.errors
  .row
    .small-3.columns= form.background_image.label_tag
    .small-9.columns= form.background_image
  .row
    .small-3.columns
    .small-9.columns= form.title_color.errors
  .row
    .small-3.columns= form.title_color.label_tag
    .small-9.columns= form.title_color
  .row
    .small-3.columns
    .small-9.columns= form.description_color.errors
  .row
    .small-3.columns= form.description_color.label_tag
    .small-9.columns= form.description_color
  .row
    .small-3.columns
    .small-9.columns= form.sub_label_color.errors
  .row
    .small-3.columns= form.sub_label_color.label_tag
    .small-9.columns= form.sub_label_color
  .row
    .small-3.columns
    .small-9.columns= form.tile_background_color.errors
  .row
    .small-3.columns= form.tile_background_color.label_tag
    .small-9.columns= form.tile_background_color

  %input{'type': 'hidden', 'name': 'learner_dashboard', 'value': '#{learner_dashboard_id}'}
  .error
    - if error
      = error
  %input.button.radius.small.right{id: "formSubmit", type: "submit", value: "Save", disabled: "True"}
