%section
  %h1 Edit Discovery Item
%hr
.close-reveal-modal
  %i.fa.fa-times-circle

%form.admin-form{action: "/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/discover/edit/#{discovery_id}", method: "POST"}
  - csrf_token
  = form
  .error
    - if error
      = error
  %input.button.radius.small{type: "submit", value: "Save"}
