- extends 'admin/admin_layout.haml'
- load staticfiles
- block content  
  %link{rel: 'stylesheet', href: "{% static 'css/jquery-ui.min.css' %}"}
  %link{rel: 'stylesheet', href: "{% static 'css/flatpickr.min.css' %}"}

  %script
    $(function() {
      
    });
  .admin-detail.row
    .large-12.columns
      - include 'admin/client-admin/course_header.haml'
  .admin-detail.row
    #contentModal.reveal-modal.small{'data-reveal': None}
    %section
      %h1 Milestone List
    %section
      %p
        You can manage the milestone content for this learner dashboard
    %br
    %div.submit-area
      %a{:class => "button radius small", :href => "/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/#{learner_dashboard_id}/milestone/", :data-reveal-id => 'contentModal', :data-reveal-ajax =>'true'}
        New item
        %i{'class': "fa fa-plus"}

    %hr
    .large-10.large.columns
    -if milestones
      %table{style:"table-layout: fixed; width: 100%"}
        %thead
          %tr
            %th= _("Type")
            %th= _("Title")
            %th= _("Edit")
            %th= _("Delete")
        %tbody
          - for milestone in milestones
            %tr{id: "#{milestone.id}"}
              %td{style: "word-wrap: break-word"}= milestone.get_milestone_type_display
              %td{style: "word-wrap: break-word"}= milestone.title
              %td
                %a{:href => "/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/#{learner_dashboard_id}/milestone/#{milestone.id}", :data-reveal-id => 'contentModal', :data-reveal-ajax =>'true'}
                  %i{'style': "color:green", 'class': "fa fa-pencil-square-o"}
              %td
                %a{class: "confirm", href: "/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/#{learner_dashboard_id}/milestone/#{milestone.id}"}
                  %i{'style': "color:red", 'class': "fa fa-times"}
    -else
      This learner dashboard has no milestone content!

- block js_snippets
  %script{src: "{% static 'js/ajaxify_overlay_form.js' %}"}
  :javascript
    ajaxify_overlay_form('#contentModal', 'form');

