- extends 'admin/admin_layout.haml'
- load staticfiles
- block content
  %link{rel: 'stylesheet', href: "{% static 'css/jquery-ui.min.css' %}"}
  %script
      $(function() {
          var csrftoken = $.cookie('apros_csrftoken');
          var url = window.location.pathname + "/reorder";
          $('#sortable').sortable();

          $('#saveLearnerDashboard').click(function(){
              var data = {
                  title: $("input[name=title]").val(),
                  description: $("textarea[name=description]").val(),
                  positions: $('#sortable').sortable('toArray'),
                  csrfmiddlewaretoken: csrftoken
              }
              $.ajax({
                  data: data,
                  type: 'POST',
                  url: window.location.pathname
              });
          });

          $('.confirm').click(function() {
              return window.confirm("Are you sure?");
          });
      });

  #tileModal.reveal-modal.small{'data-reveal': None}
  .admin-detail.row
    .large-12.columns
      - include 'admin/client-admin/course_header.haml'
  .admin-detail.row
    .large-12.columns
      - csrf_token
      = form
      - if error
        .error
          = error
      .row
        .large-2.columns
          %label.inline Title
        .large-10.columns
          %input{:type => 'text', :value => '#{title}', :name => 'title', :maxlength => '80'}
      .row
        .large-2.columns
          %label.inline Description
        .large-10.columns
          %textarea{:value => '#{description}', :name => 'description', :maxlength => '500', :rows => 7}= description
      .row
        .large-2.columns
          %label.inline Tiles
        .large-10.columns
          %ul#sortable
            -for tile in learner_dashboard_tiles
              %li.ui-state-default{id: "#{tile.id}"}
                %h4= tile.title
                  %a.fa.fa-times.right.confirm{href: "/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/#{learner_dashboard_id}/delete_tile/#{tile.id}"}
                  %a{:href => "/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/#{learner_dashboard_id}/tile/#{tile.id}", :data-reveal-id => 'tileModal', :data-reveal-ajax =>'true'}
                    %i{'style': "color:green", 'class': "fa fa-pencil-square-o"}
      .row
        .large-10.large-offset-2.columns
          %input#saveLearnerDashboard.button.radius.small.left.bottom-buttons{type: 'button', value: 'Save'}
          %a.button.radius.small.left.bottom-buttons{href:"/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/discover/list"} Discovery Content
          %a.button.radius.small.left.bottom-buttons{:href => '/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/#{learner_dashboard_id}/tile/', :data-reveal-id => 'tileModal', :data-reveal-ajax =>'true'} Add Tile

- block js_snippets
  %script{src: "{% static 'js/ajaxify_overlay_form.js' %}"}
  :javascript
    ajaxify_overlay_form('#tileModal', 'form');
