.close-reveal-modal
  %i.fa.fa-times-circle

%form{action: '/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/#{learner_dashboard_id}/tile/#{tile_id}', method: 'POST', enctype: 'multipart/form-data'}
  - csrf_token
  .row
    .small-3.columns
    .small-9.columns= form.title.errors
  .row
    .small-3.columns= form.title.label_tag
    .small-9.columns= form.title
  .row
    .small-3.columns
    .small-9.columns= form.description.errors
  .row
    .small-3.columns= form.description.label_tag
    .small-9.columns= form.description
  .row
    .small-3.columns
    .small-9.columns= form.link.errors
  .row
    .small-3.columns= form.link.label_tag
    .small-9.columns= form.link
  .row
    .small-3.columns
    .small-9.columns= form.tile_type.errors
  .row
    .small-3.columns= form.tile_type.label_tag
    .small-9.columns= form.tile_type
  .row
    .small-3.columns
    .small-9.columns= form.background_image.errors
  .row
    .small-3.columns= form.background_image.label_tag
    .small-9.columns= form.background_image
    
  %input{'type': 'hidden', 'name': 'learner_dashboard', 'value': '#{learner_dashboard_id}'}
  %input{'type': 'hidden', 'name': 'position', 'value': 100}
  .error
    - if error
      = error
  %input.button.right.radius.small{type: 'submit', value: 'Save'}