%section
  %h1 Create Discovery Item
%hr
.close-reveal-modal
  %i.fa.fa-times-circle

%form.admin-form{action: "/admin/client-admin/#{client_id}/courses/#{course_id}/learner_dashboard/discover/create", method: "POST"}
  - csrf_token
  .row
    .small-3.columns
    .small-9.columns= form.link.errors
  .row
    .small-3.columns= form.link.label_tag
    .small-9.columns= form.link
  .row
    .small-3.columns
    .small-9.columns= form.title.errors
  .row
    .small-3.columns= form.title.label_tag
    .small-9.columns= form.title
  .row
    .small-3.columns
    .small-9.columns= form.author.errors
  .row
    .small-3.columns= form.author.label_tag
    .small-9.columns= form.author
  %input{'type': 'hidden', 'name': 'learner_dashboard', 'value': '#{learner_dashboard}'}
  .error
    - if error
      = error
  %input.button.radius.small{type: "submit", value: "Save"}

