-if courses
  %tr.course-stats.student-progress-list{name: "#{student.id}"}
    %td.empty-cell
      .hidden.show-user-progress{'data-userid': '#{student.id}'}= student.full_name
    %td
      %i
        = _("Also enrolled in: ")
    %td
    %td
    %td
    %td
    %td
  -for course in courses
    %tr.course-stats.student-progress-list{name: "#{student.id}"}
      %td.empty-cell
        .hidden.show-user-progress{'data-userid': '#{student.id}'}= student.full_name
      %td.course-name
        = course.name
      %td.course-progress
        = course.progress
        = _('%')
      %td.course-completed
        - if course.completed
          = _("Yes")
        - else
          = _("No")
      %td
      %td.course-progress-link
        %a{'href': '/courses/#{course.id}/progress/#{student.id}', target: "_blank"}
          = _("View progress page")
      %td
-else
  %tr.course-stats.student-progress-list{name: "#{student.id}"}
    %td.empty-cell
      .hidden.show-user-progress{'data-userid': '#{student.id}'}= student.full_name
    %td
      %i
        = _("No other courses enrolled.")
    %td
    %td
    %td
    %td
    %td
