%footer.row.collapse{role: "contentinfo"}
  .large-12.columns
    .copyright
      &copy; 2014
      = _("McKinsey Academy")
    %nav{role: 'navigation'}
      %ul
        %li
          %a{href: '/tos'}= _("Terms of Service")
        %li
          %a{href: '/privacy'}= _("Privacy Policy")
        %li
          %a{href: '/about'}= _("About")
        %li
          %a{href:'/programs'}= _("Programs")
        %li
          %a{href: '/contact'}= _("Contact")
        %li
          %a{href: '/faq'}= _("FAQ")
    %span.built-on
      = _("Build on")
      %a{href: "http://www.openedx.org", target: "_blank"}
        = _("OpenEdx")
