- load i18n
- load cache
- load template_helpers
- get_current_language as LANGUAGE_CODE
- get_available_languages as LANGUAGES

%header.background-blue{style: "{% if client_customization and client_customization.hex_background_main_navigation %}background-color:#{client_customization.hex_background_main_navigation};{% endif %}" , role: 'banner'}
  .row.collapse.main-nav
    .large-12.columns
      - block header_home
        -if request.user.is_authenticated
          -if client_customization and client_customization.global_client_logo
            %img.header-logo-img{src: "#{client_customization.global_client_logo}"}
          -else
            %a.logo{href: "/"}
              %img{src: "/static/image/mckinsey-academy-logo.png", srcset: "/static/image/mckinsey-academy-logo@2x.png 2x"}
        -else
          .top-bar
            %a.logo{href: "/"}
              %img{src: "/static/image/mckinsey&academy.svg"}
            -if use_i18n
              .language-selector
                %span
                  {% trans "Language :" %}
                .select-box
                  %a.current
                    %span.current_language

                  %ul
                    %li
                      %h5
                        {% trans "Select Your Language" %}
                    - for language_code, language_name in LANGUAGES
                      %li
                        - if LANGUAGE_CODE == language_code
                          %a.selected
                            {{language_name}}
                        - else
                          %a{href: "{% url 'language_switcher' %}?LANG={{language_code}}"}
                            -if language_code == 'en' or language_code == 'nl'
                              - get_language_info for language_code as lang
                              {{lang.name}}
                            -else
                              {{language_name}}


      %input#mobile-menu-toggle{type: 'checkbox'}
      - block header_menu
        %nav{role: 'navigation'}
          %ul
            - if client_nav_links
              %li
                - if client_nav_links.about
                  %a{href: "#{client_nav_links.about.link_url}", target: "_blank"}= client_nav_links.about.link_label
              %li
                - if client_nav_links.programs
                  %a{href: "#{client_nav_links.programs.link_url}", target: "_blank"}= client_nav_links.programs.link_label
              %li
                - if client_nav_links.experience
                  %a{href: "#{client_nav_links.experience.link_url}", target: "_blank"}= client_nav_links.experience.link_label
              %li
                - if client_nav_links.contact
                  %a{href: "#{client_nav_links.contact.link_url}", target: "_blank"}= client_nav_links.contact.link_label
              %li
                - if client_nav_links.navlink5
                  %a{href: "#{client_nav_links.navlink5.link_url}", target: "_blank"}= client_nav_links.navlink5.link_label
              %li
                - if client_nav_links.navlink6
                  %a{href: "#{client_nav_links.navlink6.link_url}", target: "_blank"}= client_nav_links.navlink6.link_label
            - else
            - if user.is_mcka_admin or user.is_mcka_ta or user.is_mcka_subadmin
              %li
                %a{href: '/admin'}
                  {% trans "McKA Admin" %}
            - if user.is_manager
              %li
                %a{href: '/admin/manager/team_report'}
                  {% trans "TEAM REPORTS" %}

            - if user.is_internal_admin
              %li
                %a{href: '/admin'}
                  {% trans "Internal Admin" %}
            - if user.is_client_admin
              %li
                %a{href: '/admin/client-admin'}
                  {% trans "Client Admin" %}
            - if user.is_company_admin
              %li
                %a{href: '/admin/company_dashboard'}
                  {% trans "Company Admin" %}
      - block user_region
        - if request.user.is_authenticated
          - if not client_customization.hide_user_profile
            %a.user-info{data-dropdown: "profile-container"}
              .user-name= user.username
              %i.fa.fa-sort-desc
              .user-image
                %img{src: "#{user.image_url_small}", alt: "#{user.username}"}
              #profile-container{data-dropdown-content: "true"}
          - elif client_customization.hide_user_profile
            {% with request.path|slice:":6" as path %}
              {% if path == '/admin' %}
                %a.user-info{data-dropdown: "profile-container"}
                  .user-name= user.username
                  %i.fa.fa-sort-desc
                  .user-image
                    %img{src: "#{user.image_url_small}", alt: "#{user.username}"}
                  #profile-container{data-dropdown-content: "true"}
              {% endif %}
            {% endwith %}
  - block program_bar
    - if program and current_course and current_course.started
      .program-bar.background-alt-blue{style: "{% if client_customization and client_customization.hex_background_bar %}background-color:#{client_customization.hex_background_bar};{% endif %}"}
        - if client_customization.client_logo
          .client-logo
            %img{src: "#{client_customization.client_logo}"}
        .row.collapse
          .medium-5.columns.course_info
            .program-menu
              %a{"data-dropdown": "program-menu-content", 'data-tooltip': '{% trans "Program" %}'}
                %i.fa.fa-th-large{style: "{% if client_customization and client_customization.hex_navigation_icons %}color:#{client_customization.hex_navigation_icons};{% endif %}"}
              #program-menu-content.program-menu-content{"data-dropdown-content":"true"}
            .label-4.program-name{style: "{% if client_customization and client_customization.hex_program_name %}color:#{client_customization.hex_program_name};{% endif %}"}<
              = program.display_name
            %h4.course-name
              - if current_course.ended
                %span
                    {% trans "COURSE CLOSED" %}
              %a{href: "#{current_course.nav_url}", style: "{% if client_customization and client_customization.hex_course_title %}color:#{client_customization.hex_course_title};{% endif %}"}= current_course.name
          .medium-2.columns
          .medium-5.columns.course_nav
            - include "courses/content_page/course_tabs.haml"
    - elif program and upcoming_course
      .program-bar.background-alt-blue{style: "{% if client_customization and client_customization.hex_background_bar %}background-color:#{client_customization.hex_background_bar};{% endif %}"}
        .row.collapse
          .medium-6.columns
            .label-4.program-name{style: "{% if client_customization and client_customization.hex_program_name %}color:#{client_customization.hex_program_name};{% endif %}"}<
              = program.display_name
            %h4.course-name{style: "{% if client_customization and client_customization.hex_course_title %}color:#{client_customization.hex_course_title};{% endif %}"}
              = upcoming_course.name
              %span.start-time - {% blocktrans with remaining_days=upcoming_course.days_till_start %}course begins in {{ remaining_days }} days{% endblocktrans %}
          .medium-2.columns
            -if branding and branding.logo_image
              %img.header-logo-img{src: "/company_images/#{branding.logo_image}"}
