%header.background-blue{role: 'banner'}
  .row.collapse.main-nav
    .large-12.columns
      %a.logo{href: "/"}
      - block header_menu
        %nav{role: 'navigation'}
          %ul
            %li
              %a{href: '/about'}= _("About")
            %li
              %a{href: '/programs'}= _("Programs")
            %li
              %a{href: '/experience'}= _("Experience")
            %li
              %a{href: '/contact'}= _("Contact")
            - if user.is_mcka_admin
              %li
                %a{href: '/admin'}= _("McKA Admin")
            - if user.is_client_admin
              %li
                %a{href: '/admin/client-admin'}= _("Client Admin")
      - block user_region
        - if request.user.is_authenticated
          %a.user-info{href: "#", data-dropdown: "profile-container"}
            .user-name= user.username
            %i.fa.fa-sort-asc
            .user-image
              %img{src: "#{user.image_url}"}
            #profile-container{data-dropdown-content: "true"}
        - else
          .login-action
            %a.tiny.radius.button{href: "/accounts/login"}= _("Log In")
  - block program_bar
    - if program
      .program-bar.background-alt-blue
        .row.collapse
          .large-12.columns
            .label-4.program-name<
              = program.display_name
            %h4.course-name
              %a{href: "#{course.nav_url}"}= course.name
            .program-menu
              %a{href:"#", "data-dropdown": "program-menu-content"}
                %i.fa.fa-bars
              #program-menu-content.program-menu-content{"data-dropdown-content":"true"}
                - include "courses/content_page/program_menu.haml"
            %a.global-help{'data-reveal-id': 'mckinsey_help'}
              %i.fa.fa-question-circle
