- from django.utils.translation import ugettext as _
%header.row(role="banner")
  .large-12.columns
    .logo
    %span.header-menu
      %ul
        %li= _("About")
        %li= _("Programs")
        %li= _("Contact")
    %%block(name="user_region")
      - from django.utils.translation import ugettext as _
      - if user != None:
        .user-info
          .user-name
            = user.username
          %i.fa.fa-sort-asc
          .user-image
            %img(src=user.image_url())
          #profile-container
      - else:
        .login-action
          %a.tiny.radius.button(href="/login")
            = _("Log In")
