%header.background-blue{role: 'banner'}
  .row.collapse.main-nav
    .large-12.columns
      %a.logo{href: "/"}
      %label.button.radius.small.mobile-menu{for: 'mobile-menu-toggle'}
        %i.fa.fa-bars
      %input#mobile-menu-toggle{type: 'checkbox'}
      - block header_menu
        %nav{role: 'navigation'}
          %ul
            %li
              %a{href: '/about'}= _("About")
            %li
              %a{href: '/programs'}= _("Programs")
            %li
              %a{href: '/experience'}= _("Experience")
            %li
              %a{href: '/contact'}= _("Contact")
            - if user.is_mcka_admin
              %li
                %a{href: '/admin'}= _("McKA Admin")
            - if user.is_client_admin
              %li
                %a{href: '/admin/client-admin'}= _("Client Admin")
      - block user_region
        - if request.user.is_authenticated
          %a.user-info{href: "#", data-dropdown: "profile-container"}
            .user-name= user.username
            %i.fa.fa-sort-asc
            .user-image
              %img{src: "#{user.avatar_url}"}
            #profile-container{data-dropdown-content: "true"}
        - else
          .login-action
            %a.tiny.radius.button{href: "/accounts/login"}= _("Log In")
  - block program_bar
    - if program
      .program-bar.background-alt-blue
        .row.collapse
          .medium-6.columns
            .program-menu
              %a{href:"#", "data-dropdown": "program-menu-content"}
                %i.fa.fa-th-large
              #program-menu-content.program-menu-content{"data-dropdown-content":"true"}
                - include "courses/content_page/program_menu.haml"
            .label-4.program-name<
              = program.display_name
            %h4.course-name
              %a{href: "#{course.nav_url}"}= course.name
          .medium-6.columns.course_nav
            - include "courses/content_page/course_tabs.haml"
