- load i18n

- get_current_language_bidi as LANGUAGE_BIDI

%header.background-blue{style: "{% if client_customization and client_customization.hex_background_main_navigation %}background-color:#{client_customization.hex_background_main_navigation};{% endif %}" , role: 'banner'}
  .row.collapse.main-nav
    .large-12.columns
      - block header_home
        -if request.user.is_authenticated
          -if client_customization and client_customization.global_client_logo
            %img.header-logo-img{src: "#{client_customization.global_client_logo}"}
          -else
            %a.logo{href: "/"}
              %img{src: "/static/image/mckinsey-academy-logo.png", srcset: "/static/image/mckinsey-academy-logo@2x.png 2x"}
        -else
          .top-bar
            %a.logo{href: "/"}
              %img{src: "/static/image/mckinsey&academy.png", srcset: "/static/image/mckinsey&academy@2x.png 2x"}
            .language-selector
              %span
                {# TODO: generate dynamic list using settings.SUPPORTED_LANGUAGES #}
                {% trans "Language :" %}
              .select-box
                %select{:onchange => "window.location.href = this.value;"}
                  - if LANGUAGE_BIDI
                    %option{"value" => "/language_switch?LANG=en"}
                      {% trans "English" %}
                    %option{"value" => "/language_switch?LANG=ar" , :selected => ""}
                      {% trans "Arabic" %}
                  - else
                    %option{"value" => "/language_switch?LANG=en" , :selected => ""}
                      {% trans "English" %}
                    %option{"value" => "/language_switch?LANG=ar"}
                      {% trans "Arabic" %}
      %input#mobile-menu-toggle{type: 'checkbox'}
      - block header_menu
        %nav{role: 'navigation'}
          %ul
            - if client_nav_links
              %li
                - if client_nav_links.about
                  %a{href: "#{client_nav_links.about.link_url}", target: "_blank"}= client_nav_links.about.link_label
              %li
                - if client_nav_links.programs
                  %a{href: "#{client_nav_links.programs.link_url}", target: "_blank"}= client_nav_links.programs.link_label
              %li
                - if client_nav_links.experience
                  %a{href: "#{client_nav_links.experience.link_url}", target: "_blank"}= client_nav_links.experience.link_label
              %li
                - if client_nav_links.contact
                  %a{href: "#{client_nav_links.contact.link_url}", target: "_blank"}= client_nav_links.contact.link_label
              %li
                - if client_nav_links.navlink5
                  %a{href: "#{client_nav_links.navlink5.link_url}", target: "_blank"}= client_nav_links.navlink5.link_label
              %li
                - if client_nav_links.navlink6
                  %a{href: "#{client_nav_links.navlink6.link_url}", target: "_blank"}= client_nav_links.navlink6.link_label
            - else
            - if user.is_mcka_admin or user.is_mcka_ta or user.is_mcka_subadmin
              %li
                %a{href: '/admin'}
                  {% trans "McKA Admin" %}
            - if user.is_internal_admin
              %li
                %a{href: '/admin'}
                  {% trans "Internal Admin" %}
            - if user.is_client_admin
              %li
                %a{href: '/admin/client-admin'}
                  {% trans "Client Admin" %}
            - if user.is_company_admin
              %li
                %a{href: '/admin/company_dashboard'}
                  {% trans "Company Admin" %}
      - block user_region
        - if request.user.is_authenticated
          %a.user-info{data-dropdown: "profile-container"}
            .user-name= user.username
            %i.fa.fa-sort-desc
            .user-image
              %img{src: "#{user.image_url_small}", alt: "#{user.username}"}
            #profile-container{data-dropdown-content: "true"}
  - block program_bar
    - if program and course and course.started
      .program-bar.background-alt-blue{style: "{% if client_customization and client_customization.hex_background_bar %}background-color:#{client_customization.hex_background_bar};{% endif %}"}
        - if client_customization.client_logo
          .client-logo
            %img{src: "#{client_customization.client_logo}"}
        .row.collapse
          .medium-5.columns.course_info
            .program-menu
              %a{"data-dropdown": "program-menu-content", 'data-tooltip': '{% trans "Program" %}'}
                %i.fa.fa-th-large{style: "{% if client_customization and client_customization.hex_navigation_icons %}color:#{client_customization.hex_navigation_icons};{% endif %}"}
              #program-menu-content.program-menu-content{"data-dropdown-content":"true"}
                - include "courses/content_page/program_menu.haml"
            .label-4.program-name{style: "{% if client_customization and client_customization.hex_program_name %}color:#{client_customization.hex_program_name};{% endif %}"}<
              = programs.0.0.display_name
            %h4.course-name
              - if course.ended
                %span
                    {% trans "COURSE CLOSED" %}
              %a{href: "#{course.nav_url}", style: "{% if client_customization and client_customization.hex_course_title %}color:#{client_customization.hex_course_title};{% endif %}"}= course.name
          .medium-2.columns
          .medium-5.columns.course_nav
            - include "courses/content_page/course_tabs.haml"
    - elif program and upcoming_course
      .program-bar.background-alt-blue{style: "{% if client_customization and client_customization.hex_background_bar %}background-color:#{client_customization.hex_background_bar};{% endif %}"}
        .row.collapse
          .medium-6.columns
            .label-4.program-name{style: "{% if client_customization and client_customization.hex_program_name %}color:#{client_customization.hex_program_name};{% endif %}"}<
              = program.display_name
            %h4.course-name{style: "{% if client_customization and client_customization.hex_course_title %}color:#{client_customization.hex_course_title};{% endif %}"}
              = upcoming_course.name
              %span.start-time - {% blocktrans with remaining_days=upcoming_course.days_till_start %}course begins in {{ remaining_days }} days{% endblocktrans %}
          .medium-2.columns
            -if branding and branding.logo_image
              %img.header-logo-img{src: "/company_images/#{branding.logo_image}"}
