!!! 5
%html.no-js{lang:"en"}
  - load assets
  - load staticfiles
  %head
    %meta{charset: "utf-8"}
    %meta{'http-equiv': "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, maximum-scale=1, user-scalable=no"}
    - block meta
    - block page_title
      %title= _("McKinsey Academy")
      %meta{property: "og:title", content: "McKinsey Academy"}

    - block page_description
      %meta{name: "description", content: "McKinsey Academy helps organizations thrive by accelerating their talent advantage"}
      %meta{property: "og:description", content: "McKinsey Academy helps organizations thrive by accelerating their talent advantage"}

    - block open_graph
      %meta{property: "og:site_name", content: "McKinsey Academy"}
      %meta{property: "og:image", content: "/static/image/McKA_OG.png"}

    -# favicon
    %link{rel: "shortcut icon", href: "/static/favicons/favicon.ico?s=#{session_id}"}
    %link{rel: "apple-touch-icon", sizes: "57x57", href: "/static/favicons/apple-touch-icon-57x57.png?s=#{session_id}"}
    %link{rel: "apple-touch-icon", sizes: "114x114", href: "/static/favicons/apple-touch-icon-114x114.png?s=#{session_id}"}
    %link{rel: "apple-touch-icon", sizes: "72x72", href: "/static/favicons/apple-touch-icon-72x72.png?s=#{session_id}"}
    %link{rel: "apple-touch-icon", sizes: "144x144", href: "/static/favicons/apple-touch-icon-144x144.png?s=#{session_id}"}
    %link{rel: "apple-touch-icon", sizes: "60x60", href: "/static/favicons/apple-touch-icon-60x60.png?s=#{session_id}"}
    %link{rel: "apple-touch-icon", sizes: "120x120", href: "/static/favicons/apple-touch-icon-120x120.png?s=#{session_id}"}
    %link{rel: "apple-touch-icon", sizes: "76x76", href: "/static/favicons/apple-touch-icon-76x76.png?s=#{session_id}"}
    %link{rel: "apple-touch-icon", sizes: "152x152", href: "/static/favicons/apple-touch-icon-152x152.png?s=#{session_id}"}
    %link{rel: "apple-touch-icon", sizes: "180x180", href: "/static/favicons/apple-touch-icon-180x180.png?s=#{session_id}"}
    %link{rel: "icon", type: "image/png", href: "/static/favicons/favicon-192x192.png?s=#{session_id}", sizes: "192x192"}
    %link{rel:"icon", type:"image/png", href: "/static/favicons/favicon-160x160.png?s=#{session_id}", sizes: "160x160"}
    %link{rel:"icon", type:"image/png", href: "/static/favicons/favicon-96x96.png?s=#{session_id}", sizes: "96x96"}
    %link{rel:"icon", type:"image/png", href: "/static/favicons/favicon-16x16.png?s=#{session_id}", sizes: "16x16"}
    %link{rel:"icon", type:"image/png", href: "/static/favicons/favicon-32x32.png?s=#{session_id}", sizes: "32x32"}
    %meta{name: "msapplication-TileColor", content: "#2b5797"}
    %meta{name: "msapplication-TileImage", content: "/static/favicons/mstile-144x144.png"}
    %meta{name: "msapplication-config", content: "/static/favicons/browserconfig.xml"}

    -# CSS
    - if not request.is_IE8
      %link{href: '//fonts.googleapis.com/css?family=Open+Sans:400,600,700', rel: 'stylesheet', type: 'text/css'}
      %link{href: '//api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css', rel: 'stylesheet'}

    - block css
      %link{rel: "stylesheet", href: "{% static 'css/jquery-ui.css' %}"}
      %link{rel: "stylesheet", href: "{% static 'css/normalize.css' %}"}
      %link{rel: "stylesheet", href: "{% static 'css/font-awesome.css' %}"}
      %link{rel: "stylesheet", href: "{% static 'css/old-font-awesome.css' %}"}
      %link{rel: "stylesheet", href: "{% static 'css/nv.d3.css' %}"}
      %link{rel: "stylesheet", href: "{% static 'css/cropper.css' %}"}
      %link{rel: "stylesheet", href: "{% static 'css/bbGrid.css' %}"}
      %link{rel: "stylesheet", href: "{% static 'css/countrySelect.min.css' %}"}
      -# %link{rel: "stylesheet", href: "{% static 'css/bbGridExtend.css' %}"}
      -# %link{rel: "stylesheet", href: "{% static 'css/participants.css' %}"}
      -# %link{rel: "stylesheet", href: "{% static 'css/courses.css' %}"}
      -# %link{rel: "stylesheet", href: "{% static 'css/companies.css' %}"}
      -# %link{rel: "stylesheet", href: "{% static 'css/common.css' %}"}
      %link{rel: "stylesheet", href: "{% static 'css/dropzone.css' %}"}

    {% assets "css_core" %}
      %link{rel: "stylesheet", href: "{{ ASSET_URL }}"}
    {% endassets %}

    {% assets "css_app" %}
      %link{rel: "stylesheet", href: "{{ ASSET_URL }}"}
    {% endassets %}

    - if '/admin' in request.path
      {% assets "css_admin" %}
        %link{rel: "stylesheet", href: "{{ ASSET_URL }}"}
      {% endassets %}

    /[if lt IE 9]
      {% assets "css_ie8" %}
        %link{rel: "stylesheet", href: "{{ ASSET_URL }}"}
      {% endassets %}

    -# Override if you need another version of modernizr; or comment out for now - we dont' need it yet
    - block foundation_modernizer
      -# %script{src: "{% static 'js/vendor/modernizr.js' %}"}

    -# Custom head JS
    - block head_js

    - if ga_tracking_id
      %script
        if(window.location.href.indexOf("mckinseyacademy.com") > -1) {
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', '{{ ga_tracking_id }}', 'mckinseyacademy.com');
            ga('send', 'pageview');
        }
        else{
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', '{{ ga_tracking_id }}', 'auto');
            ga('send', 'pageview');
        }
        

    /[if lt IE 9]
      %script{src: "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"}
      %script{src: "//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.3/es5-shim.min.js"}
      %script{src: "//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"}
      %script{src: "//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"}
      %script{src: "//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"}

    -# Override if you need another version of jQuery
    - block foundation_jquery
      /[if lt IE 9]
        %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
      <!--[if (gte IE 9) | (!IE)]><!-->
        %script{src: "//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
      <!--<![endif]-->
      %script
        window.jQuery || document.write('<script src="{% static 'js/vendor/jquery.js' %}"><\/script>')

    -# edx-notifications script dependencies
    - block edx_notifications
      %script{src: "/static/js/vendor/underscore.js"}
      %script{src: "/static/js/vendor/backbone.js"}
      %script{src: "/static/js/vendor/date.js"}

    -# custom js libs
    - block custom_js

    -# custom css scripts
    - block custom_css


    -# Disable Log in button on mobile
    %script
      $(document).ready(function() {
        $(".with-program .login-btn").attr("href", "javascript:void(0)");
      });
    
  %body{id: "{% if '/admin' in request.path %}admin-body{% endif %}", class: "{% if program %}with-program {% endif %} {% if request.is_IE8 %}ie8{% endif %}", style: "{% if client_customization %}{%if client_customization.hex_page_background %}background-color:#{client_customization.hex_page_background};{% endif %}{%if client_customization.client_background %}background-image:url(#{client_customization.client_background});{% endif %}{%if client_customization.client_background_css%}#{client_customization.client_background_css}{% endif %}{% endif %}"}
    - block help_context

    -# Header
    - block header
      - include 'header.haml'

    -# Main content goes here
    %main{role: "main"}
      - block content

    -# Footer
    - block footer
      - include 'footer.haml'

    -# Video overlay
    - block video_overlay
      #mckinsey_video.reveal-modal.medium{'data-reveal': None}
        .close-reveal-modal
          %i.fa.fa-times-circle
        .player-wrapper

    -# Block for general purpouse modal dialog
    - block general_modal
      #generalModal.reveal-modal.small{'data-reveal': None}
        %h2.title
        %p{'class': "lead description"}
        %a{'class': "close-reveal-modal fa fa-times-circle"}

    - block messages_modal
      - if messages
        #messagesModal.reveal-modal.small{'data-reveal': ''}
          %h2.title
            Notice
          %p{'class': "lead description"}
            {% for message in messages %}
            {{ message }}<br/>
            {% endfor %}
          %a{'class': "close-reveal-modal fa fa-times-circle"}
            %input.show-modal{'type': 'hidden', 'value': 'autoshow'}

    - block change_profile_image
      #edit-user-image-modal.reveal-modal.medium{'data-reveal': 'true'}

    -# Beta content overlay
    - block beta_content
      #beta_content.reveal-modal.small{'data-reveal': None}
        .close-reveal-modal
          %i.fa.fa-times-circle
        %p This is the McKinsey Academy Beta and we are happy to have you participate ahead of the official public launch!
        %p As a beta user, you will occasionally see pages and features like this one in early stages of development. Please feel free to explore, and we’ll continue to add features and functionality in the coming weeks.

    #edit_field_modal.reveal-modal.small{data-reveal: None }

    - if request.is_IE8
      #unsupported_modal
        .modal-bg
        .reveal-modal.small.open
          .close-box
            %i.fa.fa-times-circle
          %p We're sorry, McKinsey Academy is not compatible with your browser. Please update your browser to access course content. We recommend the latest versions of Google Chrome, Mozilla Firefox, and Apple Safari for an optimal experience.

    - if request.user.is_authenticated
      - ifequal request.session.learner_dashboard_id None
        - if request.session.learner_dashboard_id
          #intro_modal.reveal-modal.small{'data-reveal': None, 'data-options': "close_on_esc: false;"}
            .close-reveal-modal
              %i.fa.fa-times-circle
            %h1 Welcome to McKinsey Academy
            %p McKinsey Academy is a dynamic business education platform built to help organizations thrive by accelerating their talent advantage. This video will walk you through our learner experience.
            #mk-intro-video{'data-video-id': "xxeGhmcDoM9TuNW1LQil2luNyHUSokt2"}
            %p.style-6 This product walkthrough can always be found in the page specific help <i class="fa fa-question-circle"></i>.

    -# jQuery-cookie
    - block jquery_cookie
      %script{src: "{% static 'js/vendor/jquery.cookie.js' %}"}

    -# jQuery-xblock
    - block jquery_xblock
      %script{src: "{% static 'js/vendor/jquery.xblock-2.js' %}"}

    -# Foundation JS
    - block foundation_js
      %script{src: "{% static 'js/foundation.min.js' %}"}

    -# Ooyala Player JS
    - block ooyala_player
      %script{src: '//player.ooyala.com/v3/508480711cac43cfbc1931fe461c4d35?platform=html5-prority'}

    - block jquery_ui
      %script{src: "{% static 'js/vendor/jquery-ui.min.js' %}"}
  		
    -# Custom JS
    - block body_js
      - if request.is_IE8
        {% assets "js_ie8" %}
          %script{src: "{{ ASSET_URL }}"}
        {% endassets %}
      - else
        {% assets "js_all" %}
          %script{src: "{{ ASSET_URL }}"}
        {% endassets %}

    -# JS - custom snippets
    - block js_snippets

    -# Init Foundation
    - block foundation_js_init
      %script $(document).foundation();
