- from django.utils.translation import ugettext as _
!!! 5
%html.no-js(lang="en")
%head
  %meta(charset="utf-8")
  %meta(name="viewport", content="width=device-width", initialScale="1.0")
  %%block(name="meta")
  %title= _("McKinsey Academy")

  - # Base Foundation CSS
  %%block(name="foundation_css")
    %link(rel="stylesheet", href="/static/css/normalize.css")
    %link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")

  - # Custom CSS
  %%block(name="css")
    %link(rel="stylesheet", href="/static/css/base.css")

  - # Override if you need another version of modernizr
  %%block(name="foundation_modernizer")
    %script(src="/static/js/vendor/modernizr.js")

  - # Custom head JS
  %%block(name="head_js")
  
%body

  - # Header
  .row.header
    .large-12.columns
      .logo
      %span.header-menu
        %ul
          %li= _("About")
          %li= _("Programs")
          %li= _("Contact")
      %%block(name="user_region")
        - from django.utils.translation import ugettext as _
        - if user != None:
          .user-info
            .user-name
              = user.username
            %i.fa.fa-sort-asc
            .user-image
              %img(src=user.image_url())
            #profile-container
        - else:
          .login-action
            %a.tiny.radius.button(href="/login")
              = _("Log In")
  
  - # Main content goes here
  %%block(name="content")

  - # Footer
  .row
    .large-12.columns.footer
      %ul
        %li= _("Terms of Service")
        %li= _("Privacy Policy")
        %li= _("About")
        %li= _("Programs")
        %li= _("Contact")

  - # Override if you need another version of jQuery
  %%block(name="foundation_jquery")
    %script(src="/static/js/vendor/jquery.js")

  - # Foundation JS
  %%block(name="foundation_js")
    %script(src="/static/js/foundation.min.js")

  - # Custom JS
  %%block(name="body_js")
    %script(src="/static/js/application.js")

  - # JS - custom snippets
  %%block(name="js_snippets")

  - # Init Foundation
  %%block(name="foundation_js_init")
    %script $(document).foundation();
