.group-member
  %img.avatar{src: "#{group_member.image_url}"}
  .person-info
    .person-name= group_member.formatted_name
    .person-title= group_member.title
    .email
      %a.email-member{href: "#", 'data-reveal-id': '#{data_reveal_id}', 'data-member-email': '#{group_member.email}'}
        = _("Email")
