.group-member
  %img.avatar{src: "#{group_member.image_url}"}
  .user-info
    .person-name= group_member.formatted_name
    .person-title= group_member.title
    .email
      %a{href: "mailto:#{group_member.email}"}
        = _("Email")