.group-member
  %img.avatar{src: "#{group_member.image_url}"}
  .user-info
    .name= group_member.full_name
    .title= group_member.title
    .email
      %a{href: "mailto:#{group_member.email}"}
        = _("Email")