- extends "layout.haml"
- load staticfiles
- block page_title
  %title
    = program.display_name
    = _(" | Courses | McKinsey Academy")
- block content
  #home-courses
    .row
      .large-8.columns.dash-programs
        -if branding
          %h3{style:"color:#{branding.text_colors}"}= learner_dashboard.title
        -else
          %h3= learner_dashboard.title
        %p= learner_dashboard.description
        .row
          -for tile in learner_dashboard_tiles
            %a{href: "#{tile.link}", target:"_blank"}
              .learner-program
                .panel.panel-program 
                  %h4= tile.title
      .large-4.columns.dash-widget
        %h5 FOR DISCOVERY
        -for item in discovery_items
          .learner-info
            %a{href:"#{item.link}"}
              %p= item.title
            %h5
              %span= item.author
    %a{:class => "button radius small", :data-reveal-id => 'contact-ta', :data-reveal-ajax =>'true'}
      Contact TA
  #contact-ta.reveal-modal.small{"data-reveal": "false"}
    .close-reveal-modal
      %i.fa.fa-times-circle
    %h2= _("Message your TA")
    %hr
    %div= _("Send any questions or messages to your TA , and they'll get back to you promptly.")
    %form#contact-ta-form{action: "/courses/#{course.id}/teaching_assistant", method: "POST"}
      .error
        - if error
          = error
      - csrf_token
      %textarea{placeholder: "Enter your message for the TA here", name: "ta_message"}
      %input#contact-from{'type': 'hidden', 'name': 'contact-from', 'value': '#{contact_from}'}
      %input.button.radius.small{type: "submit", value: "Submit", disabled: "Disabled"}

- block js_snippets
  %script{src: "{% static 'js/course_contact_modal.js' %}"}