%header#learner-dashboard-header.background-blue{role: 'banner', style: "{% if branding and branding.text_colors %} border-bottom: 5px solid #{branding.text_colors};{% endif %}"}
  .row.collapse.main-nav
    .large-6.columns.header-row
      -if branding and branding.logo_image
        %img.header-logo{src: "#{branding.logo_image}"}
    .large-6.columns.header-row
      .row
        .large-12.columns.header-padding
          .row
            .large-12.columns.header-padding
              - block user_region
                - if request.user.is_authenticated
                  %a.user-info{data-dropdown: "profile-container"}
                    .user-name= user.username
                    %i.fa.fa-sort-desc
                    .user-image
                      %img{src: "#{user.image_url}", alt: "#{user.username}"}
                    #profile-container{data-dropdown-content: "true"}
                - else
                  .login-action
                    %a.small.radius.button{href: "/accounts/login"}= _("Log in")
      .row
        .large-12.columns.header-padding
          %div.right.header-path
            %a.header-link{:href => "/courses/#{course.id}/resources_learner_dashboard", :data-reveal-id => 'resources', :data-reveal-ajax =>'true', style: "{% if branding and branding.text_colors %} color: #{branding.text_colors};{% endif %}"}
              %i.fa.fa-file-text-o.header-link
            %a.header-link{:data-reveal-id => 'contact-ta', :data-reveal-ajax =>'true', style: "{% if branding and branding.text_colors %} color: #{branding.text_colors};{% endif %}"} TA
