- extends "layout.haml"

- block program_bar
  .row
    .large-12.columns.background-alt-blue.program-bar
      - if program
        .label-4.program-name<
          = program.name
      %h4.course-name
        = course.name
      - if program
        .program-menu
          %a{href:"#", "data-dropdown": "program-menu-content"}
            %i.fa.fa-bars
          #program-menu-content.program-menu-content{"data-dropdown-content":"true"}
            - include "courses/content_page/program_menu.haml"

- block content
  .row
    .large-11.large-centered.columns.home-page
      - include "courses/content_page/course_menu.haml"
      - include "courses/content_page/course_discover.haml"
      %hr
      %article.course-quote
        %blockquote= quote.body
        .attribution
          %img{src:'http://dummyimage.com/50x50/aaa/000'}
          .person-name= quote.byline
          .person-title= quote.byline_title
  .row
    .current_course_link
      %a{href:"/courses"}
        Where I last left things&hellip;
