- extends "courses/course_navigation_ld.haml"
- load i18n
- load staticfiles

- block current_content
  %link{'rel': 'stylesheet', "href": "{% static 'css/jquery-ui.min.css' %}"}
  %script{"src": "{% static 'js/highcharts/highcharts.js' %}"}
  %script{"src": "{% static 'js/highcharts/highcharts-more.js' %}"}
  #course-lessons{'data-course-url': '/learnerdashboard#{course.current_module.navigation_url}/lesson/#{tile_id}/#{learner_dashboard.id}', 'data-tile-id': '#{tile_id}', 'data-current-progress': '#{user_progress}'}
    - if apros_features.notes
      - include 'courses/lesson_notes.haml'
    .lesson-title
      %span.label-4.lesson-index {% trans "Lesson" %} #{course.current_lesson.index}:
      %span.label-3.lesson-name= course.current_lesson.name
    %h1
      %a{'data-reveal-id': 'module_list', "data-tooltip": "{% trans 'Lesson Modules' %}"}
        %i.fa.fa-list-ul
      = course.current_module.name
    - block lesson_content
      .lesson-content
      .lesson-discussion
    - include "courses/content_page/lesson_pager.haml"
  #module_list.reveal-modal.tiny.lesson-modules-modal{'data-reveal': True}
    %p.style-2 {% blocktrans with course_current_progress=course.current_lesson.progress lesson_index=course.current_lesson.index %}You have completed {{ course_current_progress }}% of Lesson {{ lesson_index }}: {% endblocktrans %}
    %ul
      - for module in course.current_lesson.modules
        %li.lesson-row-item
          %i.status.fa{"class": "fa{% if module.is_complete %}-check{% endif %}-circle"}
          .lesson-item-name
            %a{"href": "/learnerdashboard#{module.navigation_url}/#{tile_type}/#{tile_id}/#{learner_dashboard.id}", "class": "{% if module.is_current %}current{% endif %}"}
              {% trans "Module" %} #{module.index}:
            %span= module.name
    .close-reveal-modal
      %i.fa.fa-times-circle

- block footer
  - include 'footer_ld.haml'

- block js_snippets
  %script{src: '/static/js/course_learner_dashboard/tile_progress_update.js'}
  %script{src: '/static/js/course_learner_dashboard/lesson_url_to_view.js'}
  %script{src: "{% static 'js/course_learner_dashboard/learner_dashboard_calendar_load.js' %}"}
  :javascript
    $(function(){
      var lesson_content = $('#{{ lesson_content_parent_id }} .lesson-content');
      var lesson_data = {
        courseId: '{{ legacy_course_id }}',
        usageId: '{{ course.current_module.vertical_id }}',
        sessionId: '{{ remote_session_key }}',
        baseDomain: '{{ lms_base_domain }}',
        lmsSubDomain: '{{ lms_sub_domain }}',
        lmsPort: '{{ lms_port }}',
        jumpLinkRewriter: Apros.jumpLinkRewriter,
        data: {
            activate_block_id: Apros.getParameterByName('activate_block_id'),
        },
        {% if use_current_host %}
        useCurrentHost: true,
        {% endif %}
      };
      // Temporary hack to prevent xblock-ooyala from loading the ooyala player library.
      // Ooyala player is always loaded in apros, so no need to load it again for the xblock.
      // The hash corresponds to the ooyala player JS library script.
      lesson_content.data('loaded_resource_hashes', ['207f215b40019e34c7c46cb5b46b140e']);
      lesson_content.xblock(lesson_data);
      // we need this to add some browser specific CSS rules
      lesson_content.attr( "data-useragent", navigator.userAgent);
      $('#course-group-work .lesson-module-status').on('click', function(){
        $('#' + $(this).data('activate')).click();
      });
    });
