- extends "courses/course_navigation.haml"
- block current_content
  #course-lessons
    %a.global-help{'data-reveal-id': 'mckinsey_help'}
      %i.fa.fa-question-circle
    .lesson-title
      %span.label-4.lesson-index Lesson {{course.current_lesson.index}}:
      %span.label-3.lesson-name= course.current_lesson.name
      %span.label-3.page-desc= course.current_lesson.description
    %h1
      %i.fa.fa-list-ul{'data-reveal-id': 'module_list'}
      = current_page.name
    .lesson-content
    .lesson-discussion
    - include "courses/content_page/lesson_pager.haml"
  #module_list.reveal-modal.tiny{'data-reveal': True}
    %p.style-2 You have completed ={current_chapter.progress}% of Lesson ={current_chapter.index}:
    %ul
      - for module in course.current_lesson.modules
        %li
          %i.fa{class: "fa{% if module.is_complete %}-check{% endif %}-circle"}
          %a.module{href: "#{module.navigation_url}", class: "{% if module.is_current %}current{% endif %}"}
            Module ={module.index}:
          %span.label-3= module.name
    .close-reveal-modal
      %i.fa.fa-times-circle

- block js_snippets
  :javascript
    $(function(){
      var lesson_content = $('#{{ lesson_content_parent_id }} .lesson-content');
      var lesson_data = {
        courseId: '{{ legacy_course_id }}',
        usageId: '{{ vertical_usage_id }}',
        sessionId: '{{ remote_session_key }}',
        baseDomain: '{{ lms_base_domain }}',
        lmsSubDomain: '{{ lms_sub_domain }}',
      };
      lesson_content.xblock(lesson_data);

      $('#course-group-work .lesson-module-status').on('click', function(){
        $('#' + $(this).data('activate')).click();
      });
    });
