- extends "courses/course_navigation.haml"
- block current_content
  #course-lessons
    %a.global-help{'data-reveal-id': 'mckinsey_help'}
      %i.fa.fa-question-circle
    .lesson-title
      %span.label-4.lesson-index Lesson {{current_chapter.index}}:
      %span.label-3.lesson-name= current_chapter.name
      %span.label-3.page-desc= current_page.description
    %h1= current_page.name
    .lesson-content
    .lesson-discussion
    - include "courses/content_page/lesson_pager.haml"
  #module_list.reveal-modal.tiny{'data-reveal': True}
    %p.style-2 You have completed ={current_chapter.progress}% of Lesson ={current_chapter.index}:
    %ul
      - for page in current_sequential.pages
        %li
          - if page.status_class == 'complete'
            %i.fa.fa-check-circle
          - else
            %i.fa.fa-circle
          %a.module{href: "#{page.navigation_url}", class: "#{page.status_class}"}
            Module ={page.index}:
          %span.label-3= page.name
    .close-reveal-modal
      %i.fa.fa-times-circle

- block js_snippets
  :javascript
    $(function(){
      var lesson_content = $('#{{ lesson_content_parent_id }} .lesson-content');
      var lesson_data = {
        courseId: '{{ legacy_course_id }}',
        usageId: '{{ vertical_usage_id }}',
        sessionId: '{{ remote_session_key }}',
        baseDomain: '{{ lms_base_domain }}',
        lmsSubDomain: '{{ lms_sub_domain }}',
      };
      lesson_content.xblock(lesson_data);

      $('#course-group-work .lesson-module-status').on('click', function(){
        $('#' + $(this).data('activate')).click();
      });
    });
