#course-overview
  %ul.meta-info
    %li.label-4 Details:
    %li.label-3 10 lessons
    %li.label-3 32 videos
    %li.label-3 9 assessments
    %li.label-3 72 exercises
    %li.label-3 1 group project
    %li.label-3 15 readings
  %h1= course.name
  .overview
    .sub-1 Overview
    {% autoescape off %}
    %p= overview.about
    {% endautoescape %}
  %hr
  .row.collapse
    .large-7.columns.col-left
      .video-preview
        .thumb
          %img{src: 'http://dummyimage.com/450x255/000/fff&text=preview'}
        .video-overview
          %span Course Overview
          %time.label-2 2:08
      %hr
      .faculty
        .sub-1 Faculty
        - for teacher in overview.faculty
          - if teacher.idx == 0
            %input{id: "faculty_#{teacher.idx}", type: 'radio', name: 'faculty_tabs', checked: None}
          - else
            %input{id: "faculty_#{teacher.idx}", type: 'radio', name: 'faculty_tabs'}
          %label{for: "faculty_#{teacher.idx}"}
            %img{src: "#{teacher.image_src}"}
        - for teacher in overview.faculty
          %div.teacher{id: "teacher_#{teacher.idx}"}
            %h2= teacher.name
            {% autoescape off %}
            %p.style-2= teacher.bio
            {% endautoescape %}
    .large-5.columns.col-right
      .sub-1 WHAT YOU WILL LEARN
      %p After this course, you will be able to:
      %ul
        %li Distill an ambiguous business situation with many confounding elements into the basic question that needs to be answered
        %li Disaggregate a complex problem into smaller, more manageable pieces and identify issues that are MECE (mutually exclusive, collectively exhaustive)
        %li Categorize and prioritize issues into actionable categories, by evaluating them on specific criteria such as impact and feasibility
        %li Set-up, plan, and structure appropriate analyses through several different types of workplans
        %li Extract the most relevant data by using a suite of creative data-collection and analysis techniques
        %li Step back and distinguish the most important aspects of work to be communicated to stakeholders through a top-down, structured storyline
        %li Create recommendations that are actionable and feasible for stakeholders, as well as appropriate for a senior-management audience
