- extends "layout.haml"
- load staticfiles

- block page_title
  %title
    = program.display_name
    = _(" | Courses | McKinsey Academy")

- block custom_css
  -# lms-discussion-main.css is spiltted to two files for IE9
  /[if IE 9]
    %link{rel: "stylesheet", href: "{% static 'css/lms-discussion-main.0.min.css' %}"}
    %link{rel: "stylesheet", href: "{% static 'css/lms-discussion-main.1.min.css' %}"}

- block content
  #home-courses
    .row
      .large-10.large-centered.columns
        - include "courses/content_page/course_statistics.haml"
        %hr
        - include "courses/content_page/course_menu.haml"
        %hr
        - if course.ended
          - include "courses/content_page/course_final_grade.haml"
        - else
          - include "courses/content_page/course_discover.haml"
        %hr
        %article.course-quote
          %blockquote= quote.body
          .attribution
            %img{src: "#{quote.thumbnail_url}"}
            .person-name= quote.byline
            .person-title= quote.byline_title

  #beta_visualizations.reveal-modal.large{'data-reveal': None}
    .close-reveal-modal
      %i.fa.fa-times-circle
    %p This is the McKinsey Academy Beta and we are happy to have you participate ahead of the official public launch!
    %p As a beta user, you will occasionally see pages and features like this one in early stages of development. Please feel free to explore, and we’ll continue to add features and functionality in the coming weeks.
    .screencap
      %img{src: '/static/image/McKA_home_progress_v12.png'}
