- extends "courses/course_navigation.haml"
- load staticfiles

- block page_title
  %title
    = program.display_name
    = _(" | Discussion | Courses | McKinsey Academy")

- block help_context
  #mckinsey_help.reveal-modal.small{'data-reveal': None}
    .close-reveal-modal
      %i.fa.fa-times-circle
    .sub-1 Discussion
    %p Below are helpful tips to engage in discussions with your cohort or group members (via private discussions). You may also find answers to your questions in the <a href="/faq">FAQ</a>. Can’t find the answer there? Please contact us directly at <a href="mailto:support@mckinseyacademy.com">support@mckinseyacademy.com</a> and we’ll sort it out for you.
    .help-line Access discussions using the <i class="fa fa-comments-o"></i> icon in the main navigation bar
    .help-line FIND DISCUSSIONS tools help you focus on specific topics <i class="fa fa-bars"></i> search for specific posts, and sort by date, vote, or comments <i class="fa fa-search"></i>
    .help-line ENGAGE WITH POSTS features allow you to upvote posts and good responses <i class="fa fa-plus"></i>, report forum misuse <i class="fa fa-flag"></i> and follow posts for updates <i class="fa fa-star"></i>.
    .help-line RECEIVE UPDATES by checking the box near the <i class="fa fa-envelope"></i> icon to receive a daily email digest notifying you about new, unread activity from posts you are following
    .help-line You can email your McKinsey TA who is displayed in the upper left corner of the page
    .help-line This video walks you through the learner experience:
    #mk-help-video{'data-video-id': "xxeGhmcDoM9TuNW1LQil2luNyHUSokt2"}

- block custom_css
  -# lms-discussion-main.css is spiltted to two files for IE9 or below
  /[if lte IE 9]
    %link{rel: "stylesheet", href: "{% static 'css/lms-discussion-main.0.min.css' %}"}
    %link{rel: "stylesheet", href: "{% static 'css/lms-discussion-main.1.min.css' %}"}
- block current_content
  #course-discussion
    %a.global-help{'data-reveal-id': 'mckinsey_help'}
      %i.fa.fa-question-circle
    - if not has_course_discussion
      .row
        .error= _("No Discussion has been configured for this course")
    - else
      .row
        .large-12.medium-12.columns
          .discussion-content
      - include "courses/contact_ta.haml"
- block js_snippets
  %script{src: "{% static 'js/course_contact_modal.js' %}"}
  :javascript
    window.onload = (function(){
      var discussion_content = $('#course-discussion .discussion-content');
      var discussion_data = {
        courseId: '{{ legacy_course_id }}',
        usageId: '{{ vertical_usage_id }}',
        sessionId: '{{ remote_session_key }}',
        baseDomain: '{{ lms_base_domain }}',
        lmsSubDomain: '{{ lms_sub_domain }}',
        lmsPort: '{{ lms_port }}',
        jumpLinkRewriter: Apros.jumpLinkRewriter,
        {% if use_current_host %}
        useCurrentHost: true,
        {% endif %}
      };
      $.when.apply($, discussion_content.xblock(discussion_data)).
        done(function() {
          if ($('#discussion-ta-template').length > 0) {
            $('.discussion-body').prepend($("#discussion-ta-template").html());
          }
      });
    })
  - if mcka_ta and not course.ended
    %script#discussion-ta-template{type: "text/template"}
      .ask-ta
        .group-member
          %img.avatar{:src => "#{mcka_ta.image_url}" }
            .person-info
              .person-username= mcka_ta.username
              .person-fullname= mcka_ta.formatted_name
              - if mcka_ta.title
                .person-title{:title => "#{mcka_ta.title}"}
                  = mcka_ta.title
              .email
                %a.email-member{'data-member-email': '', 'data-reveal-id': 'contact-ta'}
                  Email
