- extends "courses/course_navigation.haml"
- block current_content
  #course-group-work
    - if not group_project or not project_group
      .row
        .error= _("Group work has not yet begun for this course. You will receive a message with information once it begins")
    - else
      .row
        - include "courses/group_work/activity_menu.haml"
      .row
        .large-8.medium-8.columns
          .lesson-title
            %span= _("Group Project:")
            %span= group_project.name
          .lesson-content
        .large-4.medium-4.columns.sidebar
          .group-members
            %h4= _("Group Members")
            - for member in project_group.members
              - include "courses/group_work/group_member.haml" with group_member=member
            - if project_group.id
              %a.email-team{href: "#", data-reveal-id: 'email-team'}
                = _("Email Team")
          %hr
          .ask-ta
            %h4= _("Ask a TA")
            -# Temporarily use mailto: for ta link as well (add data_reveal_id back in for when dialog should be introduced
            - include "courses/group_work/group_member.haml" with group_member=project_group.teaching_assistant data_reveal_id="contact-ta"
            -# include "courses/group_work/group_member.haml" with group_member=project_group.teaching_assistant
      #contact-ta.reveal-modal.small{"data-reveal": "true"}
        .close-reveal-modal
          %i.fa.fa-times-circle
        %h2= _("Ask a TA")
        %hr
        %h4= _("Subhead")
        %div= _("Post your question here and your TA will receive your request")
        %form#contact-ta-form{action: "/courses/#{course.id}/teaching_assistant", method: "POST"}
          .error
            - if error
              = error
          - csrf_token
          %textarea{placeholder: "Enter your message for the TA here", name: "ta_message"}
          %input.button.radius.small{type: "submit", value: "Submit"}
      #email-team.reveal-modal.small{"data-reveal": "true"}
        .close-reveal-modal
          %i.fa.fa-times-circle
        %h2= _("Message your Group")
        %hr
        %h4= _("Subhead")
        %div= _("Post any questions or messages you have for your group here.")
        %form#email-team-form{action: "/courses/#{course.id}/group_email/#{project_group.id}", method: "POST"}
          .error
            - if error
              = error
          - csrf_token
          %textarea{placeholder: "Enter your message for the group here", name: "group_message"}
          %input.button.radius.small{type: "submit", value: "Submit"}
      #email-member.reveal-modal.small{"data-reveal": "true"}
        .close-reveal-modal
          %i.fa.fa-times-circle
        %h2= _("Message member")
        %hr
        %h4= _("Subhead")
        %div= _("Post any questions or messages you have for your group member.")
        %form#email-member-form{action: "/courses/#{course.id}/group_member_email", method: "POST"}
          .error
            - if error
              = error
          - csrf_token
          %textarea{placeholder: "Enter your message here", name: "member_message"}
          %input#member-email{'type': 'hidden', 'name': 'member-email'}
          %input.button.radius.small{type: "submit", value: "Submit"}
- block js_snippets
  :javascript
    $(function(){
      $('#email-team-form, #contact-ta-form, #email-member-form').on('submit', function(e){
        e.preventDefault();
        var that = $(this);
        data = that.serialize();
        data["csrfmiddlewaretoken"] = $.cookie('apros_csrftoken');
        $.ajax(
          {
            url: that.attr('action'),
            method: 'POST',
            data: data
          }).done(function(data){
            alert(data.message);
            $('#' + that.attr('id').split('-form')[0]).foundation('reveal', 'close');
          })
      });
      $('.email-member').on('click', function(){
        $('#member-email').val($(this).data('member-email'));
      });

      var group_activity_step_map = {};
      $(document).on('steps_available', function(target, step_map){
        group_activity_step_map = step_map;
        var activity_dots = $('.activity_dots');
        var ordered_list = group_activity_step_map.ordered_list;
        for(var i=0; i<ordered_list.length; ++i){
          var step = group_activity_step_map[ordered_list[i]];
          var dot = $('<a>')
            .addClass('lesson-module-status')
            .attr('href', '#')
            .attr('title', step.name)
            .attr('data-activate', ordered_list[i]);
          activity_dots.append(dot);
        }
      });

      $(document).on('select_stage', function(target, activate_id){
        var ordered_list = group_activity_step_map.ordered_list;
        var add_class = "complete";
        $('.activity_dots .lesson-module-status').removeClass('complete current');
        for(var i=0; i<ordered_list.length; ++i){
          if(ordered_list[i] == activate_id){
            $('.activity_dots .lesson-module-status[data-activate='+activate_id+']')
              .addClass('current');
            add_class = null;
          }
          else if(add_class){
            $('.activity_dots .lesson-module-status[data-activate='+ordered_list[i]+']')
              .addClass(add_class);
          }
        }
      });

      $('#course-group-work').on('click', '.lesson-module-status', function(){
        $(document).trigger('select_stage', $(this).data('activate'));
      });

      var lesson_content = $('#{{ lesson_content_parent_id }} .lesson-content');
      var lesson_data = {
        courseId: '{{ course_id }}',
        usageId: '{{ vertical_usage_id }}',
        sessionId: '{{ remote_session_key }}',
        baseDomain: '{{ lms_base_domain }}',
        lmsSubDomain: '{{ lms_sub_domain }}',
      };
      lesson_content.xblock(lesson_data);

    });
