- extends "courses/course_main.haml"

- block page_title
  %title
    = request.session.client_display_name
    = " | "
    = program.display_name
    = _(" | McKinsey Academy | ")
    = course.current_lesson.name

- block content
  %article.row
    .medium-10.medium-centered.columns.course-page
      - block current_content
