- load i18n
%header
  %h1
    {% trans "Roles for " %}
    #{user.username}
  %p.description
    

.close-reveal-modal
  %i.fa.fa-times-circle

%form.admin-form{action: "/admin/permissions/#{user.id}/edit", method: "POST"}
  - csrf_token

  %table
    %tbody
      - for permission in form.permissions
        %tr
          %td
            = permission

  - if form.per_course_roles

    %hr

    .sub-1 {% trans "Course specific roles" %}
    %p.description {% trans "Below are the courses this user is enrolled in." %}

    %table
      %thead
        %tr
          %th
          - for role in form.available_roles
            %th.text-center
              = role.1
      %tbody
        - for field in form.per_course_roles
          %tr
            %td
              = field.label
            - for choice in field
              %td.text-center
                = choice.tag

  .error
    - if error
      = error

  .submit-area
    %input.button.radius.small{type: "submit", value: "#{submit_label}"}
