- extends 'admin/admin_layout.haml'
- load i18n
- load staticfiles
- block content
  .admin-list
    .row
      .large-10.large-centered.columns
        %header
          %h1 {% trans "Manage Roles and Permissions" %}
          .sub-1 
          .add-message
        %hr
        - if organization_options
          %select#company_filter
            -for org in organization_options
              - if organization_id == org.0
                %option{value: "={org.0}", selected: "selected"}
                  = org.1
              - else
                %option{value: "={org.0}" }
                  = org.1
        %section
          %table.data-table
            %thead
              %th.label-1 {% trans "User" %}
                %span.label-1.asc
                  %i.fa.fa-caret-up
                %span.label-1.desc
                  %i.fa.fa-caret-down
              %th.label-1 {% trans "Roles(s)" %}
                %span.label-1.asc
                  %i.fa.fa-caret-up
                %span.label-1.desc
                  %i.fa.fa-caret-down
              %th
              %th.label-1 {% trans "Company" %}
                %span.label-1.asc
                  %i.fa.fa-caret-up
                %span.label-1.desc
                  %i.fa.fa-caret-down
              %th
            %tbody
              - for user in users
                %tr{data-id: "#{user.id}"}
                  %td
                    %a{"data-reveal-id": "edit-permissions", "data-reveal-ajax": "/admin/permissions/={user.id}/edit", href: ""}
                      = user.username
                  %td= user.roles
                  %td
                    %a{href: "mailto:#{user.email}"}= user.email
                  %td= user.company_list
                  %td
                    %a.fa.fa-pencil{"data-reveal-id": "edit-permissions", "data-reveal-ajax": "/admin/permissions/={user.id}/edit", href: ""}

  #edit-permissions.reveal-modal.small{"data-reveal": "true"}
- block js_snippets
  %script{src: "{% static 'js/ajaxify_overlay_form.js' %}"}
  :javascript
    $('.data-table').dataTable({
      paging: false,
      "dom": '<"top small-6"f>rt<"bottom"ilp><"clear">'
    });

    ajaxify_overlay_form('#edit-permissions', 'form');
    $('#company_filter').on('change', function() {
       window.location.search = 'organization=' + $(this).val();
    })
