- extends "admin/admin_layout.haml"

- block content
  .row
    %p This is the course meta content list page.
    %p
    %table
      %tr
        %td ID
        %td SEQUENCE
        %td TITLE
        %td TYPE
        %td
        %td

      - for item in items
        %tr
          %td
            = item.id
          %td
            = item.sequence
          %td
            = item.title
          %td
            = item.content_type
          %td
            %a{href: '/admin/course-meta-content/item/#{item.id}/edit'}
              Edit
          %td
            %a{href: '/admin/course-meta-content/item/#{item.id}/delete'}
              Delete
    %p
      %a{href: '/admin/course-meta-content/item/new?course_id=#{course_id}'} Create New Item
  #feature-flags.row
    %p This is the course feature list.
    %form#feature-flags-form{action: "/courses/#{course_id}/feature_flag", method: 'POST'}
      - csrf_token
      %ul
        %li
          - if feature_flags.discussions
            %input#discussions{type: 'checkbox', name: 'discussions', checked: None}
          - else
            %input#discussions{type: 'checkbox', name: 'discussions'}
          %label{for: 'discussions'} Discussions
          %p.style-6 Note: If you disable the discussion page, notifications coming from existing lesson inline discussion modules in the course will redirect the user to the course home page. It is suggested that lesson inline discussion modules are not present in courses without discussions enabled.
        %li
          - if feature_flags.group_work
            %input#group_work{type: 'checkbox', name: 'group_work', checked: None}
          - else
            %input#group_work{type: 'checkbox', name: 'group_work'}
          %label{for: 'group_work'} Group Work
        %li
          - if feature_flags.cohort_map
            %input#cohort_map{type: 'checkbox', name: 'cohort_map', checked: None}
          - else
            %input#cohort_map{type: 'checkbox', name: 'cohort_map'}
          %label{for: 'cohort_map'} Cohort Map
        %li
          - if feature_flags.proficiency
            %input#cohort_map{type: 'checkbox', name: 'proficiency', checked: None}
          - else
            %input#cohort_map{type: 'checkbox', name: 'proficiency'}
          %label{for: 'proficiency'} Proficiency
        %li
          - if feature_flags.progress_page
            %input#cohort_map{type: 'checkbox', name: 'progress_page', checked: None}
          - else
            %input#cohort_map{type: 'checkbox', name: 'progress_page'}
          %label{for: 'progress_page'} Progress Page
        %li
          - if feature_flags.notifications
            %input#cohort_map{type: 'checkbox', name: 'notifications', checked: None}
          - else
            %input#cohort_map{type: 'checkbox', name: 'notifications'}
          %label{for: 'notifications'} Notifications
        %li
          - if feature_flags.branding
            %input#cohort_map{type: 'checkbox', name: 'branding', checked: None}
          - else
            %input#cohort_map{type: 'checkbox', name: 'branding'}
          %label{for: 'learner_dashboard'} Branding
        %li
          - if feature_flags.learner_dashboard
            %input#cohort_map{type: 'checkbox', name: 'learner_dashboard', checked: None}
          - else
            %input#cohort_map{type: 'checkbox', name: 'learner_dashboard'}
          %label{for: 'learner_dashboard'} Learner Dashboard
        %li
          - if feature_flags.resources
            %input#cohort_map{type: 'checkbox', name: 'resources', checked: None}
          - else
            %input#cohort_map{type: 'checkbox', name: 'resources'}
          %label{for: 'resources'} Resources
        %li
          - if feature_flags.cohort_avg
            %input#cohort_avg{type: 'checkbox', name: 'cohort_avg', checked: None}
          - else
            %input#cohort_avg{type: 'checkbox', name: 'cohort_avg'}
          %label{for: 'cohort_avg'} Cohort Average