- extends "admin/admin_layout.haml"
- load i18n

- block content
  .row
    %p {% trans "This is the course meta content list page." %}
    %p
    %table
      %tr
        %td {% trans "ID" %}
        %td {% trans "SEQUENCE" %}
        %td {% trans "TITLE" %}
        %td {% trans "TYPE" %}
        %td
        %td

      - for item in items
        %tr
          %td
            = item.id
          %td
            = item.sequence
          %td
            = item.title
          %td
            = item.content_type
          %td
            %a{href: '/admin/course-meta-content/item/#{item.id}/edit'}
              {% trans "Edit" %}
          %td
            %a{href: '/admin/course-meta-content/item/#{item.id}/delete'}
              {% trans "Delete" %}
    %p
      %a{href: '/admin/course-meta-content/item/new?course_id=#{course_id}'}
        {% trans "Create New Item" %}
  #feature-flags.row
    %p {% trans "This is the course feature list." %}
    %form#feature-flags-form{action: "/courses/#{course_id}/feature_flag", method: 'POST'}
      - csrf_token
      %ul
        %li
          - if feature_flags.discussions
            %input#discussions{type: 'checkbox', name: 'discussions', checked: None}
          - else
            %input#discussions{type: 'checkbox', name: 'discussions'}
          %label{for: 'discussions'}
            {% trans "Discussions" %}
          %p.style-6 {% trans "Note: If you disable the discussion page, notifications coming from existing lesson inline discussion modules in the course will redirect the user to the course home page. It is suggested that lesson inline discussion modules are not present in courses without discussions enabled. It will also disable Engagement section from Leaderboard even if 'Engagement' flag is enabled." %}
        %li
          - if feature_flags.group_work
            %input#group_work{type: 'checkbox', name: 'group_work', checked: None}
          - else
            %input#group_work{type: 'checkbox', name: 'group_work'}
          %label{for: 'group_work'}
            {% trans "Group Work" %}
        %li
          - if feature_flags.cohort_map
            %input#cohort_map{type: 'checkbox', name: 'cohort_map', checked: None}
          - else
            %input#cohort_map{type: 'checkbox', name: 'cohort_map'}
          %label{for: 'cohort_map'}
            {% trans "Cohort Map" %}
        %li
          - if feature_flags.proficiency
            %input#cohort_map{type: 'checkbox', name: 'proficiency', checked: None}
          - else
            %input#cohort_map{type: 'checkbox', name: 'proficiency'}
          %label{for: 'proficiency'}
            {% trans "Proficiency" %}
          %p.style-6 {% trans "Note: If you disable 'Proficiency', it will hide proficiency section from course landing, progress page and from leaderboard on cohort page." %}
        %li
          - if feature_flags.progress_page
            %input#cohort_map{type: 'checkbox', name: 'progress_page', checked: None}
          - else
            %input#cohort_map{type: 'checkbox', name: 'progress_page'}
          %label{for: 'progress_page'}
            {% trans "Progress Page" %}
          %p.style-6 {% trans "Note: If you disable 'Progress Page', it will hide progress page icon from secondary navigation." %}
        %li
          - if feature_flags.notifications
            %input#cohort_map{type: 'checkbox', name: 'notifications', checked: None}
          - else
            %input#cohort_map{type: 'checkbox', name: 'notifications'}
          %label{for: 'notifications'}
            {% trans "Notifications" %}
        %li
          - if feature_flags.branding
            %input#cohort_map{type: 'checkbox', name: 'branding', checked: None}
          - else
            %input#cohort_map{type: 'checkbox', name: 'branding'}
          %label{for: 'learner_dashboard'}
            {% trans "Branding" %}
        %li
          - if feature_flags.learner_dashboard
            %input#cohort_map{type: 'checkbox', name: 'learner_dashboard', checked: None}
          - else
            %input#cohort_map{type: 'checkbox', name: 'learner_dashboard'}
          %label{for: 'learner_dashboard'}
            {% trans "Learner Dashboard" %}
        %li
          - if feature_flags.resources
            %input#cohort_map{type: 'checkbox', name: 'resources', checked: None}
          - else
            %input#cohort_map{type: 'checkbox', name: 'resources'}
          %label{for: 'resources'}
            {% trans "Resources" %}
        %li
          - if feature_flags.cohort_avg
            %input#cohort_avg{type: 'checkbox', name: 'cohort_avg', checked: None}
          - else
            %input#cohort_avg{type: 'checkbox', name: 'cohort_avg'}
          %label{for: 'cohort_avg'}
            {% trans "Cohort Average" %}
        %li
          - if feature_flags.certificates
            %input#certificates{type: 'checkbox', name: 'certificates', checked: None}
          - else
            %input#certificates{type: 'checkbox', name: 'certificates'}
          %label{for: 'certificates'}
            {% trans "Certificates" %}
        - if has_advanced_settings_permissions
          %li
            - if mobile_available
              %input#mobile_available{type: 'hidden', name: 'mobile_available', value: 'off'}
              %input#mobile_available{type: 'checkbox', name: 'mobile_available', checked: None}
            - else
              %input#mobile_available{type: 'checkbox', name: 'mobile_available'}
            %label{for: 'mobile_available'}
              {% trans "Mobile Available" %}
        %li
          - if feature_flags.engagement
            %input#engagement{type: 'checkbox', name: 'engagement', checked: None}
          - else
            %input#engagement{type: 'checkbox', name: 'engagement'}
          %label{for: 'engagement'}
            {% trans "Engagement" %}
          %p.style-6 {% trans "Note: If you disable 'Engagement', it will hide Engagement section from leaderboard." %}
        %li
          - if feature_flags.discover
            %input#discover{type: 'checkbox', name: 'discover', checked: None}
          - else
            %input#discover{type: 'checkbox', name: 'discover'}
          %label{for: 'discover'}
            {% trans "Discover" %}
          %p.style-6 {% trans "Note: If you disable the 'Discover', it will hide Discover section from course main page." %}
