- extends "admin/admin_layout.haml"

- block content
  .row{style: "margin-top:80px;"}
    %p This is the course meta content list page.
    %p
    %table
      %tr
        %td ID
        %td SEQUENCE
        %td TITLE
        %td TYPE
        %td
        %td
    
      - for item in items
        %tr
          %td 
            = item.id
          %td 
            = item.sequence
          %td
            = item.title
          %td
            = item.content_type
          %td
            %a{href: '/admin/course-meta-content/item/#{item.id}/edit'}
              Edit
          %td
            %a{href: '/admin/course-meta-content/item/#{item.id}/delete'}
              Delete
    %p 
      %a{href: '/admin/course-meta-content/item/new?course_id=#{course_id}'} Create New Item
